// Hide titlebar
.theme-dark .container__4bde3{
    padding-top: 32px;
    top: -32px;
}

// Source: C:\Windows\System32\oobe\FirstLogonAnim.html
@keyframes fluent-loading-blob1-path{
    0%{
        top:50vh;
        left:50vw;
        width:5vw;
        height:5vw;
        opacity:0.5;
    }
    50%{
        top:0vh;
        left:45vw;
        width:60vw;
        height:60vw;
        opacity: 1;
    }
    100%{
        top:50vh;
        left:50vw;
        width:5vw;
        height:5vw;
        opacity:0.5;
    }
}
@keyframes fluent-loading-blob2-path {
    0%{
        top:40vh;
        left:45vw;
        width:15vw;
        height:15vw;
    }
    50%{
        top:37vh;
        left:-10vw;
        width:80vw;
        height:80vw;
    }
    100%{
        top:40vh;
        left:45vw;
        width:15vw;
        height:15vw;
    }
}
@keyframes fluent-loading-blob3-path {
    0%{
        top:30vh;
        left:30vw;
        width:25vw;
        height:25vw;
    }
    50%{
        top:-50vh;
        left:-20vw;
        width:120vw;
        height:120vw;
    }
    100%{
        top:30vh;
        left:30vw;
        width:25vw;
        height:25vw;
    }
}
@keyframes fluent-loading-blob-fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.theme-dark .container__4bde3{
    background-color: #000;

    // Loading blob animations
    &::before,
    &::after{
        content: "";
        position: absolute;
    }
    &::before{
        background: radial-gradient(50% 50% at 50% 50%, rgba(12, 119, 255, 0.3) 15.62%, rgba(12, 119, 255, 0) 100%);
        animation: fluent-loading-blob1-path 15s infinite, fluent-loading-blob-fade 1332ms ease-out;
    }
    &::after{
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 56, 255, 0.3) 15.62%, rgba(12, 119, 255, 0) 100%);
        animation: fluent-loading-blob2-path 20s infinite, fluent-loading-blob-fade 1332ms ease-out;
    }
}
.content__0e954{
    width: 64px;
    height: 64px;
    &::before{
        content: "";
        position: absolute;
        display: block;
        background: radial-gradient(50% 50% at 50% 50%, rgba(65, 56, 210, 0.5) 15.62%, rgba(65, 56, 210, 0) 100%);
        animation: fluent-loading-blob3-path 30s infinite, fluent-loading-blob-fade 1332ms ease-out;
    }
}

.content__0e954{
    video{
        display: none;
    }
    &::after{
        content: "Connecting";
        width: 100%;
        position: absolute;
        left: 0;
        color: $TextFillColorPrimary;
        @include TypeSubtitle;
        text-align: center;
    }

    // Loading circle
    .text__32559{
        width: 64px;
        height: 64px;
        display: block;
        animation: fluent-loading-circle 1.5s linear infinite;
        .body_c562e6{
            line-height: unset;
            font-size: 0;

            width: 64px;
            height: 64px;
            position: absolute;

            background-color: transparent;
            clip: rect(0, 64px, 64px, 32px);
            animation: fluent-loading-circle-progress-1 5s linear infinite;
            &::after{
                content: "";
                position: absolute;
                height: 64px;
                width: 64px;
                top: 0;
                left: 0;
                clip: rect(0, 64px, 64px, 32px);
                border: 3px solid #FFF;
                border-radius: 50%;
                animation: fluent-loading-circle-progress-2 5s linear infinite;
                box-sizing: border-box;
            }
        }

        .tipTitle_a7615c,
        .tip__6e299{
            display: none;
        }
    }
}

// Links
.problemsText__046e8{
    color: $TextFillColorPrimary;
}
.anchor-1MIwyf{
    color: $AccentTextFillColorPrimary;
}
