.theme-dark{
    ._5e434347c823b592-guilds{
        width: 60px;
        background-color: transparent;
        // box-shadow: inset 0 0 0 1px $Green;
    }
    // Increase bottom margin of guilds list so there is a consistent margin around the account box
    .ef3116c2da186559-wrapper {
        margin-bottom: calc(var(--custom-app-panels-height, 0) + 16px);
    }

    // Reduce gap between guilds
    .dbd2630aec71879b-stack{
        gap: 4px !important; // Override inline
    }

    // Pill
    .e5445cbd3ad226f2-pill, // Normal guild
    .ed9a5f50013e19ac-pill, // DM
    ._1f388bcaa446c0c8-pill{ // Home
        ._581051df43c5ebb6-item{
            width: 3px;
            height: 16px !important; // Override inline
            margin-left: 0;
            background-color: $TextFillColorPrimary;
            border-radius: 999px;
            // Normal state
            @for $i from 9 through 20{
                &[style*="height: #{$i}"]{
                    background-color: $TextFillColorPrimary;
                }
            }
            // Selected
            @for $i from 21 through 40{
                &[style*="height: #{$i}"]{
                    background-color: $AccentFillColorDefault;
                }
            }
        }
    }

    // Guild icon
    ._650eb104245d257b-listItem{
        width: 44px;
        // height: 44px;
        margin-left: 8px;
        // box-shadow: inset 0 0 0 1px $Red;
    }
    .cc5dd25190031396-wrapper{
        width: 44px !important; // Override inline
        height: 44px !important; // Override inline
        border-radius: 4px;
        svg{
            width: 44px;
            height: 44px;
            top: 0;
            left: 0;
            ._6e9f8dce4cc18de3-icon{
                width: 36px;
                height: auto;
                border-radius: 50%;
            }
        }
    }
    // Guild with no icon
    ._6e9f8dce4cc18de3-childWrapper {
        background-color: transparent;
        &:hover{
            background-color: transparent;
        }
    }
    ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper{
        background-color: transparent;
    }

    // Guild interaction states
    // Guild is selected
    .e5445cbd3ad226f2-blobContainer.e5445cbd3ad226f2-selected .cc5dd25190031396-wrapper{
        background-color: $ControlFillColorSecondary;
    }
    // Guild is selected and hovered
    .e5445cbd3ad226f2-blobContainer.e5445cbd3ad226f2-selected:hover .cc5dd25190031396-wrapper{
        box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
    }
    // Guild is hovered
    .e5445cbd3ad226f2-blobContainer:hover .cc5dd25190031396-wrapper{
        background-color: $ControlFillColorSecondary;
    }
    // Guild is clicked
    .e5445cbd3ad226f2-blobContainer:active .cc5dd25190031396-wrapper{
        background-color: $ControlFillColorTertiary;
    }

    // Guild badges
    ._650eb104245d257b-iconBadge{
        background-color: $SystemFillColorSolidNeutral;
        svg{
            width: 12px;
            height: 12px;
            color: $TextOnAccentFillColorPrimary;
        }
        &._650eb104245d257b-isCurrentUserConnected{
            background-color: $SystemFillColorSuccess;
        }
    }
    .cc5dd25190031396-upperBadge,
    .cc5dd25190031396-lowerBadge{
        right: 2px;
    }
    .cc5dd25190031396-upperBadge{
        top: 2px;
    }
    .cc5dd25190031396-lowerBadge{
        bottom: 2px;
    }

    // Home
    ._6e9f8dce4cc18de3-wrapper{
        &[data-list-item-id="guildsnav___home"]{
            ._6e9f8dce4cc18de3-childWrapper {
                background-color: transparent;
                &::before{
                    content: "\E80F"; // Home
                    color: $TextFillColorPrimary;
                    @include FontIconFluent;
                    font-size: 16px;
                }
                svg{
                    display: none !important; // Required to remove 'festive' Discord icon
                }
            }
        }
    }
    // Remove Home :active transform
    ._918165dab2b1e10b-listItemWrapper:active{
        transform: none;
    }

    // Separator
    ._252b6afd49fda06f-guildSeparator{
        display: none;
    }
    // Add server/Server Discovery icons
    ._5bc7ed9d4097f6b5-circleIconButton {
        background-color: transparent;
        color: #FFF;
        &:hover{
            background-color: $ControlFillColorSecondary !important; // Override inline
        }
        &[aria-label]{
            svg{
                width: 18px;
                height: 18px;
            }
        }
    }
    // Offline
    .e8d03f772dd98c5d-guildsError{
        background-color: $SystemFillColorCritical;
        border: 0;
        border-radius: 0;
        transition: none;
        font-weight: 400;
    }

    // Folders
    ._48112cbe77dc5022-folderGroup{
        width: 52px;
    }
    ._48112cbe77dc5022-folderGroupBackground{
        width: 44px;
        left: 8px;
        border-radius: 4px;
        border: 0;
    }
    .b18fe29d6fe8dd82-hiddenVisually, ._48112cbe77dc5022-folderPreviewWrapper{
        // width: 44px;
        // height: 44px;
        border-radius: 4px;
    }

    // Open folder
    ._48112cbe77dc5022-folderIcon{
        &::before{
            content: "\E8B7"; // Folder Open
            @include FontIconFluent;
            color: $TextOnAccentFillColorPrimary;
            position: absolute;
            font-size: 32px;
        }
        &::after{
            content: "\E8D5"; // Folder Fill
            @include FontIconFluent;
            font-size: 32px;
        }
        svg{
            display: none;
        }
    }

    // Opened Folder
    ._48112cbe77dc5022-isExpanded{
        ._48112cbe77dc5022-folderPreviewWrapper{
            display: none;
        }
    }

    // Closed folder
    ._48112cbe77dc5022-folderHeader{
        .cc5dd25190031396-wrapper{
            width: 44px !important; // Override inline
            height: 44px !important; // Override inline
        }
        // Fix alignment
        svg{
            left: 2px;
        }
        // Remove round mask
        foreignobject{
            // mask: none;
        }
    }
    ._48112cbe77dc5022-folderPreviewWrapper{
        // width: 44px;
        // height: 44px;
    }
    ._48112cbe77dc5022-folderPreview{
        width: 44px;
        height: 44px;
        gap: 1px;
    }
    ._48112cbe77dc5022-folderPreviewGuildIcon{
        width: 18px;
        height: 18px;
        border-radius: 50% !important; // Override inline
    }

    // Fix folder icon height when folder is expanded
    ._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderHeader{
        margin-bottom: 0;
        .cc5dd25190031396-wrapper{
            width: 44px !important; // Override inline
            height: 44px !important; // Override inline
        }
    }
    // Remove the background behind folder icon when hovering
    .b18fe29d6fe8dd82-hiddenVisually.hover__48112 .expandedFolderIconWrapper__48112{
        background-color: transparent;
    }

    // Unread notification bars
    .ef3116c2da186559-unreadMentionsIndicatorBottom,
    .ef3116c2da186559-unreadMentionsIndicatorTop{
        width: 48px;
        ._3b95d7d910416e54-bar{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .ef3116c2da186559-unreadMentionsIndicatorBottom{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }
    .ef3116c2da186559-unreadMentionsIndicatorTop{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
