.theme-dark .platform-win .scroller-3X7KbA{
    padding: 0;
    background-color: transparent;
}

.theme-dark .wrapper-1_HaEi{
    width: 48px;
    background-color: transparent;

    .listItem-3SmSlK:hover .pill-2RsI5Q:empty{
        display: none !important;
    }

    .listItem-3SmSlK{
        margin: 0;
        width: 48px;

        // Hover state
        .wrapper-28eC3z{
            &:hover::before,
            &.bd-selected::before{
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                top: 4px;
                left: 4px;
                background-color: $ControlFillColorSecondary;
                border-radius: 4px;
                z-index: -1;
            }
            &:hover::before{
                box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
            }
        }

        // Pill
        .pill-2RsI5Q, // Guild
        .pill-L_aLMQ, // Home
        .pill-22lZHo, // DM
        .pill-1NRFie{
            // NOTE: 2021-02-14 - Order is important here. Apply unread style, then selected.
            &.bd-unread::before,
            &.bd-selected::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                left: 4px;
                top: 16px;
                border-radius: 2px;
            }
            &.bd-unread::before{
                border-radius: 2px;
                background-color: $TextFillColorSecondary;
            }
            &.bd-selected::before{
                background-color: $AccentFillColorDefault;
            }

            .item-2LIpTv{
                display: none;
            }
        }
        // Guild icon
        .wrapper-28eC3z{
            svg foreignObject{
                mask: none;
            }
            .icon-3AqZ2e{
                width: var(--fluent-guilds-icon-size);
                height: auto;
                border-radius: 50%;
            }
            .acronym-2zrAHN{
                width: 24px;
                height: 24px;
                background-color: transparent;
                color: $TextFillColorPrimary;
                @include TypeBodyStrong;
            }
        }

        // Home
        .wrapper-3kah-n{
            &[aria-label="Home"]{
                .childWrapper-1j_1ub{
                    background-color: transparent;
                    &::before{
                        content: "\E80F"; // Home
                        color: $TextFillColorPrimary;
                        @include FontIconFluent;
                        font-size: 16px;
                    }
                    svg{
                        // NOTE: 2021-12-07 - '!important' is required to remove the 'festive' Discord icon
                        display: none !important;
                    }
                }
            }
        }
        // Remove Home :active transform
        .blobContainer-ikKyFs:active{
            transform: none;
        }

        // Separator
        .guildSeparator-a4uisj{
            display: none;
        }
        // Add server/Server Discovery icons
        .circleIconButton-1VxDrg{
            background-color: transparent;
            color: #FFF;
            &[aria-label]{
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
        // Offline
        .guildsError-2gzNaD{
            background-color: $SystemFillColorCritical;
            border: 0;
            border-radius: 0;
            transition: none;
            font-weight: 400;
        }
        //badge
        .lowerBadge-3WTshO,
        .upperBadge-1V6Iyi{
            right: 4px;
            transform: none !important;
        }
        .upperBadge-1V6Iyi{
            top: 4px;
        }
        .lowerBadge-3WTshO{
            bottom: 4px;
            z-index: 1;
        }
        .numberBadge-37OJ3S{
            background-color: $SystemFillColorCritical !important; // For some reason this is in line
            @include TypeCaption;
            color: $TextOnAccentFillColorPrimary;
        }
    }
    // Folders
    .wrapper-38slSD{
        .listItem-3SmSlK{
            .wrapper-28eC3z{
                svg{
                    mask{
                        display: none;
                    }
                }
            }
        }
        // Fix folder container being too tall
        ul[role="group"]{
            height: auto !important;
        }

        // Round bottom of last guild in folder
        ul[id^="folder-items"] .listItem-3SmSlK:last-of-type{
            border-radius: 0 0 24px 24px;
        }
    }
    .folder-241Joy{
        background-color: transparent;
    }
    .folderIconWrapper-1oRIZr{
        background-color: transparent !important;
        border-radius: 0;
    }
    .closedFolderIconWrapper-3tRb2d{
        padding: 8px;
    }
    .expandedFolderBackground-1kSAf6{
        width: 40px;
        top: 4px;
        bottom: 4px;
        left: 4px;
        background-color: $SubtleFillColorSecondary;
        border-radius: 4px;
        &.collapsed-uGXEbi{
            background-color: transparent;
            box-shadow: none;
        }
    }
    .expandedFolderIconWrapper-3RwQpD{
        svg path{
            clip-path: inset(1px 1px 1px 1px);
        }
    }

    // Connected to voice
    .iconBadge-32fMme.participating-2Z81oO{
        background-color: $SystemFillColorSuccesBackground;
        &::before{
            content: "\F0B9"; // Connected
            @include FontIconFluent;
            color: $SystemFillColorSuccess;
            font-size: 10px;
        }
        svg{
            display: none;
        }
    }

    // Unread notification bars
    .unreadMentionsIndicatorBottom-3RJMnQ,
    .unreadMentionsIndicatorTop-2bTgUU{
        width: 48px;
        .bar-2eAyLE{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadMentionsIndicatorBottom-3RJMnQ{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }
    .unreadMentionsIndicatorTop-2bTgUU{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
