.platform-win .scroller-1Bvpku{
    padding: 0;
    background-color: transparent;
}

.theme-dark .wrapper-3NnKdC{
    width: 48px;
    // margin-top: 40px;
    // margin-bottom: 96px;
    background-color: transparent;


    .listItem-2Ig28I:hover .pill-ZqtR4i:empty{
        display: none !important;
    }

    .listItem-2Ig28I{
        margin: 0;
        width: 48px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        // Pill
        .pill-ZqtR4i,
        .pill-61ft1C,
        .pill-gcH-8B,
        .pill-1aYSec{
            .item-2hkk8m{
                width: 3px;
                height: 24px !important;
                margin-left: 4px;
                border-radius: 2px;
                // Guild is selected
                &[style*="height: 40px;"]{
                    height: 24px !important;
                    background-color: $AccentBase;
                }
            }
        }
        // Guild icon
        .wrapper-25eVIn{
            svg foreignObject{
                mask: none;
            }
            .icon-27yU2q{
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
            .acronym-2mOFsV{
                width: 24px;
                height: 24px;
                background-color: transparent;
                color: $TextFillColorPrimary;
                @include TypeBodyStrong;
            }
        }
        .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
        .wrapper-1BJsBx:hover .childWrapper-anI2G9{
            background-color: transparent;
        }

        // Home
        .wrapper-1BJsBx{
            &[aria-label="Home"]{
                .childWrapper-anI2G9{
                    background-color: transparent;
                    &::before{
                        content: "\E80F";
                        color: $TextFillColorPrimary;
                        @include FontIconFluent;
                        font-size: 16px;
                    }
                    svg{
                        // NOTE: 2021-12-07 - '!important' is required to remove the 'festive' Discord icon
                        display: none !important;
                    }
                }
            }
        }
        // Remove Home :active transform
        .listItemWrapper-2MsAsM:active{
            transform: none;
        }

        // Separator
        .guildSeparator-nWMCrR{
            display: none;
        }
        // Add server/Server Discovery icons
        .circleIconButton-hZmpE8{
            background-color: transparent;
            color: #FFF;
            &[aria-label]{
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
        // Offline
        .guildsError-11GiUv{
            background-color: $SystemFillColorCritical;
            border: 0;
            border-radius: 0;
            transition: none;
            font-weight: 400;
        }
        //badge
        .lowerBadge-29hYVK,
        .upperBadge-2XnnGB{
            right: 4px;
            transform: none !important;
        }
        .upperBadge-2XnnGB{
            top: 4px;
        }
        .lowerBadge-29hYVK{
            bottom: 4px;
            z-index: 1;
        }
    }
    // Folders
    .wrapper-shyHJt{
        .listItem-2Ig28I{
            .wrapper-25eVIn{
                svg{
                    mask{
                        display: none;
                    }
                }
            }
        }
        // Fix folder container being too tall
        ul[role="group"]{
            height: auto !important;
        }

        // Round bottom of last guild in folder
        ul[id^="folder-items"] .listItem-2Ig28I:last-of-type{
            border-radius: 0 0 24px 24px;
        }
    }
    .folder-2w6LX1{
        background-color: transparent;
    }
    .folderIconWrapper-1Ml_1q{
        background-color: transparent !important;
        border-radius: 0;
    }
    .closedFolderIconWrapper-1I9YfS{
        padding: 8px;
    }
    .expandedFolderBackground-3ZDF05{
        left: 0;
        bottom: 0;
        background-color: $CardBackgroundFillColorDefault;
        border-radius: 24px;
        &.collapsed-2Zqqnx{
            background-color: transparent;
        }
        &:not(.collapsed-2Zqqnx) ~ .listItem-2Ig28I{
            border-radius: 24px 24px 0 0;
        }
    }
    .expandedFolderIconWrapper-3fmTfW{
        svg path{
            clip-path: inset(1px 1px 1px 1px);
        }
    }
    // Unread notification bars
    // These break due to our fixed buttons at the bottom, so we remove them
    .unreadMentionsIndicatorTop-2-tcdU,
    .unreadMentionsIndicatorBottom-2mDYbI{
        display: none;
    }
}
