.theme-dark .guilds__2b93a{
    width: 48px;
    background-color: transparent;

    // When a call is in fullscreen, set guilds width to 0
    &.hidden__7c832{
        width: 0;
    }

    .listItem__48528{
        margin: 0;
        width: 48px;

        // Hover state
        &:hover .wrapper__8436d::before,
        .wrapper__8436d.selected_ae80f7::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 4px;
            left: 4px;
            background-color: $ControlFillColorSecondary;
            border-radius: 4px;
            z-index: -1;
        }
        &:hover .wrapper__8436d::before{
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
        }

        // Pill
        & > div[class^="pill_"]{
            z-index: 1;
            .item_f9d377{
                width: 3px;
                height: 16px !important;
                margin-left: 4px;
                background-color: $TextFillColorSecondary;
                border-radius: 999px;
                transform: none !important;

                // Normal state
                @for $i from 9 through 20{
                    &[style*="height: #{$i}"]{
                        background-color: $TextFillColorPrimary;
                    }
                }

                // Selected
                @for $i from 21 through 40{
                    &[style*="height: #{$i}"]{
                        background-color: $AccentFillColorDefault;
                    }
                }
            }
        }
        // Guild icon
        .wrapper__9916c{
            svg foreignObject{
                mask: none;
            }
            .icon__11cf1{
                width: var(--fluent-guilds-icon-size);
                height: auto;
                border-radius: 50%;
            }
            .acronym_fb7739{
                width: 24px;
                height: 24px;
                background-color: transparent;
                color: $TextFillColorPrimary;
                @include TypeBodyStrong;
            }
        }

        // Home
        .wrapper__8436d{
            &[data-list-item-id="guildsnav___home"]{
                .childWrapper_a6ce15{
                    background-color: transparent;
                    &::before{
                        content: "\E80F"; // Home
                        color: $TextFillColorPrimary;
                        @include FontIconFluent;
                        font-size: 16px;
                    }
                    svg{
                        display: none !important; // Required to remove 'festive' Discord icon
                    }
                }
            }
        }
        // Remove Home :active transform
        .blobContainer_c44493:active{
            transform: none;
        }

        // Separator
        .guildSeparator__75928{
            display: none;
        }
        // Add server/Server Discovery icons
        .circleIconButton__05cf2{
            background-color: transparent;
            color: #FFF;
            &[aria-label]{
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
        // Offline
        .guildsError_f4b0bc{
            background-color: $SystemFillColorCritical;
            border: 0;
            border-radius: 0;
            transition: none;
            font-weight: 400;
        }
        //badge
        .iconBadge__19638{
            background-color: $SystemFillColorSolidNeutral;
            svg{
                width: 12px;
                height: 12px;
                color: $TextOnAccentFillColorPrimary;
            }
        }
        .lowerBadge_e89e22,
        .upperBadge__00ad0{
            right: 6px;
            transform: none !important; // Override inline
        }
        .upperBadge__00ad0{
            top: 6px;
        }
        .lowerBadge_e89e22{
            bottom: 6px;
            z-index: 1;
        }
        .numberBadge__40d6f{
            background-color: $SystemFillColorCritical !important; // Override inline
            @include TypeCaption;
            color: $TextOnAccentFillColorPrimary;
        }
    }
    // Folders
    .wrapper__832f2{
        .listItem__48528{
            .wrapper__9916c{
                svg{
                    mask{
                        display: none;
                    }
                }
            }
        }
        // Fix folder container being too tall
        ul[role="group"]{
            height: auto !important; // Override inline
        }

        // Round bottom of last guild in folder
        ul[id^="folder-items"] .listItem__48528:last-of-type{
            border-radius: 0 0 24px 24px;
        }
    }
    .folder__17546{
        background-color: transparent;
        &:hover::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 4px;
            left: 4px;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
            background-color: $ControlFillColorSecondary;
            border-radius: 4px;
            z-index: -1;
        }
    }
    .folderIconWrapper__11165{
        background-color: transparent !important; // Override inline
        border-radius: 0;
    }
    .closedFolderIconWrapper__722d5{
        padding: 8px;
    }
    .expandedFolderBackground_b1385f{
        width: 40px;
        top: 4px;
        bottom: 4px;
        left: 4px;
        background-color: $SubtleFillColorSecondary;
        border-radius: 4px;
        &.collapsed__98ad5{
            background-color: transparent;
            box-shadow: none;
        }
    }
    .expandedFolderIconWrapper__324c1{
        &::before{
            content: "\F12B"; // FolderHorizontal
            @include FontIconFluent;
            position: absolute;
            z-index: 1;
            font-size: 23px;
        }
    }

    // Connected to voice
    .iconBadge__19638.isCurrentUserConnected__3bd70{
        background-color: $SystemFillColorSuccess;
        &::before{
            content: "\F0B9"; // Connected
            @include FontIconFluent;
            color: $TextOnAccentFillColorPrimary;
            font-size: 10px;
        }
        svg{
            display: none;
        }
    }

    // Unread notification bars
    .unreadMentionsIndicatorBottom__9351c,
    .unreadMentionsIndicatorTop__153ad{
        width: 48px;
        .bar_edc096{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadMentionsIndicatorBottom__9351c{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }
    .unreadMentionsIndicatorTop__153ad{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
