.theme-dark .platform-win .scroller-3X7KbA{
    padding: 0;
    background-color: transparent;
}

.theme-dark .guilds-2JjMmN{
    width: 48px;
    background-color: transparent;

    // When a call is in fullscreen, set guilds width to 0
    &.hidden-10MsGQ{
        width: 0;
    }

    // TODO - 2022-06-08: Find out if this is still required
    .listItem-3SmSlK:hover .pill-2RsI5Q:empty{
        display: none !important;
    }

    .listItem-3SmSlK{
        margin: 0;
        width: 48px;

        // Hover state
        &:hover .wrapper-28eC3z::before,
        &.bd-selected .wrapper-28eC3z::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 4px;
            left: 4px;
            background-color: $ControlFillColorSecondary;
            border-radius: 4px;
            z-index: -1;
        }
        &:hover .wrapper-28eC3z::before{
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
        }

        // Pill
        .pill-2RsI5Q, // Guild
        .pill-L_aLMQ, // Home
        .pill-22lZHo, // DM
        .pill-1NRFie{
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                left: 4px;
                top: 16px;
                border-radius: 999px;
                transform: scaleY(0%);
                opacity: .3;
                transition: transform 167ms Cubic-bezier(0,0,0,1),
                            opacity 167ms Cubic-bezier(0,0,0,1);
            }
            // NOTE: 2021-02-14 - Order is important here. Apply unread style, then selected.
            &.bd-unread::before,
            &.bd-selected::before{
                transform: scaleY(100%);
                opacity: 1;
                transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                            opacity 250ms Cubic-bezier(0.55,0.55,0,1);
            }
            &.bd-unread::before{
                background-color: $TextFillColorSecondary;
            }
            &.bd-selected::before{
                background-color: $AccentFillColorDefault;
            }

            .item-2LIpTv{
                display: none;
            }
        }
        // Guild icon
        .wrapper-28eC3z{
            svg foreignObject{
                mask: none;
            }
            .icon-3AqZ2e{
                width: var(--fluent-guilds-icon-size);
                height: auto;
                border-radius: 50%;
            }
            .acronym-2zrAHN{
                width: 24px;
                height: 24px;
                background-color: transparent;
                color: $TextFillColorPrimary;
                @include TypeBodyStrong;
            }
        }

        // Inbox
        // NOTE 2022-03-07 - Provides compat for updated Inbox icon when Experiment 2022-01_inbox_redesign is on.
        .iconButton-2z1iK7 {
            width: 48px;
            height: 48px;
            &[data-list-item-id="guildsnav___inbox-button"] {
                background-color: transparent;
                &::before{
                    content: "\E715"; // Mail
                    color: $TextFillColorPrimary;
                    @include FontIconFluent;
                    font-size: 16px;
                }
                svg{
                    display: none;
                }
            }
            &:hover::after,
            &.selected-1WnveH::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                top: 4px;
                left: 4px;
                background-color: $ControlFillColorSecondary;
                border-radius: 4px;
                z-index: -1;
            }
            &.selected-1WnveH:hover::after{
                box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
            }
        }

        // Home
        .wrapper-3kah-n{
            &[data-list-item-id="guildsnav___home"]{
                .childWrapper-1j_1ub{
                    background-color: transparent;
                    &::before{
                        content: "\E80F"; // Home
                        color: $TextFillColorPrimary;
                        @include FontIconFluent;
                        font-size: 16px;
                    }
                    svg{
                        display: none !important; // Required to remove 'festive' Discord icon
                    }
                }
            }
        }
        // Remove Home :active transform
        .blobContainer-ikKyFs:active{
            transform: none;
        }

        // Separator
        .guildSeparator-a4uisj{
            display: none;
        }
        // Add server/Server Discovery icons
        .circleIconButton-1VxDrg{
            background-color: transparent;
            color: #FFF;
            &[aria-label]{
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
        // Offline
        .guildsError-2gzNaD{
            background-color: $SystemFillColorCritical;
            border: 0;
            border-radius: 0;
            transition: none;
            font-weight: 400;
        }
        //badge
        .lowerBadge-3WTshO,
        .upperBadge-1V6Iyi{
            right: 6px;
            transform: none !important; // Override inline
        }
        .upperBadge-1V6Iyi{
            top: 6px;
        }
        .lowerBadge-3WTshO{
            bottom: 6px;
            z-index: 1;
        }
        .numberBadge-37OJ3S{
            background-color: $SystemFillColorCritical !important; // Override inline
            @include TypeCaption;
            color: $TextOnAccentFillColorPrimary;
        }
    }
    // Folders
    .wrapper-38slSD{
        .listItem-3SmSlK{
            .wrapper-28eC3z{
                svg{
                    mask{
                        display: none;
                    }
                }
            }
        }
        // Fix folder container being too tall
        ul[role="group"]{
            height: auto !important; // Override inline
        }

        // Round bottom of last guild in folder
        ul[id^="folder-items"] .listItem-3SmSlK:last-of-type{
            border-radius: 0 0 24px 24px;
        }
    }
    .folder-241Joy{
        background-color: transparent;
    }
    .folderIconWrapper-1oRIZr{
        background-color: transparent !important; // Override inline
        border-radius: 0;
    }
    .closedFolderIconWrapper-3tRb2d{
        padding: 8px;
    }
    .expandedFolderBackground-1kSAf6{
        width: 40px;
        top: 4px;
        bottom: 4px;
        left: 4px;
        background-color: $SubtleFillColorSecondary;
        border-radius: 4px;
        &.collapsed-uGXEbi{
            background-color: transparent;
            box-shadow: none;
        }
    }
    .expandedFolderIconWrapper-3RwQpD{
        &::before{
            content: "\F12B"; // FolderHorizontal
            @include FontIconFluent;
            position: absolute;
            z-index: 1;
            font-size: 23px;
        }
    }

    // Nitro marketing
    .listItem-3SmSlK ~ div[aria-label] + .listItem-3SmSlK{
        display: none;
    }

    // Connected to voice
    .iconBadge-32fMme.participating-2Z81oO{
        background-color: $SystemFillColorSuccess;
        &::before{
            content: "\F0B9"; // Connected
            @include FontIconFluent;
            color: $TextOnAccentFillColorPrimary;
            font-size: 10px;
        }
        svg{
            display: none;
        }
    }

    // Unread notification bars
    .unreadMentionsIndicatorBottom-3RJMnQ,
    .unreadMentionsIndicatorTop-2bTgUU{
        width: 48px;
        .bar-2eAyLE{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadMentionsIndicatorBottom-3RJMnQ{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }
    .unreadMentionsIndicatorTop-2bTgUU{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
