.theme-dark .contentColumn__5f80b{
    // Permissions
    // Fix header
    &#permissions-tab{
        .title__1b7e8{
            @include TypeTitle;
        }

        // Advanced permissions
        // Header
        .advancedModeDivider_bcac7c ~ .button__581d0{
            margin-top: 32px;
            .contents__322f4{
                h2{
                    @include TypeBodyStrong;
                }
            }
        }
        // Sidebar
        .sidebarScrollable_d64933{
            .scroller_c92337{
                background-color: transparent;
            }
        }

        // Permissions list
        // Fix width
        .sidebarScrollable_d64933+.content__5eeb2{
            max-width: calc(1000px - 232px);
        }

        // The permissions
        .permissionsForm_bede97{
            .flex_f18b02.vertical__4ad59{
                margin-bottom: 8px;
                padding: 8px 16px;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
                h4{
                    @include TypeBody;
                    line-height: 32px;
                }
                .description_b0e07c{
                    margin-right: 100px;
                    @include TypeCaption;
                }
            }
        }
    }

    // Invites
    // NOTE: 2023-06-17 - Cannot target Invites page
}
