.theme-dark .contentColumn__23e6b{
    // Permissions
    // Fix header
    &#permissions-tab{
        .title_b717a1{
            @include TypeTitle;
        }

        // Advanced permissions
        // Header
        .advancedModeDivider__4914c ~ .button__201d5{
            margin-top: 32px;
            .contents__201d5{
                h2{
                    @include TypeBodyStrong;
                }
            }
        }
        // Sidebar
        .sidebarScrollable_ff90b2{
            .scroller_ff90b2{
                background-color: transparent;
            }
        }

        // Permissions list
        // Fix width
        .sidebarScrollable_ff90b2+.content_ff90b2{
            max-width: calc(1000px - 232px);
        }

        // The permissions
        .permissionsForm__0ab2c{
            .flex__7c0ba.vertical_abf706{
                margin-bottom: 8px;
                padding: 8px 16px;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
                h4{
                    @include TypeBody;
                    line-height: 32px;
                }
                .description_ddd181{
                    margin-right: 100px;
                    @include TypeCaption;
                }
            }
        }
    }

    // Invites
    // NOTE: 2023-06-17 - Cannot target Invites page
}
