.theme-dark .sidebarRegion__60457{
    flex: 0;
}
// Hide scrollbar when not required
.theme-dark .sidebarRegionScroller__1fa7e{
    background-color: transparent;
}

.theme-dark .sidebar__9e3e2{
    // NOTE: 2023-06-13 - 6px to account for the scrollbar
    width: calc(320px - 6px);
    padding: 40px 4px;

    // Section header
    .side_b4b3f6 .eyebrow_e5a66c{
        padding: 0 0 0 8px;
        @include TypeBodyStrong;
        color: $TextFillColorPrimary;
        line-height: 34px;
        text-transform: none;
        svg{
            display: none;
        }
        .category-CysNYv{
            @include TypeCaption;
        }
    }

    .side_b4b3f6 .item__48dda{
        padding: 0 12px 0 16px;
        margin-bottom: 4px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        @include TypeBody;
        line-height: 34px;
        &:hover{
            color: $TextFillColorPrimary;
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        // Pill
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 2px;
            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
        &.selected__5711d{
            background-color: $SubtleFillColorSecondary;
            &::before{
                transform: scaleY(100%);
                opacity: 1;
                transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                            opacity 250ms Cubic-bezier(0.55,0.55,0,1);
            }
        }
        // Beta badge
        .textBadge__45d79{
            height: auto;
            padding: 2px 8px;
            background-color: $SystemFillColorSolidNeutralBackground !important; // Override inline
            @include TypeBody;
            text-transform: none;
            border-radius: 24px;
        }
        // Special cases
        // Remove right side Nitro icon (may differ in some regions)
        .premiumLabel_f2cd55 svg{
            display: none;
        }
        // Remove background div from nitro option
        .selectedBackground_d847da{
            display: none;
        }
        // Delete channel trash icon
        .tabBarItemContainer_d74773{
            svg{
                display: none;
            }
        }
    }
    // Divider
    .side_b4b3f6 .separator_fdbcfd{
        margin: 0 -8px;
    }

    .info__755e1{
        // Make all version info match colours
        span{
            color: $TextFillColorSecondary !important; // Override inline
        }
        &::before{
            content: "Fluent Discord #{$version}";
            color: $TextFillColorSecondary;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
