.theme-dark .sidebarRegion__23e6b{
    flex: 0;
}
// Hide scrollbar when not required
.theme-dark .sidebarRegionScroller__23e6b {
    background-color: transparent;
}

.theme-dark .sidebar__23e6b{
    // NOTE: 2023-06-13 - 6px to account for the scrollbar
    width: calc(320px - 6px);
    padding: 40px 4px;

    .searchBar_c7e907 {
        margin-left: 8px;
    }

    // Section header
    .side_aa8da2 .eyebrow_cf4812{
        padding: 0 0 0 8px;
        @include TypeBodyStrong;
        color: $TextFillColorPrimary;
        line-height: 34px;
        text-transform: none;
        svg{
            display: none;
        }
        .category__3ddc0{
            @include TypeCaption;
        }
    }

    .side_aa8da2 .item_aa8da2{
        padding: 0 12px 0 16px;
        margin-bottom: 4px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        @include TypeBody;
        line-height: 34px;
        &:hover{
            color: $TextFillColorPrimary;
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        // Pill
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 2px;
            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
        &.selected_aa8da2{
            background-color: $SubtleFillColorSecondary;
            &::before{
                transform: scaleY(100%);
                opacity: 1;
                transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                            opacity 250ms Cubic-bezier(0.55,0.55,0,1);
            }
        }
        // Special cases
        // Remove right side Nitro icon (may differ in some regions)
        .premiumLabel_e681d1 svg{
            display: none;
        }
        // Remove background div from nitro option
        .selectedBackground_e681d1{
            display: none;
        }
        // Delete channel trash icon
        .tabBarItemContainer_c7e907{
            svg{
                display: none;
            }
        }
    }
    // Divider
    .side_aa8da2 .separator_aa8da2{
        margin: 0 -8px;
    }

    .info__2debe{
        // Make all version info match colours
        span{
            color: $TextFillColorSecondary !important; // Override inline
        }
        &::before{
            content: "Fluent Discord #{$version}";
            color: $TextFillColorSecondary;
            @include TypeCaption;
        }
    }
}
