.sidebarRegion-1VBisG{
    flex: 0;
}
// Hide scrollbar when not required
.sidebarRegionScroller-FXiQOh{
    background-color: transparent;
}

.sidebar-nqHbhN{
    width: 300px;
    padding: 24px 4px;
}

.side-2ur1Qk .header-2Kx1US{
    padding: 0 0 0 16px;
    @include TypeBodyStrong;
    color: $TextFillColorPrimary;
    line-height: 34px;
    text-transform: none;
}
.side-2ur1Qk .item-3XjbnG{
    padding: 0 12px 0 44px;
    margin-bottom: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $TextFillColorPrimary;
    @include TypeBody;
    line-height: 34px;
    &::after{
        position: absolute;
        left: 16px;
        color: #FFF;
        @include FontIconFluent;
        font-size: 14px;
    }
    &:hover{
        color: $TextFillColorPrimary;
        background-color: $SubtleFillColorSecondary;
        border-color: $SubtleFillColorSecondary;
    }
    &:hover{
        color: $TextFillColorSecondary;
        background-color: $SubtleFillColorTertiary;
    }
    &.selected-g-kMVV{
        background-color: $SubtleFillColorSecondary;
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $AccentBase;
            border-radius: 2px;
        }
    }
}

// Divider
.side-2ur1Qk .separator-2wx7h6{
    margin: calc(12px - 4px) 0 12px 0;
    background-color: $DividerStrokeColorDefault;
}

.info-1sUqUG{
    &::before{
        content: "Fluent Discord #{$version}";
        color: #72767d;
        font-size: 12px;
        line-height: 16px;
    }
}
