.theme-dark .sidebarRegion-1VBisG{
    flex: 0;
}
// Hide scrollbar when not required
.theme-dark .sidebarRegionScroller-FXiQOh{
    background-color: transparent;
}

.theme-dark .sidebar-nqHbhN{
    width: 300px;
    padding: 24px 4px;

    // Section header
    .side-1lrxIh .eyebrow-1Shfyi{
        padding: 0 0 0 8px;
        @include TypeBodyStrong;
        color: $TextFillColorPrimary;
        line-height: 34px;
        text-transform: none;
        svg{
            display: none;
        }
        .category-CysNYv{
            @include TypeCaption;
        }
    }

    .side-1lrxIh .item-2GWPIy{
        padding: 0 12px 0 16px;
        margin-bottom: 4px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        @include TypeBody;
        line-height: 34px;
        &:hover{
            color: $TextFillColorPrimary;
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        &:hover{
            color: $TextFillColorSecondary;
            background-color: $SubtleFillColorTertiary;
        }
        // Pill
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 2px;
            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
        &.selected-1sf9UK{
            background-color: $SubtleFillColorSecondary;
            &::before{
                transform: scaleY(100%);
                opacity: 1;
                transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                            opacity 250ms Cubic-bezier(0.55,0.55,0,1);
            }
        }
        // Beta badge
        .textBadge-1fdDPJ{
            height: auto;
            padding: 2px 8px;
            background-color: $SystemFillColorSolidNeutralBackground !important; // Override inline
            @include TypeBody;
            text-transform: none;
            border-radius: 24px;
        }
        // Special cases
        // Remove right side Nitro icon (may differ in some regions)
        .premiumLabel-3HPvdB svg{
            display: none;
        }
        // Remove background div from nitro option
        .selectedBackground-1t6xXq{
            display: none;
        }
        // Delete channel trash icon
        .tabBarItemContainer-2HdIlr{
            svg{
                display: none;
            }
        }
    }
    // Divider
    .side-1lrxIh .separator-2N511j{
        margin: calc(12px - 4px) 0 12px 0;
        background-color: $DividerStrokeColorDefault;
    }

    .info-3pQQBb{
        &::before{
            content: "Fluent Discord #{$version}";
            color: $TextFillColorSecondary;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
