.theme-dark .sidebarRegion-1VBisG{
    flex: 0;
}
// Hide scrollbar when not required
.theme-dark .sidebarRegionScroller-FXiQOh{
    background-color: transparent;
}

.theme-dark .sidebar-nqHbhN{
    width: 300px;
    padding: 24px 4px;

    // Section header
    .side-2ur1Qk .header-2Kx1US{
        padding: 0 0 0 16px;
        @include TypeBodyStrong;
        color: $TextFillColorPrimary;
        line-height: 34px;
        text-transform: none;
        svg{
            display: none;
        }
        .category-CysNYv{
            @include TypeCaption;
        }
    }

    .side-2ur1Qk .item-3XjbnG{
        padding: 0 12px 0 44px;
        margin-bottom: 4px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        @include TypeBody;
        line-height: 34px;
        &::after{
            position: absolute;
            left: 16px;
            color: #FFF;
            @include FontIconFluent;
            font-size: 14px;
        }
        &:hover{
            color: $TextFillColorPrimary;
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        &:hover{
            color: $TextFillColorSecondary;
            background-color: $SubtleFillColorTertiary;
        }
        // Pill
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 2px;
            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
        &.selected-g-kMVV{
            background-color: $SubtleFillColorSecondary;
            &::before{
                transform: scaleY(100%);
                opacity: 1;
                transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                            opacity 250ms Cubic-bezier(0.55,0.55,0,1);
            }
        }
        // Move nitro icon to left side
        .premiumLabel-3HPvdB svg{
            position: absolute;
            left: -32px;
            fill: $TextFillColorPrimary;
        }
        // Remove background div from nitro option
        .selectedBackground-1t6xXq{
            display: none;
        }
    }
    // Divider
    .side-2ur1Qk .separator-2wx7h6{
        margin: calc(12px - 4px) 0 12px 0;
        background-color: $DividerStrokeColorDefault;
    }

    .info-3pQQBb{
        &::before{
            content: "Fluent Discord #{$version}";
            color: #72767d;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
