.theme-dark .contentColumn-1C7as6{
    // Permissions
    .scroller-3_YDR2{
        background-color: transparent;
    }
    // Left
    .container-JyRf62{
        .titleContainer-3fPic2{
            padding-top: 40px;
            background-color: transparent;
            .titleText-3LapIU{
                @include TypeSubtitle;
                text-transform: none;
            }
        }
        .list-1AJFv_{
            padding: 0 16px 96px 16px;
        }
    }

    // Right
    .header-JUTO-g{
        padding-top: 40px;
        background-color: $SolidBackgroundFillColorTertiary;
        .titleText-35PD5k{
            @include TypeSubtitle;
            text-transform: none;
        }
    }

    // Automod
    // Fix card background
    .editCard-K9Q9mb{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;

        .ruleIconContainer-dXW56-{
            background-color: transparent;
        }
        .actionContainer-EzNGrb{
            padding: 4px 8px;
            background-color: $SystemFillColorSolidNeutral;
            .actionIcon-2VtFPq{
                color: $TextFillColorPrimary;
            }
            .actionTextHeader-yeCKjC{
                color: $TextFillColorPrimary !important;
                font-weight: normal;
            }
        }


        .mentionLimitContainer-zBzr5i,
        .actionContainer-2krsiT{
            background-color: $CardBackgroundFillColorDefault;
        }
        .keywordListContainer-9ux8nU{
            margin-bottom: 0;
            background-color: transparent;
        }
        .collapseable-1gVq7r{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
        }

        // Select/drop down
        .container-1SX9VC{
            background-color: $ControlFillColorDefault;
        }
        .resultsList-2Bp-2_{
            background: $SolidbackgroundFillColorQuarternary;
            border: 1px solid $SurfaceStrokeColorFlyout;
            border-radius: 4px;
        }

        // Textarea
        .keywordsTextArea-3QkFoG{
            background-color: $ControlFillColorDefault;
            border: 1px solid;
            border-bottom-width: 2px;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
            &:hover{
                border-color: $ControlStrokeColorSecondary;
            }
            &:focus{
                background-color: $ControlFillColorInputActiveBrush;
                color: $TextFillColorPrimary;
                border-color: $ControlStrokeColorDefault;
                border-bottom-color: $AccentBase;
            }
        }
    }

    // Edge case fixes
    // Channel Settings - Overview
    // Fixes no spacing between channel name text box and Bitrate sections
    .channel-settings-overview{
        .inputDefault-3FGxgL{
            margin-bottom: 24px;
        }
    }
}
