.theme-dark .contentColumn__5f80b{
    // Roles
    // Fix header
    &#roles-tab{
        .title__1b7e8{
            @include TypeTitle;
        }


        // Advanced permissions
        .contentContainer__50662{
            left: 256px;
        }
        .contentWidth_f1e6d4{
            max-width: calc(1000px - 232px);
        }

        // Left
        .container__3d5fd{
            .titleContainer_d09261{
                padding-top: 40px;
                background-color: transparent;
                .titleText__971fb{
                    @include TypeSubtitle;
                    text-transform: none;
                }
            }
            .list__41249{
                padding: 0 16px 96px 16px;
            }
        }
        // Right
        .header_ee0bd9{
            padding-top: 40px;
            background-color: $CardStrokeColorDefaultSolid;
            .titleText__1fd97{
                @include TypeSubtitle;
                text-transform: none;
            }
        }
    }


    // Server template
    // Fix header
    &#guild_templates-tab{
        .title__1b7e8{
            @include TypeTitle;
        }
    }

    // Custom invite link
    // Fix header
    &#vanity_url-tab{
        .title__1b7e8{
            @include TypeTitle;
        }
    }

    // Integrations
    &#integrations-tab{
        .title__1b7e8{
            @include TypeTitle;
        }
    }

    // Automod
    // Fix card background
    .editCard__7d03f{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;

        .ruleIconContainer_c3faae{
            background-color: transparent;
        }
        // Pills
        .actionContainer__4263f{
            padding: 4px 8px;
            background-color: $SystemFillColorSolidNeutral;
            .actionIcon__2888e{
                color: $TextFillColorPrimary;
            }
            .actionTextHeader__50bb7{
                color: $TextFillColorPrimary !important;
                font-weight: normal;
            }
        }


        .mentionLimitContainer_bb7659,
        .actionContainer_e638f2{
            background-color: $CardBackgroundFillColorDefault;
        }
        .keywordListContainer__0f5a8{
            margin-bottom: 0;
            background-color: transparent;
        }
        .collapseable_a59844{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
        }

        // Select/drop down
        .container_ec5ce2{
            background-color: $ControlFillColorDefault;
        }
        .resultsList__44239{
            background: $SolidbackgroundFillColorQuarternary;
            border: 1px solid $SurfaceStrokeColorFlyout;
            border-radius: 4px;
        }

        // Textarea
        .keywordTextArea_d1b46b{
            background-color: $ControlFillColorDefault;
            border: 1px solid;
            border-bottom-width: 2px;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
            &:hover{
                border-color: $ControlStrokeColorSecondary;
            }
            &:focus{
                background-color: $ControlFillColorInputActiveBrush;
                color: $TextFillColorPrimary;
                border-color: $ControlStrokeColorDefault;
                border-bottom-color: $AccentBase;
            }
        }
    }

    // Audit Log
    // NOTE: 2023-06-17 - Cannot target Audit log page

    // Server boot status
    // Fix title
    &#guild_premium-tab{
        .title__1b7e8 {
            @include TypeTitle;
        }
    }

    // Members
    // NOTE: 2023-06-17 - Cannot target Members page

    // Invites
    // NOTE: 2023-06-17 - Cannot target Invites page

    // Edge case fixes
    // Channel Settings - Overview
    // Fixes no spacing between channel name text box and Bitrate sections
    .channel-settings-overview{
        .marginBottom40_f4d1a4{
            margin-bottom: 24px;
        }
    }

    // Always display the emoji name textbox
    .emojiInput__3270d{
        opacity: 1;
    }
    .emojiAliasPlaceholder_ecea45{
        display: none;
    }
}
