.theme-dark .layer_e552e0{
    .contentRegion__0bec1{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 7px 0 0 0;
    }
    .contentColumnDefault-1C7as6{
        padding: 32px;
    }
    .contentRegionShownSidebar__610ed{
        // justify-content: center;
    }
    .contentColumn_dc7d36,
    .customColumn_e22a6e{
        max-width: 1000px;
        padding: 44px 32px;
    }

    // Close button
    .closeButton__34341{
        width: 32px;
        height: 32px;
        flex: 0 0 32px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        svg path{
            fill: $TextFillColorPrimary;
        }
    }
    .keybind__57645{
        @include TypeBody;
        color: $TextFillColorPrimary;
    }

    // Title
    .sectionTitle_e32631{
        .title__3e421{
            margin-bottom: 32px;
            @include TypeTitle;
        }
    }

    // Setting container
    .container_c52416{
        margin-bottom: 8px;
        padding: 18px 24px;
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;

        .title__28a65{
            @include TypeBody;
        }
        .note__24c83{
            margin-right: 64px;
        }
        .description__7af71, .labelDescriptor__6432e{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }

        .divider__2bbbc{
            display: none;
        }
    }
}
// Pages transition
@keyframes fluent-settings-pages-transition{
    from{
        transform: translateY(120px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.contentColumn_dc7d36 > div:first-child{
    animation: fluent-settings-pages-transition 250ms cubic-bezier(0, 0, 0, 1);
}

// Layer transition
// Also applies to Edit server profile
@keyframes fluent-layer-transition{
    from{
        transform: translateY(120px);
    }
    to{
        transform: translateY(0);
    }
}
.animating__64b42{
    animation: fluent-layer-transition 250ms cubic-bezier(0,0,0,1);
}
