.contentRegion-3HkfJJ{
    background-color: $LayerFillColorDefault;
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 7px 0 0 0;
}
.contentColumnDefault-1C7as6{
    padding: 32px;
}

// Close button
.closeButton-PCZcma{
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    border-radius: 4px
}
.keybind-13vtq8{
    @include TypeBody;
}

// Title
.sectionTitle-3j2YI1{
    h1{
        @include TypeTitle;
    }
}

// Dark theme
.theme-dark{
    // Close button
    .closeButton-PCZcma{
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        svg path{
            fill: $TextFillColorPrimary;
        }

    }
    .keybind-13vtq8{
        color: $TextFillColorPrimary;
    }
}

// Light theme
.theme-light{

}
