.theme-dark ._960e4207cea8323e-layer{
    ._23e6b439306f125a-contentRegion{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 7px 0 0 0;
    }
    ._23e6b439306f125a-contentColumnDefault{
        padding: 32px;
    }
    ._23e6b439306f125a-contentRegionShownSidebar{
        // justify-content: center;
    }
    ._23e6b439306f125a-contentColumn,
    ._23e6b439306f125a-customColumn{
        max-width: 1000px;
        padding: 44px 32px;
    }

    // Close button
    .c2b141c0f80863fb-closeButton{
        width: 32px;
        height: 32px;
        flex: 0 0 32px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        svg path{
            fill: $TextFillColorPrimary;
        }
    }
    .c2b141c0f80863fb-keybind{
        @include TypeBody;
        color: $TextFillColorPrimary;
    }

    // Title
    .sectionTitle__7bffb{
        .b717a15017b82443-title{
            margin-bottom: 32px;
            @include TypeTitle;
        }
    }

    // Setting container
    .container__0d850{
        margin-bottom: 8px;
        padding: 18px 24px;
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;

        .title__0d850{
            @include TypeBody;
        }
        .note__0d850{
            margin-right: 64px;
        }
        .ddd1814f7cd3e6fd-description, .ddd1814f7cd3e6fd-labelDescriptor{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }

        ._44f7f7e71cbca2e4-divider{
            display: none;
        }
    }
}
// Pages transition
@keyframes fluent-settings-pages-transition{
    from{
        transform: translateY(120px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
._23e6b439306f125a-contentColumn > *{
    animation: fluent-settings-pages-transition 250ms cubic-bezier(0, 0, 0, 1);
}

// Layer transition
// Also applies to Edit server profile
@keyframes fluent-layer-transition{
    from{
        transform: translateY(120px);
    }
    to{
        transform: translateY(0);
    }
}
._960e4207cea8323e-animating{
    animation: fluent-layer-transition 250ms cubic-bezier(0,0,0,1);
}
