.theme-dark .layer_f7d46a{
    .contentRegion__08eba{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 7px 0 0 0;
    }
    .contentColumnDefault__78de3{
        padding: 32px;
    }
    .contentRegionShownSidebar__9d1b9{
        // justify-content: center;
    }
    .contentColumn__5f80b,
    .customColumn-2n-oKU{
        max-width: 1000px;
        padding: 44px 32px;
    }

    // Close button
    .closeButton__8177f{
        width: 32px;
        height: 32px;
        flex: 0 0 32px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        svg path{
            fill: $TextFillColorPrimary;
        }
    }
    .keybind_a619c1{
        @include TypeBody;
        color: $TextFillColorPrimary;
    }

    // Title
    .sectionTitle__3e02b{
        .title__1b7e8{
            margin-bottom: 32px;
            @include TypeTitle;
        }
    }

    // Setting container
    .container__7ad1e{
        margin-bottom: 8px;
        padding: 18px 24px;
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;

        .title__8b9e4{
            @include TypeBody;
        }
        .note__24c83{
            margin-right: 64px;
        }
        .description_b0e07c, .labelDescriptor-2top7R{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }

        .divider__14bb6{
            display: none;
        }
    }
}
// Pages transition
@keyframes fluent-settings-pages-transition{
    from{
        transform: translateY(120px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.contentColumn__5f80b > div:first-child{
    animation: fluent-settings-pages-transition 250ms cubic-bezier(0, 0, 0, 1);
}

// Layer transition
// Also applies to Edit server profile
@keyframes fluent-layer-transition{
    from{
        transform: translateY(120px);
    }
    to{
        transform: translateY(0);
    }
}
.animating_b7d085{
    animation: fluent-layer-transition 250ms cubic-bezier(0,0,0,1);
}
