.theme-dark .contentColumn_dc7d36{
    // Misc
    .notice-1Qe0b_{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        .text-3bXy2L{
            @include TypeBody;
            color: $TextFillColorPrimary;
            strong{
                font-weight: normal;
            }
        }
    }
    // Remove dividers
    .divider__2bbbc{
        display: none;
    }

    // My Account
    .accountProfileCard__22589{
        background-color: transparent;
        // Remove coloured banner
        .bannerSVGWrapper__3e7b0{
            display: none;
        }

        .userInfo__8f826{
            height: 68px;
            margin: 0 0 32px 0;
            padding: 0;
            justify-content: flex-start;
            gap: 16px;
            align-items: center;
            // Avatar
            .avatar__6c108{
                width: 64px !important; // Override inline
                height: 64px !important; // Override inline
                position: relative;
                top: unset;
                left: unset;
                border: 2px solid #000;
                svg{
                    width: unset !important; // Override inline
                    height: unset !important; // Override inline
                    foreignobject{
                        width: 64px !important; // Override inline
                        height: 64px !important; // Override inline
                        mask: unset !important;
                    }
                    rect{
                        display: none;
                    }
                    img{
                        border-radius: 50%;
                    }
                }
            }
            .button_afdfd9{
                display: none;
            }
        }

        // Body
        .background_b61fcc{
            margin: 0;
            padding: 0;
            background-color: transparent;
        }
        .fieldList_aab0de{
            background-color: transparent;
            .field__9e8e2{
                min-height: 64px;
                padding: 0 16px 0 48px;
                margin: 0 0 4px 0;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;

                .constrainedRow_b9e8cf{
                    align-items: center;
                }

                .fieldTitle__47b24{
                    margin-bottom: 0;
                    @include TypeBody;
                }
                .text-md-normal__6a4eb{
                    @include TypeCaption;
                    color: $TextFillColorSecondary !important;
                }

                // Override the reveal button
                .button_afdfd9.lookLink__93965{
                    min-width: unset;
                    padding: 0 0 0 4px;
                    background-color: unset;
                    border: unset;
                    .contents_fb6220{
                        color: $AccentLight3;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }

            // Icons
            .field__9e8e2{
                position: relative;
                &::before{
                    position: absolute;
                    top: 24px;
                    left: 16px;
                    @include FontIconFluent;
                    font-size: 16px;
                    color: $TextFillColorPrimary;
                }
                // Display name
                &:nth-child(1)::before{
                    content: "\E2AF"; // ContactInfo
                }
                // Username
                &:nth-child(2)::before{
                    content: "\E136"; // ContactInfo
                }
                // Email
                &:nth-child(3)::before{
                    content: "\E119"; // Mail
                }
                // Phone Number
                &:nth-child(4)::before{
                    content: "\E1C9"; // CellPhone
                }
            }


        }
    }
    // Password and auth
    .userSettingsSecurity__03e70{
        .sectionTitle_e32631 h2{
            @include TypeBodyLarge;
            margin-bottom: 8px;
        }
        > .children_b15c64{
            // Change Password
            > div:first-of-type{
                height: 62px;
                padding: 8px 16px;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }
            .changePasswordButton__91e39{
                margin-bottom: 0;
            }

            // 2FA
            > div > .flexChild__6e093{
                // border: 1px solid red;
                margin-top: 8px;
                > div{
                    > h3{
                        margin: 0;
                        padding: 16px 16px 4px 16px;
                        background-color: $CardBackgroundFillColorDefault;
                        border: 1px solid $CardStrokeColorDefault;
                        border-bottom: 0;
                        border-radius: 4px 4px 0 0;
                    }
                    > .description__7af71{
                        margin: 0;
                        padding: 0 16px 8px 16px;
                        background-color: $CardBackgroundFillColorDefault;
                        border: 1px solid $CardStrokeColorDefault;
                        border-top: 0;
                        border-bottom: 0;
                        color: $TextFillColorSecondary;
                    }
                    > .flex_f5fbb7{
                        margin-bottom: 0;
                        padding: 16px;
                        background-color: $CardBackgroundFillColorDefault;
                        border: 1px solid $CardStrokeColorDefault;
                        border-top: 0;
                        border-radius: 0 0 4px 4px;
                        justify-content: flex-end;
                        .flexChild__6e093{
                            margin-right: 0;
                            flex: unset !important; // Override inline
                        }
                    }

                    // SMS backup auth
                    > .marginTop40__2b1fe{
                        margin-top: 8px;
                        padding: 16px;
                        background-color: $CardBackgroundFillColorDefault;
                        border: 1px solid $CardStrokeColorDefault;
                        border-radius: 4px;
                        .description-30xx7u{
                            color: $TextFillColorSecondary;
                        }
                        .children_b15c64{
                            .flex_f5fbb7{
                                justify-content: flex-end;
                            }
                            button:last-child{
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }

        // Remove divider between SMS backup and delete account
        ~ .divider__2bbbc{
            display: none;
            ~ .marginTop40__2b1fe{
                margin-top: 8px;
                margin-bottom: 8px;
                padding: 16px;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
                .buttonContainer__0dac8{
                    padding-top: 16px;
                    justify-content: flex-end;
                    button:first-child{
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    // 2FA backup codes
    .backupCode_c34d6d{
        .checked-1pZh2h{
            color: $ControlFillColorDisabled;
            text-decoration: line-through;
        }
    }

    // User profile
    &#profile-customization-tab{
        .heading-lg-semibold__85c17{
            @include TypeTitle;
        }
    }
    // About me
    .channelTextArea__56a36{
        .bioTextArea_a108c9{
            height: auto;
            background-color: $ControlFillColorDefault;
            border: 1px solid;
            border-bottom-width: 2px;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
            // Set a static emoji icon
            .emojiButton__8ff6a{
                margin: 0 4px 0 0;
                &::before{
                    content: "\E76E"; //Emoji2
                    color: $TextFillColorSecondary;
                    @include FontIconFluent;
                    font-size: 16px;
                }
                &.emojiButtonHovered__4c6c4::before{
                    color: $TextFillColorPrimary;
                }
                .contents_fb6220{
                    display: none;
                }
            }
        }
        .characterCount_e55010{
            top: -24px;
            bottom: unset;
        }
    }

    // Authorised apps
    // Banner
    .formNotice-2nS8ey{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        .title-3hptVQ{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary;
        }
        .formText-2ngGjI{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
    // Apps
    .authedApp__51b26{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        .title-3hptVQ{
            @include TypeBodyStrong;
        }
        .permission_b5be39{
            .permissionCheckmark__27f79{
                width: 16px;
                height: 16px;
                margin-right: 8px;
                background-color: $SystemFillColorSuccess;
                background-size: unset;
                background-image: none;
                border-radius: 50%;
                filter: none;
                &::before{
                    content: "\E001"; // CheckMark(Private)
                    @include FontIconFluent;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 16px;
                    text-align: center;
                    color: $TextOnAccentFillColorPrimary;
                }
            }
        }
    }

    // User Profile
    // Reemove background from profile colour
    .buttonsContainer-3rygH4{
        background-color: unset;
        border: unset;
    }


    // Connections
    // List of services
    .connectContainer__8050b{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        // Header
        .connectHeader__04762{
            @include TypeBodyStrong;
        }
        // Account button
        .accountButtonInner__80e3a{
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }

    // Connection
    .connection_fff5f6{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .connectionHeader__3c82d{
            padding: 16px;
            background-color: $SystemFillColorAttentionBackground;
            border-bottom: 1px solid $CardStrokeColorDefault;
            border-radius: 4px 4px 0 0;
            .connectionAccountValue__2ab34{
                margin-left: 16px;
                @include TypeBodyStrong;
            }
            .connectionAccountLabel_a71192{
                margin-left: 16px;
                @include TypeCaption;
            }
        }
        .connectionOptionsWrapper_abe849{
            padding: 16px 16px 0 16px;
        }
        .connectionOptionSwitch_b4c979{
            padding: 0;
            background-color: transparent;
            border: 0;
        }
        .title-2dsDLn{
            @include TypeBody;
        }
        .integration_d2f026{
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
    }

    // Privacy & Safety
    &#privacy-\&-safety-tab{
        .container-1zDvAE{
            margin-bottom: 8px;
            padding: 16px;
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            .title-2dsDLn{
                @include TypeBody;
            }
            .description-30xx7u{
                @include TypeCaption;
                color: $TextFillColorSecondary;
            }
            .divider-_0um2u{
                display: none;
            }
        }
        .dependentSetting_a6ce9a{
            padding-left: 0;
        }
    }

    // Family Centre
    &#family-center-tab{
        // Activity tab boxes
        .container__6968f,
        .container__9c82e,
        .container__9f90c,
        .box-3QCU9{
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            box-shadow: none;
        }
        // Make the layout full-width
        .banner_d7a5a9,
        .featureCards_c1a95c,
        .container__9f90c{
            max-width: unset;
        }

        // My family tab boxes
        .box__6431e{
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            box-shadow: none;
        }
        // Make the layout full-width
        .container__5ed3b{
            max-width: unset;
        }
    }

    // Subscriptions
    &#subscriptions-tab{
        .sectionTitle__1605a{
            margin-bottom: 32px;
            @include TypeTitle;
        }
    }

    // Billing
    &#billing-tab{
        // Only apply to the main header, not the secondary "Transaction History" header
        .title__3e421 .flex_f5fbb7{
            margin-bottom: 32px;
            @include TypeTitle;
            // Remove lock icon
            svg{
                display: none;
            }
        }
    }

    // Appearance
    // Chat preview
    .preview_f42b5d{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
    }
    // Theme
    .presets__14d08{
        padding: 16px;
        margin-bottom: 0;
    }
    // Nitro themes
    .premiumFeatureBorder__9bbb3{
        margin: 0;
        background: transparent;
        border: 0;
        .headings__6a24e{
            .title_cd37f6::after{
                content: "Fluent Discord - Colour themes are not supported";
                padding-left: 4px;
                color: $TextFillColorDisabled;
            }
        }
    }

    // a11y
    // Custom colours preview
    .preview_a8dd8d{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        .previewMessage__1075c{
            background-color: $LayerFillColorDefault;
        }
    }

    // Voice & Video
    .userSettingsVoice__33015{
        // Fixes no spacing between video background and advanced sections
        .title-3hptVQ.marginBottom20__64605{
            margin-top: 24px;
        }
    }

    // Notifications
    // Fix unsub from marketing emails button
    &#notifications-tab{
        .marketingUnsubscribeButton__72576{
            padding-right: 12px;
            padding-left: 12px;
        }
    }

    // Keybinds
    // Warning
    .container_de00a3.warning__9db16{
        height: 48px;
        padding: 8px 16px;
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        @include TypeBody;
        .iconDiv_af991e{
            align-self: center;
            svg{
                width: 16px;
                height: 16px;
                color: $SystemFillColorAttention;
            }
        }
        .text__9e6e9{
            margin-left: 16px;
        }

        ~.flexChild__6e093{
            align-self: center;
        }
    }
    // Default keybinds
    .defaultKeybindGroup__1adfb{
        border: 1px solid $CardStrokeColorDefault;
    }
    .defaultKeybindGroupHeader_cee6f0{
        margin-bottom: 0;
        padding: 16px;
        background-color: $CardBackgroundFillColorDefault;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        @include TypeBody;
        text-transform: none;
    }
    .defaultKeybindGroupDescription__42f90{
        margin-bottom: 0;
        padding: 0 16px 16px 16px;
        background-color: $CardBackgroundFillColorDefault;
        @include TypeCaption;
        color: $TextFillColorSecondary;
    }
    .defaultKeybind__05c82{
        height: 64px;
        padding: 0 16px;
        background-color: $CardBackgroundFillColorSecondary;
        border-top: 1px solid $DividerStrokeColorDefault;
        .size16-rrJ6ag{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
        .keybindShortcut-3zF1P9 span{
            background-color: transparent;
            border: 1px solid $ControlStrokeColorDefault;
            box-shadow: inset 0 -4px 0 $ControlStrokeColorDefault;
            @include FontMonospace;
        }
    }
    // Catches the first keybind
    .children_b15c64 > .defaultKeybind__05c82{
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }

    // Registered games
    &#game-activity-tab{
        // Active game
        .activeGame__99516{
            &.notDetected__2a0c9{
                background-color: $SystemFillColorAttentionBackground;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
            }
            &.nowPlaying__353c3{
                background-color: $SystemFillColorSuccesBackground;
            }
        }
        // Add new game
        .nowPlayingAdd__7caf1{
            width: 100%;
            padding: 8px 16px;
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            span{
                color: $TextFillColorPrimary;
                line-height: 32px;
            }
            .button_afdfd9{
                float: right;
            }
        }

        // The games list
        .game__19f4b{
            padding: 12px 16px;
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-bottom: 0;
            box-shadow: none;
            &:first-of-type{
                border-radius: 4px 4px 0 0;
            }
            &:last-of-type{
                border-bottom: 1px solid $CardStrokeColorDefault;
                border-radius: 0 0 4px 4px;
            }
            &::before{
                display: none;
            }
        }

        // App name
        .gameName_aeeab5{
            @include TypeBodyStrong;
        }
        // Last played
        .lastPlayed_accc56{
            color: $TextFillColorSecondary;
            .default_cae228{
                @include TypeCaption;
                strong{
                    font-weight: normal;
                }
            }
            .hovered__243e5{
                @include FontMonospace;
                @include TypeCaption;
            }
        }
        // Overlay status
        .overlayStatusText__61367{
            margin-right: 8px;
            color: $TextFillColorSecondary;
            @include TypeBody;
            text-transform: none;
            text-align: right;
        }
        .overlayToggleIcon-1WRcQ9{
            margin-right: 8px;
        }
        // Remove button
        .removeGame_aa12f1{
            position: relative;
            top: unset;
            right: unset;
            opacity: 1;
            background-color: transparent;
            box-shadow: none;
            filter: brightness(200%) grayscale(100%);
            &:hover{
                filter: unset;
            }
        }
    }

    // Game Overlay
    &#overlay-tab{
        // Remove extra border from enable container
        .container_c52416[style="margin-top: 16px;"]{
            margin-top: 0 !important;
        }
    }
}
