// Main UI transparency
.theme-dark{
    ._5e434347c823b592-sidebar, // channels
    ._2637a2609f343032-container{ // channels
        background-color: transparent;
    }

    // Settings transparency
    ._960e4207cea8323e-layer,
    ._23e6b439306f125a-standardSidebarView,
    ._23e6b439306f125a-sidebarRegionScroller,
    ._23e6b439306f125a-contentRegion,
    ._23e6b439306f125a-contentRegionScroller{
        background: transparent;
    }

    // Background layers
    // NOTE: 2021-07-09 - The 'acrylic' effect is made of two layers
    //    Background image - To be declared by the user in the options section
    //    Filter overlay - Saturate helps bring out some colours from the background layer
    //
    // NOTE: 2022-10-16 - Have to use the #{} trick because SASS and CSS saturate() functions collide and throw an error on compile when using a CSS var
    //    See: https://github.com/sass/libsass/issues/151#issuecomment-54477631
    ._960e4207cea8323e-bg{
        margin-top: -10px; // Hides the black bar at top of titlebar (ie. grabber)
        background: var(--fluent-acrylic-background);
        background-size: cover;
        filter: #{"saturate(var(--fluent-acrylic-background-saturate))"} blur(var(--fluent-acrylic-background-blur));
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(0deg, rgba(32, 32, 32, var(--fluent-acrylic-background-dimness)), rgba(32, 32, 32,var(--fluent-acrylic-background-dimness))),
                        rgba(32, 32, 32, var(--fluent-acrylic-background-dimness));
            background-blend-mode: color, luminosity;
        }
    }
}
