.theme-dark{
    .discoverHeader_b992d4{
        @include TypeBodyStrong;
    }

    .pageWrapper_a3a4ce{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }

    .sidebar_c48ade{
        .container__91a9d{
            height: 32px;
            margin-bottom: 2px;
            position: relative;

            .itemInner_c72b37{
                height: 32px;
                padding: 0 8px;
            }

            .avatar__91a9d{
                width: 16px;
                height: 16px;
            }
            .name__91a9d{
                @include TypeBody;
                color: $TextFillColorPrimary;
            }

            &.selected__91a9d{
                .itemInner_c72b37{
                    background-color: $SubtleFillColorSecondary;
                }

                &::before{
                    content: "";
                    width: 3px;
                    height: 16px;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    background-color: $AccentBase;
                    border-radius: 2px;
                }
            }
        }
    }

    // Main
    // Search
    .container_f69601{
        .searchBox__56feb{
            background-color: transparent;
            box-shadow: none;

            &:focus,
            &:focus-within{
                box-shadow: none;
            }
            .searchBoxInput__56498{
                @include TypeBody;
                color: $TextFillColorPrimary;
                &::placeholder{
                    @include TypeBody;
                    color: $TextFillColorSecondary;
                }
            }
            .clearIcon__21453,
            .searchIcon_f69601{
                width: 16px;
                height: 16px;
                position: absolute;
                top: 8px;
                right: 16px;
                path{
                    fill: #FFF;
                }
            }
            .cta_f18d68{
                display: none;
            }
        }
    }

    // Search results
    // Header
    .header_e37a20{
        @include TypeSubtitle;
        color: $TextFillColorPrimary;
    }

    // Search box
    .searchBox__56feb{
        padding-right: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;

        &:focus,
        &:focus-within{
            box-shadow: none;
        }
        .searchBoxInput__56498{
            @include TypeBody;
            color: $TextFillColorPrimary;
            &::placeholder{
                @include TypeBody;
                color: $TextFillColorSecondary;
            }
        }
        .clearIcon__21453,
        .searchIcon_d1a3c1{
            width: 16px;
            height: 16px;
            position: absolute;
            top: 8px;
            right: 16px;
            path{
                fill: #FFF;
            }
        }
    }

    // Results
    .categories_f69601{
        .categoryPill_f69601{
            .categoryLabel-2m4AT-{
                @include TypeBody;
                color: $TextFillColorSecondary;
            }
            &.selected_f69601{
                background-color: $AccentBase;
                .categoryLabel_f69601{
                    color: $TextFillColorPrimary;
                }
            }
        }
    }
}
