.theme-dark .chat-2ZfjoI .search-39IXmY{
    margin: 0;
    .searchBar-jGtisZ{
        width: 64px;
        height: 36px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        .public-DraftEditorPlaceholder-root,
        .icon-tZMHgY{
            display: none;
        }
    }

    // Icon when not active
    .search-2Mwzzq:not(.focused-1xh-wG):not(.open-1F8u2c)::before{
        content: "\e721"; // Search
        width: 64px;
        font-size: 16px;
        @include FontIconFluent;
        text-align: center;
        line-height: 36px;
        vertical-align: middle;
        position: absolute;
    }

    .search-2Mwzzq.focused-1xh-wG .searchBar-jGtisZ,
    .search-2Mwzzq.open-1F8u2c .searchBar-jGtisZ,
    .search-2Mwzzq.popout-open .searchBar-jGtisZ{
        width: 232px;
        height: 32px;
        margin: 0 4px;
        background-color: $ControlFillColorDefault;
        background-image: none;
        cursor: text;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom-width: 2px;
        border-radius: 4px;
    }
    .search-2Mwzzq.focused-1xh-wG .searchBar-jGtisZ{
        background-color: $ControlFillColorInputActiveBrush;
        border-color: $ControlStrokeColorDefault;
        border-bottom-color: $AccentBase;
    }

    .search-2Mwzzq.open-1F8u2c .icon-38sknP,
    .search-2Mwzzq.focused-1xh-wG .icon-38sknP,
    .search-2Mwzzq.open-1F8u2c .searchBar-jGtisZ .public-DraftEditorPlaceholder-root,
    .search-2Mwzzq.focused-1xh-wG .searchBar-jGtisZ .public-DraftEditorPlaceholder-root{
        display: block;
    }
    .search-2Mwzzq .DraftEditor-root .DraftEditor-editorContainer{
        height: 26px;
    }
    .search-2Mwzzq .searchBar-jGtisZ .DraftEditor-root{
        color: $TextFillColorPrimary;
        @include TypeBody;
        .public-DraftEditor-content{
            overflow-x: hidden;
        }
        .public-DraftEditor-content,
        .public-DraftEditorPlaceholder-root{
            padding: 3px 8px 0;
            box-sizing: border-box;
        }
    }
    .seasearch-2Mwzzqrch .searchBar-jGtisZ .public-DraftEditorPlaceholder-root{
        color: $TextFillColorSecondary;
        @include TypeBody;
    }
    .search-2Mwzzq .searchBar-jGtisZ .icon-3cZ1F_{
        top: 7px;
    }

    span[class^="searchAnswer-"],
    span[class^="searchFilter-"]{
        background-color: $TextFillColorPrimary;
        color: #000;
        font-weight: normal;
    }
}
