.theme-dark .f75fb00fb7356cbe-chat ._496769951eb140fe-search{
    margin: 0 4px 0 0;
    ._974928fe84ca9647-searchBar{
        width: 60px;
        height: 32px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color $AnimationFadeInOut,
                    width $AnimationFastInvokeMedium;
        &:hover{
            background-color: $ControlFillColorSecondary;
            transition: background-color $AnimationFadeInOut;
        }
        .public-DraftEditorPlaceholder-root,
        ._974928fe84ca9647-icon{
            display: none;
        }
        ._974928fe84ca9647-icon{
            height: 24px;
        }
    }

    // Icon when not active
    ._974928fe84ca9647-search:not(._974928fe84ca9647-focused):not(._974928fe84ca9647-open)::before{
        content: "\e721"; // Search
        width: 60px;
        font-size: 16px;
        @include FontIconFluent;
        text-align: center;
        line-height: 32px;
        vertical-align: middle;
        position: absolute;
    }

    ._974928fe84ca9647-search._974928fe84ca9647-focused ._974928fe84ca9647-searchBar,
    ._974928fe84ca9647-search._974928fe84ca9647-open ._974928fe84ca9647-searchBar,
    ._974928fe84ca9647-search.popout-open ._974928fe84ca9647-searchBar{
        width: 232px;
        height: 32px;
        margin: 0;
        background-color: $ControlFillColorDefault;
        background-image: none;
        cursor: text;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom-width: 2px;
        border-radius: 4px;
        transition: width $AnimationSoftDismiss;
    }
    ._974928fe84ca9647-search._974928fe84ca9647-focused ._974928fe84ca9647-searchBar{
        background-color: $ControlFillColorInputActiveBrush;
        border-color: $ControlStrokeColorDefault;
        border-bottom-color: $AccentBase;
    }

    ._974928fe84ca9647-search._974928fe84ca9647-open ._974928fe84ca9647-icon,
    ._974928fe84ca9647-search._974928fe84ca9647-focused ._974928fe84ca9647-icon{
        width: 24px;
        height: 24px;
        display: block;
        padding: 4px 0 0 4px;
    }
    ._974928fe84ca9647-search._974928fe84ca9647-open ._974928fe84ca9647-searchBar .public-DraftEditorPlaceholder-root,
    ._974928fe84ca9647-search._974928fe84ca9647-focused ._974928fe84ca9647-searchBar .public-DraftEditorPlaceholder-root{
        display: block;
    }
    ._974928fe84ca9647-search .DraftEditor-root .DraftEditor-editorContainer{
        height: 26px;
    }
    ._974928fe84ca9647-search ._974928fe84ca9647-searchBar .DraftEditor-root{
        width: 100%;
        color: $TextFillColorPrimary;
        @include TypeBody;
        .public-DraftEditor-content{
            overflow-x: hidden;
        }
        .public-DraftEditor-content,
        .public-DraftEditorPlaceholder-root{
            padding: 3px 8px 0;
            box-sizing: border-box;
        }
    }
    // Add margin to textarea when open/focused so text doesn't appear over the search/clear icon
    .sea_974928fe84ca9647-searchrch ._974928fe84ca9647-searchBar .public-DraftEditorPlaceholder-root{
        color: $TextFillColorSecondary;
        @include TypeBody;
    }

    span[class^="searchAnswer-"],
    span[class^="searchFilter-"]{
        background-color: $TextFillColorPrimary;
        color: #000;
        font-weight: normal;
    }

    // Search/clear icon in textarea
    .iconContainer_fea832{
        // Flip eyeglass icon so the handle is the same side as the Fluent icon
        &:first-child{
            transform: rotateZ(90deg);
        }
    }
}
