.theme-dark .title-31SJ6t, // Normal toolbar
.theme-dark .container-ZMc96U{ // Browse channels toolbar 
    padding: 0 0 0 20px;
    &.themed-Hp1KC_{
        background-color: transparent;
    }
    // Channel & MOTD
    // Remove hash symbol
    .children-3xh0VB{
        // Gradient at end of MOTD field
        &::after{
            display: none;
        }
        .iconWrapper-2awDjA{
            display: none;
        }
    }
    // Channel name
    .title-17SveM{
        @include TypeBodyStrong
    }

    // Remove divider
    .divider-q3P9HC{
        display: none;
    }

    // MOTD
    .topic-11NuQZ{
        color: $TextFillColorPrimary;
        @include TypeBody;
    }

    // Add some margin to the caret when in fullscreen thread view
    .caret-1le2LN{
        margin-right: 8px;
    }
}

// Toolbar
.theme-dark .toolbar-3_r2xA{
    // Using these selectors so there are fewer conflicts in the voice screen
    div[role=button]:not(.iconLayout-SqV3nb), // :not excludes the search/clear button in the search bar
    button[type=button]{
        width: 60px;
        height: 32px;
        margin: 0 4px 0 0;
        border-radius: 4px;
        transition: background-color $AnimationFadeInOut;
        &:hover{
            background-color: $ControlFillColorSecondary;
            transition: background-color $AnimationFadeInOut;
        }
        > svg{ // Non-EN position fix
            position: absolute;
            top: 4px;
            left: 20px;
            width: 20px;
        }

        // Selected
        &.selected-29KTGM{
            background-color: $AccentFillColorSecondary;
            &::before{
                color: $TextOnAccentFillColorPrimary;
            }
            .count-vTKEhF{
                color: $TextOnAccentFillColorPrimary !important; // Override inline
            }
        }
        // Toggled (mute channel)
        &[aria-checked="true"]{
            color: $SystemFillColorCritical;
        }
    }
    .count-vTKEhF{
        position: absolute;
        top: 2px;
        left: 38px;
        @include TypeCaption;
    }
    .iconBadge-3Mmg92{
        width: 16px;
        height: 3px;
        right: 24px;
        bottom: 0;
        border-radius: 2px;
        background-color: $SystemFillColorCritical;
        z-index: -1;
    }
}

// Icon replacements
html[lang^="en-"].theme-dark .toolbar-3_r2xA{
    .iconWrapper-2awDjA{
        &::before{
            @include FontIconFluent;
            width: 60px;
            position: absolute;
            font-size: 16px;
            line-height: 32px;
            text-align: center;
            display: block;
        }
        // Remove default icon
        .icon-2xnN2Y,
        .controlIcon-35oS15{
            display: none;
        }
    }
}
