.theme-dark .fileWrapper__0ccae{
    width: 400px;
    position: relative;

    .file__0ccae{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-color: $SurfaceStrokeColorFlyout; // Override Discord CSS
    }

    img{
        display: none;
        & ~ .fileInner__0ccae{
            position: relative;
            padding-left: 40px;
            &::before{
                position: absolute;
                left: 0px;
                top: 8px;
                color: $TextFillColorPrimary;
                @include FontIconFluent;
                font-size: 24px;
            }
            .filenameLinkWrapper__0ccae a{
                line-height: 20px;
            }
        }

    }

    img[title="acrobat"] ~ .fileInner__0ccae::before{
        content: "\ea90"; // PDF
    }
    img[title="archive"] ~ .fileInner__0ccae::before{
        content: "\f012"; // ZipFolder
    }
    img[title="document"] ~ .fileInner__0ccae::before{
        content: "\f000"; // KnowledgeArticle
    }
    img[title="spreadsheet"] ~ .fileInner__0ccae::before{
        content: "\E9F9"; // ReportDocument
    }
    img[title="unknown"] ~ .fileInner__0ccae::before{
        content: "\e9ce"; // Unknown
    }

    img[title="ae"] ~ .fileInner__0ccae::before,
    img[title="ai"] ~ .fileInner__0ccae::before,
    img[title="sketch"] ~ .fileInner__0ccae::before{
        content: "\e8a5"; // Document
    }

    .metadata__0ccae{
        color: $TextFillColorSecondary;
        @include TypeCaption;
        font-weight: normal;
    }
}
