.theme-dark .d5f3cd116f175f35-wrapper{
    width: 400px;
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;

    // Header
    .d5f3cd116f175f35-header{
        color: $TextFillColorPrimary;
        @include FontNormal;
        @include TypeBodyStrong;
        text-transform: none;
    }

    // Icon
    .d5f3cd116f175f35-guildIcon{
        border-radius: 50%;
        align-self: center;
    }
    // Expired icon
    .d5f3cd116f175f35-guildIconExpired{
        background-color: transparent;
        background-image: none;
        &::before{
            content: "\EA39"; // ErrorBadge
            position: absolute;
            width: 48px;
            @include FontIconFluent;
            color: $TextFillColorDisabled;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
        }
    }

    .d5f3cd116f175f35-statusCounts{
        flex-direction: column;
        align-items: flex-start;
    }

    // Online users
    i.d5f3cd116f175f35-status{
        display: none;
    }
    .d5f3cd116f175f35-count{
        padding-left: 12px;
        position: relative;
        @include TypeBody;
        flex-direction: row;
    }
    i.d5f3cd116f175f35-statusOnline ~ span{
        &::before{
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            top: 6px;
            left: 0;
            background-color: #6bb700;
            border-radius: 4px;
        }
    }
    i.d5f3cd116f175f35-statusOffline ~ span{
        &::before{
            background-color: #8a8886;
        }
    }

    // Button
    .d5f3cd116f175f35-button.buttonSize_d5f3cd{
        height: 32px;
    }
}
