.theme-dark .audioControls_da7066,
.theme-dark .videoControls__7bc92{
    height: 48px;
    padding: 0 8px;
    background-color: $SolidbackgroundFillColorQuarternary;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    box-sizing: border-box;
    .mediaBarWrapper_e90a7a{
        height: 4px;
        background-color: $ControlStrongFillColorDefault;
        border-radius: 2px;
    }
    .durationTimeDisplay_ba3ad5,
    .durationTimeSeparator__04e51{
        @include FontNormal;
        font-weight: normal;
        font-size: 14px;
    }
    .mediaBarProgress_a3b7f1{
        background-color: $AccentLight1;
        border-radius: 2px;
    }
    .mediaBarGrabber__1d527{
        background-color: $AccentLight1;
        border: 4px solid #454545;
        border-radius: 50%;
        top: -2px;
    }
    .fakeEdges_bbed67{
        &::before,
        &::after{
            display: none;
        }
    }

    .mediaBarInteractionVolume_cc44ff{
        height: 32px;
        padding: 0 16px;
        background-color: $SolidbackgroundFillColorQuarternary;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;
    }
}

.theme-dark .videoControls__7bc92{
    width: calc(100% - 16px);
    bottom: 8px;
    left: 8px;
}

@keyframes fluent-hide-video-controls{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
// Remove default video player animations
.theme-dark .videoControls__7bc92{
    transform: unset !important; // Override inline
}
.theme-dark .wrapperControlsHidden_ce304d {
    .videoControls__7bc92{
        animation: $AnimationSoftDismiss fluent-hide-video-controls;
        opacity: 0;
    }
}

.theme-dark .messageAttachment__5dae1{
    .wrapperAudio__178e9{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
    }

    .metadataContent_bec6a7{
        .metadataDownload__9673d{
            @include TypeBody;
        }
        .metadataSize_b161e9{
            color: $TextFillColorTertiary;
            font-weight: normal;
            opacity: 1;
        }
    }
    // Remove icon
    .audioMetadata__84e00::before{
        display: none;
    }
}
