.theme-dark .audioControls-3fmemK,
.theme-dark .videoControls-2NzHnF{
    height: 48px;
    padding: 0 8px;
    background-color: $SolidbackgroundFillColorQuarternary;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    box-sizing: border-box;
    .mediaBarWrapper-33h1oY{
        height: 4px;
        background-color: $ControlStrongFillColorDefault;
        border-radius: 2px;
    }
    .durationTimeDisplay-QwCeRr,
    .durationTimeSeparator-1Cqi9N{
        @include FontNormal;
        font-weight: normal;
        font-size: 14px;
    }
    .mediaBarProgress-38I317{
        background-color: $AccentLight1;
        border-radius: 2px;
    }
    .mediaBarGrabber-FvJKJg{
        background-color: $AccentLight1;
        border: 4px solid #454545;
        border-radius: 50%;
        top: -2px;
    }
    .fakeEdges-18N907{
        &::before,
        &::after{
            display: none;
        }
    }

    .mediaBarInteractionVolume-zGrOSh{
        height: 32px;
        padding: 0 16px;
        background-color: $SolidbackgroundFillColorQuarternary;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;
    }
}

.theme-dark .videoControls-2NzHnF{
    width: calc(100% - 16px);
    bottom: 8px;
    left: 8px;
}

@keyframes fluent-hide-video-controls{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
// Remove default video player animations
.theme-dark .metadata-3IncIG,
.theme-dark .videoControls-2NzHnF{
    transform: unset !important; // Override inline
}
.theme-dark .wrapperControlsHidden-2BK8R2{
    .videoControls-2NzHnF,
    .metadata-3IncIG{
        animation: $AnimationSoftDismiss fluent-hide-video-controls;
        opacity: 0;
    }
}

.theme-dark .messageAttachment-CZp8Iv{
    .wrapperAudio-1Bzv_Z{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
    }

    .metadataContent-lalfZ3{
        .metadataName-1KMZtB{
            @include TypeBody;
        }
        .metadataSize-2A2s1T{
            color: $TextFillColorTertiary;
            font-weight: normal;
            opacity: 1;
        }
    }
    // Remove icon
    .audioMetadata-1Hrt8T::before{
        display: none;
    }
    // Remove Download button (title serves as download link)
    .metadataDownload-3IY84h{
        display: none;
    }
}
