.theme-dark .audioControls__9fbe9,
.theme-dark .videoControls__96149{
    height: 48px;
    padding: 0 8px;
    background-color: $SolidbackgroundFillColorQuarternary;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    box-sizing: border-box;
    .mediaBarWrapper_f312bd{
        height: 4px;
        background-color: $ControlStrongFillColorDefault;
        border-radius: 2px;
    }
    .durationTimeDisplay_acef46,
    .durationTimeSeparator__8b5d8{
        @include FontNormal;
        font-weight: normal;
        font-size: 14px;
    }
    .mediaBarProgress__29db2{
        background-color: $AccentLight1;
        border-radius: 2px;
    }
    .mediaBarGrabber_c64ff9{
        background-color: $AccentLight1;
        border: 4px solid #454545;
        border-radius: 50%;
        top: -2px;
    }
    .fakeEdges__17ee5{
        &::before,
        &::after{
            display: none;
        }
    }

    .mediaBarInteractionVolume_f4c833{
        height: 32px;
        padding: 0 16px;
        background-color: $SolidbackgroundFillColorQuarternary;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;
    }
}

.theme-dark .videoControls__96149{
    width: calc(100% - 16px);
    bottom: 8px;
    left: 8px;
}

@keyframes fluent-hide-video-controls{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
// Remove default video player animations
.theme-dark .metadata__2d766,
.theme-dark .videoControls__96149{
    transform: unset !important; // Override inline
}
.theme-dark .wrapperControlsHidden__143af{
    .videoControls__96149,
    .metadata__2d766{
        animation: $AnimationSoftDismiss fluent-hide-video-controls;
        opacity: 0;
    }
}

.theme-dark .messageAttachment_b97504{
    .wrapperAudio__555ce{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
    }

    .metadataContent__391c4{
        .metadataName__2ae3a{
            @include TypeBody;
        }
        .metadataSize__42428{
            color: $TextFillColorTertiary;
            font-weight: normal;
            opacity: 1;
        }
    }
    // Remove icon
    .audioMetadata_e546a8::before{
        display: none;
    }
    // Remove Download button (title serves as download link)
    .metadataDownload__6b32d{
        display: none;
    }
}
