.theme-dark .invite__2a93b{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;

    // Header
    .header__8b673{
        color: $TextFillColorPrimary;
        @include FontNormal;
        @include TypeBodyStrong;
        text-transform: none;
    }

    .partyStatus__6a567{
        @include TypeBody;
    }
    .details__2923a,
    .state__9cb82{
        font-size: inherit;
    }

    // Artwork
    .artwork__34afd{
        border-radius: 4px;
    }

    // Ended
    .artworkSpotifySessionEnded__8272a{
        background-image: none;
        &::before{
            content: "\E15B"; // Stop
            position: absolute;
            width: 100px;
            @include FontIconFluent;
            color: $TextFillColorDisabled;
            font-size: 64px;
            line-height: 100px;
            text-align: center;
        }
    }
}

.theme-dark iframe.embedSpotify_d58077{
    border-radius: 4px;
}
