.theme-dark .textContainer__709ff{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px 8px 0 0;
    .codeView-1JPDeA{
        white-space: break-spaces;
    }
}

// Footer
.theme-dark .footer__06f4b{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-top: 0;
    border-radius: 0 0 8px 8px;

    @include TypeCaption;
    color: $TextFillColorPrimary;
}

// Codeblock
.theme-dark .markup_a7e664 code{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
}
