.app{
    width: 482px;
    height: auto;
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(64px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.28), 0px 2px 21px rgba(0, 0, 0, 0.22);

    display: flex;
    flex-direction: column;
}

.titlebar{
    height: 32px;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body{
    padding: 0 16px 16px;
    h1{
        @include TypeTitle;
    }
}

.grid{
    font-size: 0;
    line-height: 0;
    .row{
        .item{
            width: 48px;
            height: 48px;
            margin: 0 2px 2px 0;
            border: 2px solid transparent;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            &:last-child{
                margin-right: 0;
            }
            &::before{
                content: attr(data-tooltip);
                min-width: 120px;
                position: absolute;
                top: -42px;
                padding: 4px 8px;
                left: 50%;
                margin-left: -60px;
                background: $AcrylicBackgroundFillColorBase;
                border: 1px solid $SurfaceStrokeColorDefault;
                border-radius: 4px;
                text-align: center;
                visibility: hidden;
                z-index: 1;
                pointer-events: none;
                @include TypeBody;
            }
            &:hover{
                border-color: $ControlStrongStrokeColorDefault;
                &::before{
                    visibility: visible;
                }
            }
            &:active{
                border-color: $ControlStrongStrokeColorDisabled;
            }
            &.color{
                &.YellowGold{ background-color: $YellowGold;}
                &.Gold{ background-color: $Gold;}
                &.OrangeBright{ background-color: $OrangeBright;}
                &.OrangeDark{ background-color: $OrangeDark;}
                &.Rust{ background-color: $Rust;}
                &.PaleRust{ background-color: $PaleRust;}
                &.BrickRed{ background-color: $BrickRed;}
                &.ModRed{ background-color: $ModRed;}

                &.PaleRed{ background-color: $PaleRed;}
                &.Red{ background-color: $Red;}
                &.RoseBright{ background-color: $RoseBright;}
                &.Rose{ background-color: $Rose;}
                &.PlumLight{ background-color: $PlumLight;}
                &.Plum{ background-color: $Plum;}
                &.OrchidLight{ background-color: $OrchidLight;}
                &.Orchid{ background-color: $Orchid;}

                &.DefaultBlue{ background-color: $DefaultBlue;}
                &.NavyBlue{ background-color: $NavyBlue;}
                &.PurpleShadow{ background-color: $PurpleShadow;}
                &.PurpleShadowDark{ background-color: $PurpleShadowDark;}
                &.IrisPastel{ background-color: $IrisPastel;}
                &.IrisSpring{ background-color: $IrisSpring;}
                &.VioletRedLight{ background-color: $VioletRedLight;}
                &.VioletRed{ background-color: $VioletRed;}

                &.CoolBlueBright{ background-color: $CoolBlueBright;}
                &.CoolBlue{ background-color: $CoolBlue;}
                &.Seafoam{ background-color: $Seafoam;}
                &.SeafoamTeal{ background-color: $SeafoamTeal;}
                &.MintLight{ background-color: $MintLight;}
                &.MintDark{ background-color: $MintDark;}
                &.TurfGreen{ background-color: $TurfGreen;}
                &.SportGreen{ background-color: $SportGreen;}

                &.Grey{ background-color: $Grey;}
                &.GreyBrown{ background-color: $GreyBrown;}
                &.SteelBlue{ background-color: $SteelBlue;}
                &.MetalBlue{ background-color: $MetalBlue;}
                &.PaleMoss{ background-color: $PaleMoss;}
                &.Moss{ background-color: $Moss;}
                &.MeadowGreen{ background-color: $MeadowGreen;}
                &.Green{ background-color: $Green;}

                &.Overcast{ background-color: $Overcast;}
                &.Storm{ background-color: $Storm;}
                &.BlueGrey{ background-color: $BlueGrey;}
                &.GreyDark{ background-color: $GreyDark;}
                &.LiddyGreen{ background-color: $LiddyGreen;}
                &.Sage{ background-color: $Sage;}
                &.CamouflageDesert{ background-color: $CamouflageDesert;}
                &.Camouflage{ background-color: $Camouflage;}
            }
        }
    }
}

.divider{
    height: 1px;
    width: 100%;
    margin: 16px 0;
    background-color: $DividerStrokeColorDefault;
}
