@keyframes fluent-setting-rot {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

// Also includes the RTC controls icons to save having another file
.panels-j1Uci_ .button-14-BFJ{
    &[aria-label="#{map-get($translate, DEAFEN)}"][aria-checked=true]::before{
        content: "\E74F"; // Mute
    }
    &[aria-label="#{map-get($translate, DEAFEN)}"][aria-checked=false]::before{
        content: "\E767"; // Volume
    }
    &[aria-label="#{map-get($translate, MUTE)}"][aria-checked=true]::before{
        content: "\EC54"; // MicOff
    }
    &[aria-label="#{map-get($translate, MUTE)}"][aria-checked=false]::before{
        content: "\E720"; // Microphone
    }
    &[aria-label="#{map-get($translate, USER_SETTINGS)}"]::before{
        content: "\E713"; // Settings
    }
    &[aria-label="#{map-get($translate, USER_SETTINGS)}"]{
        &:hover{
            &::before{
                animation: fluent-setting-rot 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
            }
        }
    }

    // RTC
    &[aria-label="#{map-get($translate, NOISE_CANCELLATION_TOOLTIP)}"]::before{
        content: "\F61F"; // NoiseCancellation
    }
    &[aria-label="#{map-get($translate, SERVICE_CONNECTIONS_DISCONNECT)}"]::before{
        content: "\E137"; // HangUp
    }

    // Streaming
    &[aria-label*="#{map-get($translate, ACTIVITY_PANEL_GO_LIVE_STREAM_GAME)}"]::before{
        content: "\EBC6"; // Project
    }
    &[aria-label="#{map-get($translate, STOP_STREAMING)}"]::before{
        content: "\EA14"; // DisconnectDisplay
    }
}
