@keyframes fluent-setting-rot {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

// Also includes the RTC controls icons to save having another file
html[lang^="en-"].theme-dark .panels-3wFtMD .button-12Fmur{
    &[aria-label="#{map-get($translate, DEAFEN)}"][aria-checked=true]::before{
        content: "\E74F"; // Mute
    }
    &[aria-label="#{map-get($translate, DEAFEN)}"][aria-checked=false]::before{
        content: "\E767"; // Volume
    }
    &[aria-label="#{map-get($translate, MUTE)}"][aria-checked=true]::before{
        content: "\EC54"; // MicOff
    }
    &[aria-label="#{map-get($translate, MUTE)}"][aria-checked=false]::before{
        content: "\E720"; // Microphone
    }
    &[aria-label^="#{map-get($translate, USER_SETTINGS)}" i]::before{
        content: "\E713"; // Settings
    }
    &[aria-label^="#{map-get($translate, USER_SETTINGS)}" i]{
        &:hover{
            &::before{
                animation: fluent-setting-rot 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
            }
        }
    }

    // RTC
    &[aria-label="#{map-get($translate, NOISE_CANCELLATION_TOOLTIP)}" i]::before{
        content: "\F61F"; // NoiseCancellation
    }
    &[aria-label="#{map-get($translate, SERVICE_CONNECTIONS_DISCONNECT)}"]::before{
        content: "\E137"; // HangUp
    }
    &[aria-label="#{map-get($translate, AUDIENCE_DISCONNECT)}"]::before{
        content: "\E11F"; // LeaveChat
    }

    // Streaming
    &[aria-label*="#{map-get($translate, ACTIVITY_PANEL_GO_LIVE_STREAM_GAME)}"]::before{
        content: "\EBC6"; // Project
    }
    &[aria-label="#{map-get($translate, STOP_STREAMING)}"]::before{
        content: "\EA14"; // DisconnectDisplay
    }

    // Spotify
    &[aria-label="Stop"]::before{
        content: "\E15B"; // Stop
    }
}

html[lang^="en-"].theme-dark .panels-3wFtMD .actionButtons-2vEOUh .button-1EGGcP{
    // &[aria-label="#{map-get($translate, CAMERA)}"]::before,
    // &[aria-label="#{map-get($translate, CAMERA_ON)}"]::before,
    // &[aria-label="#{map-get($translate, CAMERA_OFF)}"]::before,
    // &[aria-label="#{map-get($translate, CAMERA_UNAVAILABLE)}"]::before{
    &:nth-of-type(1)::before{
        content: "\E156"; // WebCam
    }
    // &[aria-label="#{map-get($translate, SHARE_YOUR_SCREEN)}"]::before,
    // &[aria-label="#{map-get($translate, SCREEN_SHARE_ON)}"]::before{
    &:nth-of-type(2)::before{
        content: "\EC15"; // MiracastLogoSmall
    }
    &:nth-of-type(3)::before{
        content: "\EA86" // Puzzle
    }
}
