html[lang^="en-"].theme-dark .wrapper__4d4fe .button__581d0{
    &[aria-label*="Camera"]::before,
    &[aria-label*="Join Video Call"]::before{
        content: "\E156"; // WebCam
    }
    &[aria-label="Share Your Screen"]::before{
        content: "\EC15"; // MiracastLogoSmall
    }
    &[aria-label="Stop Streaming"]::before{
        content: "\EA14"; // DisconnectDisplay
    }
    &[aria-label="Turn On Microphone"]::before{
        content: "\EC54"; // MicOff
    }
    &[aria-label="Turn Off Microphone"]::before{
        content: "\E720"; // Microphone
    }
    &[aria-label="Disconnect"]::before{
        content: "\E137"; // HangUp
    }
    &[aria-label="Stop Watching"]::before{
        content: "\E191"; // StopSlideShow
    }
    &[aria-label="Join Call"]::before{
        content: "\E13A"; // Phone
    }
    &[aria-label="Dismiss"]::before{
        // There's no Call Reject icon, so have to reuse
        content: "\E137"; // HangUp
    }
    &[aria-label="Start an Activity"]::before{
        content: "\EA86"; // Puzzle
    }
    &[aria-label="Leave Activity"]::before{
        content: "\E137"; // HangUp
    }

    &[aria-label="Hide chat"]::before{
        content: "\E70D"; // ChevronDown
    }
    &[aria-label="Show chat"]::before{
        content: "\E70D"; // ChevronDown
    }

    &[aria-label="Pop Out"]::before{
        content: "\E17C"; // NewWindow
    }
    &[aria-label="Full Screen"]::before{
        content: "\E1D9"; // FullScreen
    }
    &[aria-label="Exit Full Screen"]::before{
        content: "\E1D8"; // BackToWindow
    }
    &[aria-label^="Return"]::before{
        content: "\F71A"; // ReturnToCall
    }
}
