.containerDefault--pIXnN{
    // Change icons
    a[aria-label*="#{map-get($translate, GUILD_SIDEBAR_DEFAULT_CHANNEL_A11Y_LABEL)}"]{
        .iconContainer-1BBaeJ::before{
            content: "#";
        }
    }
    a[aria-label*="#{map-get($translate, GUILD_SIDEBAR_VOICE_CHANNEL_A11Y_LABEL)}"]{
        .iconContainer-1BBaeJ::before{
            content: "\E767"; // Volume
        }
    }
    a[aria-label*="#{map-get($translate, GUILD_SIDEBAR_ANNOUNCEMENT_CHANNEL_A11Y_LABEL)}"]{
        .iconContainer-1BBaeJ::before{
            content: "\E789"; // Megaphone
        }
    }
    a[aria-label*="#{map-get($translate, STAGE_VOICE_CHANNEL)}"]{
        .iconContainer-1BBaeJ::before{
            content: "\E95A"; // Communications
        }
    }

}
