.theme-dark .channelTextArea_f75fb0{
    &:focus-within{
        .autocomplete__13533{
            border-color: $ControlStrokeColorDefault;
        }
    }
}

.theme-dark .autocomplete__13533{
    right: 0;
    bottom: calc(100% + 4px);
    left: 0;
    box-shadow: none;
    background-color: $CardStrokeColorDefaultSolid;
    border: 1px solid $ControlStrokeColorDefault;
    border-radius: 4px;

    .rail_d1405b{
        background-color: $CardStrokeColorDefault;
    }

    .section_b1e4f3{
        > div[role=button]{
            width: 32px;
            height: 32px;
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            border-radius: 4px;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
            svg{
                width: 24px;
                height: 24px;
                margin: 4px;
            }
            .wrapper_ca5f52{
                padding: 0 !important; // Override inline
            }
        }
    }

    // Commands header
    .categoryHeader_d1405b{
        background-color: $CardStrokeColorDefaultSolid;
        .headerLabel__14245{
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-transform: none;
        }
    }

    // Commands matching: header
    .contentTitle__13533{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-transform: none;
        strong{
            @include FontMonospace;
            @include TypeBody;
            &::before,
            &::after{
                content: "\"";
            }
        }
    }

    // Command
    .base__13533{
        &.selected-3H3-RC{
            background-color: $SubtleFillColorSecondary;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow;
        }
        .title__920ab{
            @include FontMonospace;
            @include TypeBody;
        }
        .usageWrapper__920ab{
            .optionalCount__920ab{
                @include TypeBody;
                color: $TextFillColorTertiary;
            }
            .option__920ab{
                padding: 0;
                margin-left: 1ch;
                background-color: transparent;
                @include FontMonospace;
                @include TypeBody;
                &::before{
                    content: "{";
                }
                &::after{
                    content: "}";
                }
            }
        }

        // Command description
        .description__920ab{
            @include TypeCaption;
            color: $TextFillColorTertiary;
        }
    }
}
