.theme-dark .f75fb00fb7356cbe-channelTextArea{
    &:focus-within{
        ._13533e3c5791980f-autocomplete{
            border-color: $ControlStrokeColorDefault;
        }
    }
}

.theme-dark ._13533e3c5791980f-autocomplete{
    right: 0;
    bottom: calc(100% + 4px);
    left: 0;
    box-shadow: none;
    background-color: $CardStrokeColorDefaultSolid;
    border: 1px solid $ControlStrokeColorDefault;
    border-radius: 4px;

    .d1405bf11dcfb07a-rail{
        background-color: $CardStrokeColorDefault;
    }

    .b1e4f3fb96801b99-section{
        > div[role=button]{
            width: 32px;
            height: 32px;
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            border-radius: 4px;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
            svg{
                width: 24px;
                height: 24px;
                margin: 4px;
            }
            .ca5f52b68137f12b-wrapper{
                padding: 0 !important; // Override inline
            }
        }
    }

    // Commands header
    .d1405bf11dcfb07a-categoryHeader{
        background-color: $CardStrokeColorDefaultSolid;
        ._14245bb948377a25-headerLabel{
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-transform: none;
        }
    }

    // Commands matching: header
    ._13533e3c5791980f-contentTitle{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-transform: none;
        strong{
            @include FontMonospace;
            @include TypeBody;
            &::before,
            &::after{
                content: "\"";
            }
        }
    }

    // Command
    ._13533e3c5791980f-base{
        &.selected-3H3-RC{
            background-color: $SubtleFillColorSecondary;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow;
        }
        ._920abe02ba8772be-title{
            @include FontMonospace;
            @include TypeBody;
        }
        ._920abe02ba8772be-usageWrapper{
            ._920abe02ba8772be-optionalCount{
                @include TypeBody;
                color: $TextFillColorTertiary;
            }
            ._920abe02ba8772be-option{
                padding: 0;
                margin-left: 1ch;
                background-color: transparent;
                @include FontMonospace;
                @include TypeBody;
                &::before{
                    content: "{";
                }
                &::after{
                    content: "}";
                }
            }
        }

        // Command description
        ._920abe02ba8772be-description{
            @include TypeCaption;
            color: $TextFillColorTertiary;
        }
    }
}
