// Channels & Roles
.theme-dark .header__0b563{
    background: transparent !important; // Override inline
    .iconWrapper__9293f{
        display: none;
    }
}
.theme-dark .content_f75fb0 {
    height: calc(100% - 1px);
    padding: 0;
    background: $LayerFillColorDefault !important; // Override inline
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;
    &::before{
        content: unset;
    }

    // Customise tab
    // Customisation questions
    .prompt__5d7c9{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }
    // My profile
    .profileCard__5d7c9{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }

    // Browse channels
    .pageBody__41ed7{
        background-color: transparent;
    }
    .channelRow_e4503a {
        background-color: $CardBackgroundFillColorDefault;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: $CardStrokeColorDefault;
        &.firstChannel_e4503a{
            border-radius: 4px 4px 0 0;
        }
        &.lastChannel_e4503a{
            border-radius: 0 0 4px 4px;
        }
    }
    .separator_e4503a{
        display: none;
    }

    // Fix for channel checkboxes not displaying
    .channelActions_e4503a .checkbox_f525d3{
        display: block;
    }

    // Category row has some issues
    .categoryRow_e4503a{
        .checkbox_f525d3{
            display: block;
        }
    }
}

// Members
.theme-dark .page_c791b2{
    background-color: transparent !important;
    .header_c791b2{
        box-shadow: none;
    }
    .scroller_d20375{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }

    .content_f75fb0{
        background-color: transparent !important;
        // border: 0;
    }
    .mainTableContainer__09a38{
        background-color: transparent;
        box-shadow: none;
    }
}
