// Channels & Roles
.theme-dark .header__71942 {
    background-color: transparent;
    .iconWrapper_de6cd1{
        display: none;
    }
}
.theme-dark .content__01e65 {
    height: calc(100% - 1px);
    padding: 0;
    background-color: $LayerFillColorDefault;
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;
    &::before{
        content: unset;
    }

    // Customise tab
    // Customisation questions
    .prompt__1b100{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }
    // My profile
    .profileCard__1d74b{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }

    // Browse channels
    .channelRow__538ef {
        background-color: $CardBackgroundFillColorDefault;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: $CardStrokeColorDefault;
        &.firstChannel_c06b53{
            border-radius: 4px 4px 0 0;
        }
        &.lastChannel__0a967{
            border-radius: 0 0 4px 4px;
        }
    }
    .separator__68570{
        display: none;
    }

    // Fix for channel checkboxes not displaying
    .channelActions__04de2 .checkbox_fcf2ad{
        display: block;
    }

    // Category row has some issues
    .categoryRow__8a080{
        .checkbox_fcf2ad{
            display: block;
        }
    }
}
