.theme-dark .form-3qe0Ni, // Main chatbox
.theme-dark .submitContainer-1DHMA0{ // Thread start
    margin-top: 0;
    padding-right: 17px;
    padding-left: 15px;
    // Remove gradient on left
    &::before{
        display: none;
    }

    .channelTextArea-1deLlK,
    .channelTextArea-1VQBuV{
        margin-bottom: 8px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:focus-within{
            background-color: $ControlFillColorInputActiveBrush;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
    }
    .scrollableContainer-15eg7h{
        background-color: transparent;
        border-radius: 4px;
        overflow-y: auto;
    }

    .sansAttachButton-1ERHue{
        padding-left: 0;
    }

    // User's input text
    .textArea-2CLwUE{
        height: 45px;
        min-height: 45px;
    }
    .slateTextArea-27tjG0{
        right: 8px;
        left: 8px;
        color: $TextFillColorPrimary;
        &.placeholder-1rCBhr{
            color: $TextFillColorSecondary;
        }
    }


    // Upload button
    .attachButton-_ACFSu{
        width: 32px;
        height: 32px;
        margin: 6px 0 0 6px;
        border: 1px solid transparent;
        border-radius: 2px;
        &::before{
            content: "\E898"; // Upload
            color: $TextFillColorSecondary;
            @include FontIconFluent;
            font-size: 16px;
        }
        &:hover,
        &[aria-expanded=true]{
            background-color: $ControlFillColorSecondary;
            border-color: $ControlStrokeColorDefault;
            &::before{
                color: $TextFillColorPrimary;
            }
        }
        .contents-3NembX{
            display: none;
        }
    }

    // Bot command bot icon
    // NOTE - 2022-12-18: This can be tested using the `/embed create` command from Carl-bot
    // NOTE - 2022-12-18: `:not(button)` is required because the normal attach button uses the same class
    .attachButton-1ijpt9:not(button){
        margin-left: 0;
    }

    .codeBlockSyntax-2MZ-Qy{
        font-family: Consolas, monospace;
    }

    // Gift/GIF/Sticker/Emoji buttons
    .expression-picker-chat-input-button{
        margin: 6px 4px 0 0;
        align-items: flex-start;
        .button-ejjZWC{
            height: 32px;
            width: 32px;
            border: 1px solid transparent;
            &::before{
                color: $TextFillColorSecondary;
                @include FontIconFluent;
                font-size: 18px;
            }
            &:hover,
            &.active-z80xEj,
            &.emojiButtonHovered-s44uQ8{
                background-color: $ControlFillColorDisabled;
                border-color: $ControlStrokeColorDefault;
                &::before{
                    color: $TextFillColorPrimary;
                }
            }
        }

        // Always hide the emoji button icon since it can be directly selected
        .emojiButton-1fMsf3{
            .contents-3NembX{
                display: none;
            }
        }

        // Replace sticker icon
        .contents-3NembX.stickerButton-1-nFh2{
            &::before{
                content: "\F4AA"; // Sticker2
                @include FontIconFluent;
                font-size: 18px;
            }
            svg{
                display: none;
            }
        }

        // Replace GIF icon
        .button-ejjZWC[aria-label*="GIF"]{
            .contents-3NembX{
                &::before{
                    content: "\F4A9"; // GIF
                    @include FontIconFluent;
                    font-size: 18px;
                }
                svg{
                    display: none;
                }
            }
        }

    }
    .buttons-uaqb-5{
        height: unset;
        margin-right: 0;
        // Remove gift
        & > .button-ejjZWC{
            display: none;
        }
        // Set a static emoji icon
        .emojiButton-3FRTuj{
            margin: 0 4px 0 0;
            &::before{
                content: "\E76E"; //Emoji2
                color: $TextFillColorSecondary;
                @include FontIconFluent;
                font-size: 16px;
            }
        }

        // Send button
        .separator-3ng7S5{
            margin-top: 6px;
            margin-left: -4px;
            &::before{
                display: none;
            }
            .button-y6hemj{
                width: 32px;
                height: 32px;
                margin-right: 4px;
                &::before{
                    content: "\E122";
                    color: $TextFillColorSecondary;
                    @include FontIconFluent;
                    font-size: 18px;
                }
                &:disabled::before{
                    color: $TextFillColorDisabled;
                }
                &:hover:not(:disabled):before{
                    color: $TextFillColorPrimary;
                }
                .contents-3NembX{
                    display: none;
                }
            }
        }
    }

    // Is Typing
    .typing-2J1mQU{
        height: 20px;
        top: -20px;
        right: 16px;
        bottom: unset;
        background-color: transparent;
        font-size: 11px;
        line-height: 20px;
        align-items: flex-end;
        justify-content: flex-end;
        pointer-events: none;
        svg{
            display: none;
        }
        span[class^="text-"]{
            // Force text to right side when slowmode is enabled
            top: 0;
            right: 0;
            position: absolute;
            strong{
                font-weight: normal;
            }
        }
        // Slowmode font-weight
        .cooldownWrapper-2k1jHK{
            font-weight: normal;
        }
        // Fix position of countdown timer
        .text-3S7XCz:not(:empty) + .cooldownWrapper-2k1jHK{
            margin-bottom: 14px;
        }
    }

    // Various chatbox states
    // Announce channel follow
    .wrapper-IjGAlW{
        margin-bottom: 16px;
        background-color: $ControlFillColorDisabled;
        border: 1px solid $ControlStrokeColorDefault;
        // Remove image
        .content-1YKiCa{
            img{
                display: none;
            }
            .title-ZqmuTf{
                color: $TextFillColorDisabled !important; // Override inline
                @include TypeBody;
            }
        }
    }

    // No permission
    .textAreaDisabled-10ObTX{
        .placeholder-1_mJY1{
            color: $TextFillColorSecondary;
            @include TypeBody;
        }
    }

    // Showing command help
    .attachedBars-2BCP3l{
        background-color: $CardStrokeColorDefaultSolid;
        border-radius: 4px 4px 0 0;
        .title-158kHv{
            @include TypeBody;
        }
        .option-Tt7anD{
            margin-left: 0;
            @include TypeBody;
            &::before{
                content: "{";
            }
            &::after{
                content: "}";
            }

            &.active-WHsd77{
                background-color: transparent !important;
            }
        }
    }

    // Replying to message
    .clipContainer-31nYlH{
        margin-top: 0;
    }
    .replyBar-1oi75v{
        background-color: transparent;
        .replyLabel-WWnhHi{
            color: $TextFillColorPrimary;
        }
    }

    // Hide 'game support game invites' message
    .activityInviteEducation-3dYEeQ, // Main chatbox
    .applicationCommandEducation-1stoia{ // Thread
        display: none;
    }
}
