.theme-dark{
    .chat_f75fb0{
        background: transparent;
        border-top: 0;
        &[data-has-border=true]{
            border-top: 0;
        }
    }

    .content_f75fb0{
        background-color: $LayerFillColorAlt;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }
    .chatContent_f75fb0{
        background-color: transparent;
    }

    // New/old messages bars
    .barBase__0f481{
        margin: 0 auto;
        max-width: 598px;
        min-height: 32px;
        border: 1px solid $CardStrokeColorDefault;
        box-shadow: none;
        border-radius: 4px;
        .barButtonMain__0f481{
            @include TypeBody;
        }
        .barButtonAlt__0f481{
            display: none;
        }
    }
    // New messages bar
    .newMessagesBar__0f481{
        top: 8px;
        background-color: $AccentLight1;
        .barButtonBase__0f481{
            color: $TextOnAccentFillColorPrimary;
        }
    }
    // Old messages bar
    .jumpToPresentBar__0f481{
        bottom: 8px;
        padding-bottom: 0;
        background-color: $CardStrokeColorDefaultSolid;
    }
    // Errored bar
    .messagesErrorBar__0f481{
        bottom: 8px;
        background-color: $SystemFillColorCriticalBackground;
        border-color: $CardStrokeColorDefault;
        padding-bottom: 0;
    }

    // Reactions
    .reaction__23977,.reactionBtn__23977 {
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        color: $TextFillColorPrimary;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        &.reactionMe__23977{
            border-color: $AccentBase;
        }
        &.reactionMe__23977 .reactionCount__23977,
        .reactionCount__23977{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
        &.reactionReadOnly__23977{
            background-color: $ControlFillColorDisabled;
            border: 1px solid $ControlStrokeColorDefault;
            .reactionCount__23977{
                color: $TextFillColorDisabled;
            }
            &:hover .reactionCount__23977{
                color: $TextFillColorDisabled;
            }
        }
    }

    // Mentioned
    .message__5126c{
        &.mentioned__5126c{
            background-color: $SystemFillColorCautionBackground;
            &::before{
                left: 4px;
                background-color: $SystemFillColorCaution;
                border-radius: 1px;
            }
        }
    }

    // Divider
    .divider__908e2{
        justify-content: flex-end;
        border-color: $DividerStrokeColorDefault;
        .content__908e2,
        .unreadPill__908e2{
            padding: 2px 8px;
            background-color: $SystemFillColorSolidNeutralBackground;
            color: $TextFillColorPrimary;
            @include TypeCaption;
        }
        .unreadPill__908e2{
            height: unset;
            top: -1px;
            background-color: $SystemFillColorCriticalBackground;
            border-radius: 8px;
            color: $SystemFillColorCritical;
            text-transform: capitalize;
            svg{
                display: none;
            }
        }
        &.isUnread__908e2{
            // NOTE: 2021-08-29 - The border should technically be SystemFillColorCriticalBackground, but is barely visisble, so using the text fill instead.
            border-color: $SystemFillColorCritical;
            .content__908e2{
                border-radius: 8px 0 0 8px;
            }
            .unreadPill__908e2{
                position: relative;
            }
        }
        // Border radius when date and new message divider are combined
        span+span{
            border-radius: 0 8px 8px 0 !important; // Override inline
        }
    }

    // inline code
    .markup__75297 code{
        background-color: $LayerFillColorDefault;
    }

    // Remove avatar borders/decorations
    .avatarDecoration_c19a55{
        display: var(--fluent-show-nitro-decorations);
    }

    // Start of server
    .container__00de6{
        align-items: flex-start;
        padding: 0;
        .titleName_aae012{
            text-align: left;
            @include TypeTitle;
            p{
                margin-right: .5rem;
                display: inline-block;
            }
        }
        .subtitle_aae012{
            text-align: left;
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
    }

    // Start of channel
    .container__00de6{
        padding: 16px;
        .header__00de6{
            @include TypeTitle;
        }
        .description__00de6{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
    }
    .emptyChannelIcon__00de6{
        display: none;
    }

    // Thread
    .container__9271d{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;
    }

    // Embedded image
    // Remove AI slop buttons
    .imageContainer__0f481{
        .hoverButton__06ab4[aria-label="Edit Image with Apps"]{
            display: none;
        }
    }

    // Loading chat content
    .wrapper_d852db, // Loading container
    .wrapper_fc8177{ // Chat line item
        background: transparent;
    }

    // Remove gradient at bottom of chat
    .chatGradientBase__36d07 {
        display: none;
    }
    .scrollerSpacer__36d07{
        height: 16px;
    }
}
