.theme-dark .form_d8a4a1, // Main chatbox
.theme-dark .submitContainer-1DHMA0{ // Thread start
    margin-top: 0;
    padding-right: 17px;
    padding-left: 15px;
    // Remove gradient on left
    &::before{
        display: none;
    }

    .channelTextArea_c2094b,
    .channelTextArea-1VQBuV{
        margin-bottom: 8px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:focus-within{
            background-color: $ControlFillColorInputActiveBrush;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
    }
    .scrollableContainer_ff917f{
        background-color: transparent;
        border-radius: 4px;
        overflow-y: auto;
    }

    .sansAttachButton__5f863{
        padding-left: 0;
    }

    // User's input text
    .textArea_a86690{
        height: 45px;
        min-height: 45px;
    }
    .slateTextArea_b19976{
        right: 8px;
        left: 8px;
        color: $TextFillColorPrimary;
        &.placeholder-1rCBhr{
            color: $TextFillColorSecondary;
        }
    }


    // Upload button
    .attachButton__5f6dc{
        width: 32px;
        height: 32px;
        margin: 6px 0 0 6px;
        border: 1px solid transparent;
        border-radius: 2px;
        &::before{
            content: "\E898"; // Upload
            color: $TextFillColorSecondary;
            @include FontIconFluent;
            font-size: 16px;
        }
        &:hover,
        &[aria-expanded=true]{
            background-color: $ControlFillColorSecondary;
            border-color: $ControlStrokeColorDefault;
            &::before{
                color: $TextFillColorPrimary;
            }
        }
        .contents__322f4{
            display: none;
        }
    }
    // Upload button when command is entered
    .hasConnectedBar__7d21e .attachButton__5f6dc{
        // Hide our upload icon
        &::before{
            content: "";
        }
        // Position the slash icon
        .icon__58cfe{
            padding: 4px;
        }
        // Remove hover effects
        &:hover{
            background-color: transparent;
            border-color: transparent;
        }
    }

    // Bot command bot icon
    // NOTE - 2022-12-18: This can be tested using the `/embed create` command from Carl-bot
    // NOTE - 2022-12-18: `:not(button)` is required because the normal attach button uses the same class
    .attachButton-1ijpt9:not(button){
        margin-left: 0;
    }

    .codeBlockSyntax-2MZ-Qy{
        font-family: Consolas, monospace;
    }

    // Gift/GIF/Sticker/Emoji buttons
    .expression-picker-chat-input-button{
        margin: 6px 4px 0 0;
        align-items: flex-start;
        .button__581d0{
            height: 32px;
            width: 32px;
            border: 1px solid transparent;
            &::before{
                color: $TextFillColorSecondary;
                @include FontIconFluent;
                font-size: 18px;
            }
            &:hover,
            &.active-z80xEj,
            &.emojiButtonHovered__7519c{
                background-color: $ControlFillColorDisabled;
                border-color: $ControlStrokeColorDefault;
                &::before{
                    color: $TextFillColorPrimary;
                }
            }
        }

        // Always hide the emoji button icon since it can be directly selected
        .emojiButton__176c8{
            .contents__322f4{
                display: none;
            }
        }

        // Replace sticker icon
        .contents__322f4.stickerButton_c02bc0{
            &::before{
                content: "\F4AA"; // Sticker2
                @include FontIconFluent;
                font-size: 18px;
            }
            .lottieIcon_c7076c{
                display: none !important; // Override in-line
            }
        }

        // Replace GIF icon
        .button__581d0[aria-label*="GIF"]{
            .contents__322f4{
                &::before{
                    content: "\F4A9"; // GIF
                    @include FontIconFluent;
                    font-size: 18px;
                }
                .lottieIcon_c7076c{
                    display: none !important; // Override in-line
                }
            }
        }

    }
    .buttons__7ecff{
        height: unset;
        margin-right: 0;
        // Remove gift
        & > .button__581d0{
            display: none;
        }
        // Set a static emoji icon
        .emojiButton__176c8{
            margin: 0 4px 0 0;
            &::before{
                content: "\E76E"; //Emoji2
                color: $TextFillColorSecondary;
                @include FontIconFluent;
                font-size: 16px;
            }
        }

        // Send button
        .separator__666aa{
            margin-top: 6px;
            margin-left: -4px;
            &::before{
                display: none;
            }
            .button__581d0{
                width: 32px;
                height: 32px;
                margin-right: 4px;
                &::before{
                    content: "\E122";
                    color: $TextFillColorSecondary;
                    @include FontIconFluent;
                    font-size: 18px;
                }
                &:disabled::before{
                    color: $TextFillColorDisabled;
                }
                &:hover:not(:disabled):before{
                    color: $TextFillColorPrimary;
                }
                .contents__322f4{
                    display: none;
                }
            }
        }
    }

    // Is Typing
    .typing__6fd1d{
        height: 20px;
        top: -20px;
        right: 16px;
        bottom: unset;
        background-color: transparent;
        font-size: 11px;
        line-height: 20px;
        align-items: flex-end;
        justify-content: flex-end;
        pointer-events: none;
        svg{
            display: none;
        }
        span[class^="text-"]{
            // Force text to right side when slowmode is enabled
            top: 0;
            right: 0;
            position: absolute;
            strong{
                font-weight: normal;
            }
        }
        // Slowmode font-weight
        .cooldownWrapper__193b2{
            font-weight: normal;
        }
        // Fix position of countdown timer
        .text_eb454c:not(:empty) + .cooldownWrapper__193b2{
            margin-bottom: 14px;
        }
    }

    // Various chatbox states
    // Announce channel follow
    .wrapper__57349{
        margin-bottom: 16px;
        background-color: $ControlFillColorDisabled;
        border: 1px solid $ControlStrokeColorDefault;
        // Remove image
        .content__98536{
            img{
                display: none;
            }
            .title__3b5e7{
                color: $TextFillColorDisabled !important; // Override inline
                @include TypeBody;
            }
        }
    }

    // No permission
    .textAreaDisabled__38376{
        .placeholder_dec8c7{
            color: $TextFillColorSecondary;
            @include TypeBody;
        }
    }

    // Showing command help
    .attachedBars_c1606a{
        background-color: $CardStrokeColorDefaultSolid;
        border-radius: 4px 4px 0 0;
        .name__12c49{
            @include TypeBody;
        }
        .option-Tt7anD{
            margin-left: 0;
            @include TypeBody;
            &::before{
                content: "{";
            }
            &::after{
                content: "}";
            }

            &.active-WHsd77{
                background-color: transparent !important;
            }
        }
    }

    // Replying to message
    .clipContainer_ab9cf6{
        margin-top: 0;
    }
    .replyBar_ed6afc{
        background-color: transparent;
        .replyLabel__84289{
            color: $TextFillColorPrimary;
        }
    }

    // Hide 'game support game invites' message
    .activityInviteEducation-3dYEeQ, // Main chatbox
    .applicationCommandEducation-1stoia{ // Thread
        display: none;
    }
}
