.theme-dark .f7ecaca5c80dbf3a-wrapper{
    background-color: $ControlOnImageFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
}

html[lang^="en-"].theme-dark .f7ecaca5c80dbf3a-wrapper{
    .f7ecaca5c80dbf3a-button[aria-label]{
        &::before{
            @include FontIconFluent;
        }
        svg{
            display: none;
        }
    }
}
