.theme-dark{
    .f75fb00fb7356cbe-chat{
        background: transparent;
        border-top: 0;
        &[data-has-border=true]{
            border-top: 0;
        }
    }

    .f75fb00fb7356cbe-content{
        background-color: $LayerFillColorAlt;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
    }
    .f75fb00fb7356cbe-chatContent{
        background-color: transparent;
    }

    // New/old messages bars
    ._0f481cbbd7530492-barBase{
        margin: 0 auto;
        max-width: 598px;
        min-height: 32px;
        border: 1px solid $CardStrokeColorDefault;
        box-shadow: none;
        border-radius: 4px;
        ._0f481cbbd7530492-barButtonMain{
            @include TypeBody;
        }
        ._0f481cbbd7530492-barButtonAlt{
            display: none;
        }
    }
    // New messages bar
    ._0f481cbbd7530492-newMessagesBar{
        top: 8px;
        background-color: $AccentLight1;
        ._0f481cbbd7530492-barButtonBase{
            color: $TextOnAccentFillColorPrimary;
        }
    }
    // Old messages bar
    ._0f481cbbd7530492-jumpToPresentBar{
        bottom: 8px;
        padding-bottom: 0;
        background-color: $CardStrokeColorDefaultSolid;
    }
    // Errored bar
    ._0f481cbbd7530492-messagesErrorBar{
        bottom: 8px;
        background-color: $SystemFillColorCriticalBackground;
        border-color: $CardStrokeColorDefault;
        padding-bottom: 0;
    }

    // Reactions
    ._23977d5b7cef7361-reaction,._23977d5b7cef7361-reactionBtn {
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        color: $TextFillColorPrimary;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        &._23977d5b7cef7361-reactionMe{
            border-color: $AccentBase;
        }
        &._23977d5b7cef7361-reactionMe ._23977d5b7cef7361-reactionCount,
        ._23977d5b7cef7361-reactionCount{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
        &._23977d5b7cef7361-reactionReadOnly{
            background-color: $ControlFillColorDisabled;
            border: 1px solid $ControlStrokeColorDefault;
            ._23977d5b7cef7361-reactionCount{
                color: $TextFillColorDisabled;
            }
            &:hover ._23977d5b7cef7361-reactionCount{
                color: $TextFillColorDisabled;
            }
        }
    }

    // Mentioned
    ._5126c0cd07f243a0-message{
        &._5126c0cd07f243a0-mentioned{
            background-color: $SystemFillColorCautionBackground;
            &::before{
                left: 4px;
                background-color: $SystemFillColorCaution;
                border-radius: 1px;
            }
        }
    }

    // Divider
    ._908e20001ad67812-divider{
        justify-content: flex-end;
        border-color: $DividerStrokeColorDefault;
        ._908e20001ad67812-content,
        ._908e20001ad67812-unreadPill{
            padding: 2px 8px;
            background-color: $SystemFillColorSolidNeutralBackground;
            color: $TextFillColorPrimary;
            @include TypeCaption;
        }
        ._908e20001ad67812-unreadPill{
            height: unset;
            top: -1px;
            background-color: $SystemFillColorCriticalBackground;
            border-radius: 8px;
            color: $SystemFillColorCritical;
            text-transform: capitalize;
            svg{
                display: none;
            }
        }
        &._908e20001ad67812-isUnread{
            // NOTE: 2021-08-29 - The border should technically be SystemFillColorCriticalBackground, but is barely visisble, so using the text fill instead.
            border-color: $SystemFillColorCritical;
            ._908e20001ad67812-content{
                border-radius: 8px 0 0 8px;
            }
            ._908e20001ad67812-unreadPill{
                position: relative;
            }
        }
        // Border radius when date and new message divider are combined
        span+span{
            border-radius: 0 8px 8px 0 !important; // Override inline
        }
    }

    // inline code
    ._752971923a1e6683-markup code{
        background-color: $LayerFillColorDefault;
    }

    // Remove avatar borders/decorations
    .c19a557985eb7793-avatarDecoration{
        display: var(--fluent-show-nitro-decorations);
    }

    // Start of server
    ._00de6f6c14b53606-container{
        align-items: flex-start;
        padding: 0;
        .aae01227de06a74c-titleName{
            text-align: left;
            @include TypeTitle;
            p{
                margin-right: .5rem;
                display: inline-block;
            }
        }
        .aae01227de06a74c-subtitle{
            text-align: left;
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
    }

    // Start of channel
    ._00de6f6c14b53606-container{
        padding: 16px;
        ._00de6f6c14b53606-header{
            @include TypeTitle;
        }
        ._00de6f6c14b53606-description{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
    }
    ._00de6f6c14b53606-emptyChannelIcon{
        display: none;
    }

    // Thread
    ._9271d23503a01b50-container{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;
    }

    // Embedded image
    // Remove AI slop buttons
    ._0f481cbbd7530492-imageContainer{
        ._06ab41fd2ef7af3f-hoverButton[aria-label="Edit Image with Apps"]{
            display: none;
        }
    }

    // Loading chat content
    ._6c79861fd96f56b1-wrapper, // Loading container
    .fc817765600a960a-wrapper{ // Chat line item
        background: transparent;
    }

    // Remove gradient at bottom of chat
    ._36d072eab2b2e737-chatGradientBase {
        display: none;
    }
    ._36d072eab2b2e737-scrollerSpacer{
        height: 16px;
    }
}
