
.chatContent_f087cb{
    background-color: $LayerFillColorDefault;
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;
    // Remove drop-shadow
    &::before{
        content: unset;
    }
}
.container-cH6QoY, // Stage
.chatContent-2O4SXb{
    background-color: transparent;
}

// New/old messages bars
.barBase__8839d{
    margin: 0 auto;
    max-width: 598px;
    min-height: 32px;
    border: 1px solid $CardStrokeColorDefault;
    box-shadow: none;
    border-radius: 4px;
    .barButtonMain__984b4{
        @include TypeBody;
    }
    .barButtonAlt_e800ef{
        display: none;
    }
}
// New messages bar
.newMessagesBar__8b272{
    top: 8px;
    background-color: $AccentLight1;
    .barButtonBase__5e4cf{
        color: $TextOnAccentFillColorPrimary;
    }
}
// Old messages bar
.jumpToPresentBar__69174{
    bottom: 8px;
    padding-bottom: 0;
    background-color: $CardStrokeColorDefaultSolid;
}
// Errored bar
.messagesErrorBar__82c21{
    bottom: 8px;
    background-color: $SystemFillColorCriticalBackground;
    border-color: $CardStrokeColorDefault;
    padding-bottom: 0;
}

// Start of server
.container_cd7d9c{
    align-items: flex-start;
    padding: 0;
    .titleName__89d3b{
        text-align: left;
        @include TypeTitle;
        p{
            margin-right: .5rem;
            display: inline-block;
        }
    }
    .subtitle__8dcdc{
        text-align: left;
        color: $TextFillColorPrimary;
        @include TypeBody;
    }
}

// Start of channel
.container_cd7d9c{
    padding: 16px;
    .header_abc647{
        @include TypeTitle;
    }
    .description__51014{
        color: $TextFillColorPrimary;
        @include TypeBody;
    }
}
.emptyChannelIcon_d45c50{
    display: none;
}

// Divider
.divider__855e3{
    justify-content: flex-end;
    border-color: $DividerStrokeColorDefault;
    .content__7191e,
    .unreadPill__1b4fa{
        padding: 2px 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        color: $TextFillColorPrimary;
        @include TypeCaption;
    }
    .unreadPill__1b4fa{
        height: unset;
        top: -1px;
        background-color: $SystemFillColorCriticalBackground;
        border-radius: 8px;
        color: $SystemFillColorCritical;
        text-transform: capitalize;
        svg{
            display: none;
        }
    }
    &.isUnread_de09f5{
        // NOTE: 2021-08-29 - The border should technically be SystemFillColorCriticalBackground, but is barely visisble, so using the text fill instead.
        border-color: $SystemFillColorCritical;
        .content__7191e{
            border-radius: 8px 0 0 8px;
        }
        .unreadPill__1b4fa{
            position: relative;
        }
    }
    // Border radius when date and new message divider are combined
    span+span{
        border-radius: 0 8px 8px 0 !important; // Override inline
    }
}

// Chat message
.message_ccca67{
    // Remove hover
    &:hover{
        background-color: transparent !important; // Force catch-all to avoid adding .mouse-mode etc classes for this
    }
    // Remove background on mentioned message
    &.mentioned_fa6fd2{
        background-color: transparent;
        &::before{
            left: 3px;
            background-color: $SystemFillColorCaution;
            border-radius: 1px;
        }
    }
}

// Reactions
.reaction__4a43f,
.reaction-102jx9{ // Threads channel
    background-color: $ControlFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
    color: $TextFillColorPrimary;
    border-radius: 4px;
    &:hover{
        background-color: $ControlFillColorSecondary;
    }
    &:active{
        background-color: $ControlFillColorTertiary;
    }
    &.reactionMe__0fffc{
        border-color: $AccentBase;
    }
    .reactionCount__2c34d{
        color: $TextFillColorPrimary;
        @include TypeBody;
    }
    &.reactionReadOnly__504f3{
        background-color: $ControlFillColorDisabled;
        border: 1px solid $ControlStrokeColorDefault;
        .reactionCount__2c34d{
            color: $TextFillColorDisabled;
        }
        &:hover .reactionCount__2c34d{
            color: $TextFillColorDisabled;
        }
    }
}

// Thread
.container__17159{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
}

// Blocked message
.compact_e39360 .blockedSystemMessage_d1b25e{
    margin-left: -5ch;
    .iconContainer_d0200f{
        margin-right: 1ch;
        padding-top: 2px;
        &::before{
            content: "\ECE4"; // Blocked2
            @include FontIconFluent
        }
        svg{
            display: none;
        }
    }
}
.cozy_d67381 .blockedSystemMessage_d1b25e{
    .iconContainer_d0200f{
        padding-top: 2px;
        &::before{
            content: "\ECE4"; // Blocked2
            @include FontIconFluent
        }
        svg{
            display: none;
        }
    }
}

// Loading chat messages
.wrapper-3HVHpV{
    background-color: transparent;
    // The placeholding items wrappers
    .wrapper-15CKyy{
        background-color: transparent;
    }
}

// Edit message
.channelTextArea-220_Gz{
    .scrollableContainer-15eg7h{
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:focus-within{
            background-color: $ControlFillColorInputActiveBrush;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
    }
    .emojiButton-3FRTuj{
        height: 32px;
        width: 32px;
        margin: 6px 4px 0 0;
        border: 1px solid transparent;
        &::before{
            content: "\E76E"; //Emoji2
            color: $TextFillColorSecondary;
            @include FontIconFluent;
            font-size: 16px;
        }
        &.emojiButtonHovered-s44uQ8{
            background-color: $ControlFillColorDisabled;
            border-color: $ControlStrokeColorDefault;
            &::before{
                color: $TextFillColorPrimary;
            }
        }
        .contents__322f4{
            display: none;
        }
    }
}

