.theme-dark .chat-2ZfjoI,
.theme-dark .chat-1-OBC7,
.theme-dark .chat-25x62K{ // Forum thread chat
    background-color: transparent;

    .content-1jQy2l{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
        // Remove drop-shadow
        &::before{
            content: unset;
        }
    }
    .chatContent-3KubbW{
        background-color: transparent;
    }

    // New/old messages bars
    .barBase-3xxDXu{
        margin: 0 auto;
        max-width: 598px;
        min-height: 32px;
        border: 1px solid $CardStrokeColorDefault;
        box-shadow: none;
        border-radius: 4px;
        .barButtonMain-2GIx4o{
            @include TypeBody;
        }
        .barButtonAlt-TQoCdZ{
            display: none;
        }
    }
    // New messages bar
    .newMessagesBar-1hF-9G{
        top: 8px;
        background-color: $AccentLight1;
        .barButtonBase-Sk2mdB{
            color: $TextOnAccentFillColorPrimary;
        }
    }
    // Old messages bar
    .jumpToPresentBar-1cEnH0{
        bottom: 8px;
        padding-bottom: 0;
        background-color: $CardStrokeColorDefaultSolid;
    }
    // Errored bar
    .messagesErrorBar-1IQ1rH{
        bottom: 8px;
        background-color: $SystemFillColorCriticalBackground;
        border-color: $CardStrokeColorDefault;
        padding-bottom: 0;
    }

    // Start of server
    .container-1yy5xN{
        align-items: flex-start;
        padding: 0;
        .titleName-2vkJTW{
            text-align: left;
            @include TypeTitle;
            p{
                margin-right: .5rem;
                display: inline-block;
            }
        }
        .subtitle-3tY4DQ{
            text-align: left;
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
    }

    // Start of channel
    .container-1yy5xN{
        padding: 16px;
        .header-1dhDWV{
            @include TypeTitle;
        }
        .description-22d6ux{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
    }
    .emptyChannelIcon-1YdEz2{
        display: none;
    }

    // Divider
    .divider-2rZFJK{
        justify-content: flex-end;
        border-color: $DividerStrokeColorDefault;
        .content-3spvdd,
        .unreadPill-3nEWYM{
            padding: 2px 8px;
            background-color: $SystemFillColorSolidNeutralBackground;
            color: $TextFillColorPrimary;
            @include TypeCaption;
        }
        .unreadPill-3nEWYM{
            height: unset;
            top: -1px;
            background-color: $SystemFillColorCriticalBackground;
            border-radius: 8px;
            color: $SystemFillColorCritical;
            text-transform: capitalize;
            svg{
                display: none;
            }
        }
        &.isUnread-3Lojb-{
            // NOTE: 2021-08-29 - The border should technically be SystemFillColorCriticalBackground, but is barely visisble, so using the text fill instead.
            border-color: $SystemFillColorCritical;
            .content-3spvdd{
                border-radius: 8px 0 0 8px;
            }
            .unreadPill-3nEWYM{
                position: relative;
            }
        }
        // Border radius when date and new message divider are combined
        span+span{
            border-radius: 0 8px 8px 0 !important; // Override inline
        }
    }

    // Chat message
    .message-2CShn3{
        // Remove hover
        &:hover{
            background-color: transparent !important; // Force catch-all to avoid adding .mouse-mode etc classes for this
        }
        // Remove background on mentioned message
        &.mentioned-Tre-dv{
            background-color: transparent;
            &::before{
                left: 3px;
                background-color: $SystemFillColorCaution;
                border-radius: 1px;
            }
        }
        .botTag-7aX5WZ{
            padding: 0;
            background-color: transparent;
            &::before{
                content: "\E99A"; // Robot
                @include FontIconFluent;
                font-size: 14px;
            }
            span{
                display: none;
            }
        }
    }

    // Reactions
    .reaction-3vwAF2,
    .reaction-102jx9{ // Threads channel
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        color: $TextFillColorPrimary;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        &.reactionMe-1PwQAc{
            border-color: $AccentBase;
        }
    }

    // Thread
    .container-3i3IzO{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;
    }

    // Blocked message
    .compact-2Nkcau .blockedSystemMessage-3FmE9n{
        margin-left: -5ch;
        .iconContainer-2rPbqG{
            margin-right: 1ch;
            padding-top: 2px;
            &::before{
                content: "\ECE4"; // Blocked2
                @include FontIconFluent
            }
            svg{
                display: none;
            }
        }
    }
    .cozy-VmLDNB .blockedSystemMessage-3FmE9n{
        .iconContainer-2rPbqG{
            padding-top: 2px;
            &::before{
                content: "\ECE4"; // Blocked2
                @include FontIconFluent
            }
            svg{
                display: none;
            }
        }
    }

    // Loading chat messages
    .wrapper-3HVHpV{
        background-color: transparent;
        // The placeholding items wrappers
        .wrapper-15CKyy{
            background-color: transparent;
        }
    }

    // Edit message
    .channelTextArea-220_Gz{
        .scrollableContainer-15eg7h{
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            border-bottom: 2px solid $ControlStrokeColorDefault;
            border-radius: 4px;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:focus-within{
                background-color: $ControlFillColorInputActiveBrush;
                border-color: $ControlStrokeColorDefault;
                border-bottom-color: $AccentBase;
            }
        }
        .emojiButton-3FRTuj{
            height: 32px;
            width: 32px;
            margin: 6px 4px 0 0;
            border: 1px solid transparent;
            &::before{
                content: "\E76E"; //Emoji2
                color: $TextFillColorSecondary;
                @include FontIconFluent;
                font-size: 16px;
            }
            &.emojiButtonHovered-s44uQ8{
                background-color: $ControlFillColorDisabled;
                border-color: $ControlStrokeColorDefault;
                &::before{
                    color: $TextFillColorPrimary;
                }
            }
            .contents-3ca1mk{
                display: none;
            }
        }
    }
}
