.theme-dark .f75fb00fb7356cbe-chat{
    background-color: transparent;
}

.theme-dark .f369dba7416c67f0-container{
    background-color: $LayerFillColorDefault;
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;

    // Threads
    .f369dba7416c67f0-mainCard{
        background-color: $LayerFillColorAlt;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;

        &.faa96b2163f6a142-container:active,
        &.faa96b2163f6a142-container:hover{
            transform: none;
            box-shadow: none;
            border-color: $CardStrokeColorDefaultSolid;
        }

        .faa96b2163f6a142-postTitleText{
            color: $TextFillColorPrimary !important; // Override inline
            @include TypeBodyStrong;
        }
        .faa96b2163f6a142-messageContent{
            @include TypeBody;
        }
    }

    // No threads
    .container-2nXUah{
        background-color: $LayerFillColorAlt;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }
}
