.theme-dark .chat__52833{
    background-color: transparent;
}

.theme-dark .container_b181b6{
    background-color: $LayerFillColorDefault;
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;

    // Threads
    .mainCard__8a660{
        background-color: $LayerFillColorAlt;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;

        &.container__99b06:active,
        &.container__99b06:hover{
            transform: none;
            box-shadow: none;
            border-color: $CardStrokeColorDefaultSolid;
        }

        .postTitleText__11fd1{
            color: $TextFillColorPrimary !important; // Override inline
            @include TypeBodyStrong;
        }
        .messageContent_f4fbd7{
            @include TypeBody;
        }
    }

    // No threads
    .container-2nXUah{
        background-color: $LayerFillColorAlt;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }
}
