.theme-dark .homeContainer__73533{
    // Main
    // Card
    .card_d4f6c7{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }

    // Side bar
    // Widget container
    .container_c68a2c,
    .container__29699{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        // Server description
        .description__6b38f{
            @include TypeBody;
        }
        // Active Now
        .container__55cc1{
            border: 1px solid transparent;
            border-radius: 4px;
            &:hover{
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
            }
        }
    }
    // Server icon
    ._2b1f52e43a8f1c02-icon{
        margin-top: 0;
        background-color: transparent;
        border: 0;
    }
}