.theme-dark .homeContainer__6bec1{
    // Main
    // Card
    .card_d4f6c7{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }

    // Side bar
    // Widget container
    .container__92dc8,
    .container_acafc1{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        // Server description
        .description__75e7e{
            @include TypeBody;
        }
        // Active Now
        .container__16581{
            border: 1px solid transparent;
            border-radius: 4px;
            &:hover{
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
            }
        }
    }
    // Server icon
    .icon_f71c55{
        margin-top: 0;
        background-color: transparent;
        border: 0;
    }
}