.theme-dark .searchResultsWrap_a9e706{
    background-color: $LayerFillColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;

    .searchHeader_f3b986{
        background-color: transparent;
        .totalResults_f3b986 > div{
            @include TypeBodyStrong;
        }
    }
    // Tabs (new/old/relevant)
    .searchHeaderTabList_f3b986 {
        .item_aa8da2 {
            padding-left: 0;
            padding-right: 0;
            margin-right: 16px;
            color: $TextFillColorPrimary;
            border-radius: 0;
            &:hover{
                background-color: transparent;
                color: $TextFillColorSecondary;
            }

            &.selected_aa8da2 {
                background-color: transparent;
                color: $AccentTextFillColorPrimary;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: 2px;
                    background-color: $AccentLight3;
                    border-radius: 2px;
                }
                &:hover{
                    color: $TextFillColorSecondary;
                }
            }
        }
    }

    // Result
    .searchResult__02a39{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        &:hover{
            background-color: $CardBackgroundFillColorSecondary;
        }
    }
    // Jump button
    .button__02a39{
        padding: 4px 8px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorOnAccentDefault;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }
}
