.theme-dark .container-3XgAHv{
    background-color: transparent;
    border-radius: 0;

    // Toolbar
    .container-ZMc96U{
        background-color: transparent;
        .children-3xh0VB{
            // Removes small gradient
            &::after{
                display: none;
            }
            > .iconWrapper-2awDjA{
                display: none;
            }
            .title-17SveM{
                @include TypeBodyStrong;
            }
        }
    }

    // Chat
    .chat-1-OBC7, // Viewing thread
    .chat-1rZYgu, // Creating new thread
    .chat-25x62K{ // Forum thread
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
        &::before{
            display: none;
        }
    }
    // Archived header
    .chatHeaderBar-2fUORh{
        margin: 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
        .colorHeaderSecondary-3Sp3Ft{
            color: $TextFillColorPrimary;
        }
    }

    // Forum thread
    .container-3YcgdM{
        margin: 16px;
        padding: 4px 8px;
        background: $MicaBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;

        // Only apply filter when stickied
        &.header-1RJoTb{
            backdrop-filter: blur(8px);
            @include Elevation32;
        }

        // Fix reactions position
        .reactions-3HFE-S{
            margin-bottom: -3px;
        }

        // Fix follow/link button sizes
        .button-DAkLIy{
            min-width: unset;
        }
        .addReactButton-3bSQb6,
        .buttonInner-3aRbcx{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            border-radius: 4px;
        }
    }
    .divider-AZrXIA{
        display: none;
    }

    // Start of history
    .container-1yy5xN{
        .iconWrapper-3plkqh{
            display: none;
        }
        .colorHeaderSecondary-g5teka{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
    }
}

.theme-dark .chat-2ZfjoI.threadSidebarOpen-1LSXvU{
    border-radius: 0;
    .content-1jQy2l{
        border-right: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 8px 0 0;
    }
}

.theme-dark .resizeHandle-PBRzPC{
    position: relative;
    &::before{
        content: "";
        width: 3px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 3px;
        margin-top: -64px;
        background-color: $ControlStrokeColorSecondary;
        border-radius: 9999px;
        opacity: 0;
        transition: opacity 167ms Cubic-bezier(0,0,0,1)
    }
    &:hover::before{
        opacity: 1;
        transition: opacity 250ms Cubic-bezier(0.55,0.55,0,1);
    }
}

// Narrow window
.theme-dark .layerContainer-2v_Sit{
    .container-3XgAHv{
        background-color: $SolidBackgroundFillColorBase;
        &.floating-3M3WeH{
            border-left: 0;
        }
        .chat-1-OBC7{
            border-radius: 0;
        }
    }
}
