.theme-dark .container__694a1{
    background-color: transparent;
    border-radius: 0;

    // Toolbar
    .container__26baa{
        background-color: transparent;
        .children_cde9af{
            // Removes small gradient
            &::after{
                display: none;
            }
            > .iconWrapper_de6cd1{
                display: none;
            }
            .title__84e16{
                @include TypeBodyStrong;
            }
        }
    }

    // Archived header
    .chatHeaderBar__9e6ac{
        margin: 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
        .chatHeaderBarText_bd01c4{
            color: $TextFillColorPrimary;
        }
    }

    // Forum thread
    .container__68e43{
        margin: 16px;
        padding: 4px 8px;
        background: $MicaBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;

        // Only apply filter when stickied
        &.header-1RJoTb{
            backdrop-filter: blur(8px);
            @include Elevation32;
        }

        // Fix follow/link button sizes
        .button_c99026 {
            min-width: unset;
        }
        .buttonInner__865de,
        .reactionInner_d6d30f,
        .addReactButton__4342f{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            border-radius: 4px;
        }
    }
    .divider__4df9f{
        display: none;
    }
}

.theme-dark .chat__52833.threadSidebarOpen__62c31{
    border-radius: 0;
    .content__01e65{
        border-right: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 8px 0 0;
    }
}

.theme-dark .resizeHandle_cc9d34{
    position: relative;
    background-color: transparent;
    &::before{
        content: "";
        width: 3px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 3px;
        margin-top: -64px;
        background-color: $ControlStrokeColorSecondary;
        border-radius: 9999px;
        opacity: 0;
        transition: opacity 167ms Cubic-bezier(0,0,0,1)
    }
    &:hover::before{
        opacity: 1;
        transition: opacity 250ms Cubic-bezier(0.55,0.55,0,1);
    }
}

// Narrow window
.theme-dark .chatLayerWrapper__1b344{
    .container__694a1 {
        background-color: $SolidBackgroundFillColorBase;
        &.floating__8f631{
            border-left: 0;
        }
        .chat__1d65d{
            border-radius: 0;
        }
    }
}
