.theme-dark ._01ae244280823725-container{
    background-color: transparent;
    border-radius: 0;

    // Toolbar
    ._9293f6b2fc12398a-container{
        background-color: transparent;
        ._9293f6b2fc12398a-children{
            // Removes small gradient
            &::after{
                display: none;
            }
            > ._9293f6b2fc12398a-iconWrapper{
                display: none;
            }
            ._9293f6b2fc12398a-title{
                @include TypeBodyStrong;
            }
        }
    }

    // Archived header
    .a5700d36f7c29ded-chatHeaderBar{
        margin: 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
        .a5700d36f7c29ded-chatHeaderBarText{
            color: $TextFillColorPrimary;
        }
    }

    // Forum thread
    ._34c2c51cfce1632e-container{
        margin: 16px;
        padding: 4px 8px;
        background: $MicaBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;

        // Only apply filter when stickied
        &._34c2c51cfce1632e-header{
            backdrop-filter: blur(8px);
            @include Elevation32;
        }

        // Fix follow/link button sizes
        .button__34c2c {
            min-width: unset;
        }
        .buttonInner__34c2c,
        .f8896c4f6be18f59-reactionInner,
        ._34c2c51cfce1632e-addReactButton{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            border-radius: 4px;
        }
    }
    .ee23ac2acd215184-divider{
        display: none;
    }
}

.theme-dark .a44415a3320e67de-chat{
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;
    &::before{
        display: none;
    }
}
.theme-dark .f75fb00fb7356cbe-chat.f75fb00fb7356cbe-threadSidebarOpen{
    border-radius: 0;
    .f75fb00fb7356cbe-content{
        border-right: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 8px 0 0;
    }
    .f75fb00fb7356cbe-chatContent{
        border-radius: 8px 8px 0 0;
    }
}

.theme-dark ._01ae244280823725-resizeHandle{
    position: relative;
    background-color: transparent;
    &::before{
        content: "";
        width: 3px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 3px;
        margin-top: -64px;
        background-color: $ControlStrokeColorSecondary;
        border-radius: 9999px;
        opacity: 0;
        transition: opacity 167ms Cubic-bezier(0,0,0,1)
    }
    &:hover::before{
        opacity: 1;
        transition: opacity 250ms Cubic-bezier(0.55,0.55,0,1);
    }
}

// Narrow window
.theme-dark ._01ae244280823725-chatLayerWrapper{
    ._01ae244280823725-container {
        background-color: $SolidBackgroundFillColorBase;
        &._01ae244280823725-floating{
            border-left: 0;
        }
        .f02135b221cc85a6-chat{
            border-radius: 0;
        }
    }
}
