.theme-dark .root-22AK9z{
    .live-1V2D-f{
        height: 20px;
        padding: 0 8px;
        text-transform: none;
        @include TypeBody;
    }
    .liveQualityIndicator-2GyS_e{
        height: 20px;
        padding: 2px 8px;
        margin-right: 0;
        @include TypeBody;
    }

    .toolbar-3_r2xA{
        .divider-2keupe{
            display: none;
        }
        .button-f2h6uQ{
            width: 64px;
            height: 36px;
            margin-right: 4px;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
        }
    }

    .tile-2TcwiO{
        border-radius: 4px;
    }
    .outer-VAWfYQ{
        .button-f2h6uQ{
            min-width: auto; // Fix 'watch multiple streams' button sizing
            padding: 4px 16px;
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }

            // Replace icon
            &.addCTA-1NH40P{
                &::before{
                    content: "\F7EE"; // VideoCapture
                    @include FontIconFluent;
                    font-size: 16px;
                }
                svg{
                    display: none;
                }
            }
        }
    }
}

html[lang^="en-"].theme-dark .toolbar-3_r2xA{
    .button-f2h6uQ{
        &::before{
            @include FontIconFluent;
        }
        .contents-3ca1mk{
            display: none;
        }
    }
}
