// DEBUG: 2022-06-04 - Useful debug snippets to help with theming
// Force display voice screen elements (toolbars)
// .root_bfe55a.idle_bfe55a *{
//     opacity: 1 !important;
//     transform: unset !important;
// }
// Draw debug borders on top toolbar buttons
// .toolbar__9293f{
//     border: 1px solid red;
//     div[role=button],
//     button[type=button]{
//         border: 1px solid green;
//     }
// }

.theme-dark .wrapper_cb9592{
    background-color: #000;
    border-radius: 8px 0 0 0;

    // Attach borders in call
    ~ .content_f75fb0{
        border-radius: 0;
    }

    // Round top-left corner
    .callContainer_cb9592{
        border-radius: 8px 0 0 0;
    }

    // Quality indicator
    .liveQualityIndicator__30845{
        .liveLarge_a7acae{
            width: auto !important; // Override conflict
            height: 16px !important; // Override conflict
            font-weight: normal;
        }
    }

    // Buttons bar
    .buttonSection__1405b{
        border-radius: 4px;
    }
    .attachedCaretButtonContainer_f1ceac{
        .button__201d5[aria-label="More Options"]{
            svg{
                display: block !important;
            }
        }
    }

    // User tiles
    .tile__2f4f7{
        background-color: $SubtleFillColorTertiary;
        border: 1px solid transparent;
        border-radius: 4px;
        // Only apply border colour to users
        &.tile__2f4f7:hover{
            border-color: $ControlStrokeColorDefault;
        }
        .overlayTitle__2f4f7{
            background-color: $ControlOnImageFillColorDefault;
            border-radius: 4px;
        }
        // Status button
        .status__2f4f7{
            background-color: $ControlOnImageFillColorDefault;
            border-radius: 4px;
            &:hover{
                background-color: $ControlOnImageFillColorSecondary;
            }
            &:active{
                background-color: $ControlOnImageFillColorTertiary;
            }
        }
    }
    .participantsButton__211d1{
        background-color: $ControlOnImageFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        &:hover{
            background-color: $ControlOnImageFillColorSecondary;
        }
        &:active{
            background-color: $ControlOnImageFillColorTertiary;
        }
    }
}

// Icon replacements
// Top toolbar (excludes Inbox button)
html[lang^="en-"].theme-dark .toolbar__9293f{
    .button__201d5{
        &::before{
            @include FontIconFluent;
            width: 62px;
            position: absolute;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            display: block;
        }
        // Remove default icon
        svg{
            display: none;
        }
    }
}
// Bottom toolbar (mic/speaker mute, leave, activity buttons)
// NOTE - 2023-03-07: Discord removed aria-label from activity and react buttons, so only remove default icons from buttons WITH an aria-label set
html[lang^="en-"].theme-dark .wrapper__1405b .button__201d5[aria-label]{
    &::before{
        @include FontIconFluent;
        width: 62px;
        position: absolute;
        font-size: 16px;
        line-height: 36px;
        text-align: center;
        display: block;
    }
    svg{
        display: none;
    }
}
