.botTagRegular_c89c9a{
    background-color: $SystemFillColorSolidAttentionBackground;
    text-transform: none;
}

// Thread OP (who is not a bot btw...)
.botTagOP_e48ddb{
    color: $TextFillColorSecondary;
}
