._82f0793afa59e5dc-botTagRegular{
    background-color: $SystemFillColorSolidAttentionBackground;
    text-transform: none;
    ._82f0793afa59e5dc-botText{
        font-weight: normal;
        text-transform: lowercase;
        &::first-letter{
            text-transform: uppercase;
        }
    }
}

// Thread OP (who is not a bot btw...)
.botTagOP_e48ddb{
    color: $TextFillColorSecondary;
}
