.botTag-7aX5WZ{
    background-color: $SystemFillColorSolidAttentionBackground;
    text-transform: none;
}

// Thread OP (who is not a bot btw...)
.botTagOP-3pUTXu{
    color: $TextFillColorSecondary;
}
