.theme-dark{
    .tabBar__0b563,         // A: Guild > Channels & Roles
    .tabBar_b9fccc,         // B: User profile modal
    .tabBar_d6f9e9,         // C: User Settings > Profiles
    .settingsTabBar_dc2e0e, // D: User Settings > Family Centre
    .tabBar__4efb4,         // E: Event information modal
    .top_aa8da2{            // F: User Settings > Privacy & Safety
        border-bottom: 0;

        // Items
        .item_aa8da2{
            @include TypeBody;
            color: $TextFillColorPrimary;
            border: 0;
            &:hover{
                color: $TextFillColorSecondary;
            }
            &::after{
                display: none;
            }
            &.selected_aa8da2{
                border: 0;
                &::before{
                    content: "";
                    width: 16px;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 8px);
                    background-color: $AccentTextFillColorPrimary;
                    border-radius: 999px;
                }
                &::after{
                    display: none;
                }
            }

            // Special cases
            // A: Badge for total channels
            .textBadge_f05120{
                background-color: $SystemFillColorSolidNeutralBackground !important; // Override inline
                @include TypeCaption;
            }
        }
    }
}
