.theme-dark .root__9b46d{
    margin-top: 0;
    background-color: transparent;

    .shelfTopBackground__769cf{
        display: none;
    }

    // Header
    .headerTextContainer__03417{
        align-items: unset;
    }
    .activityShelfTitle_a3dd51{
        justify-content: unset;
        .heading-xl-extrabold__8ed5c{
            @include TypeSubtitle;
        }
    }
    .text-sm-normal__95a78{
        margin-top: 4px;
    }

    // Content
    .scrollTierBackground__89f3e{
        background-color: $LayerFillColorAlt;
    }

    .activityItem__2bb92{
        background-color: $CardBackgroundFillColorDefault;
    }
    .activityTitleText__46dea{
        @include TypeBodyStrong;
    }
    .activitySubtitleText__221fc{
        @include TypeCaption;
    }
    .activityTag__1f89a{
        padding: 2px 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        @include TypeCaption;
        color: $TextFillColorSecondary !important; // Override inline
    }
}
