// This file is courtesy of Discord's Department of Redundancy Depart at Discord
// Add server modal has light theme manually applied to it for some reason.
.theme-light .root__49fc1{
    background: $SolidBackgroundFillColorBase;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
    box-shadow: none;

    // Main page
    // Header (main page)
    .header__49fc1{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title_c04f35,
        .subtitle_c04f35{
            text-align: left;
            color: $TextFillColorPrimary !important; // Override inline
        }
        .title_c04f35{
            @include TypeSubtitle;
        }
        .subtitle_c04f35{
            @include TypeBody;
        }
    }

    // Content
    .content__49fc1{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
    }
    .templatesList_c04f35,
    .optionsList__78f69{
        margin-top: 0;
        padding-top: 24px;
        .optionHeader-27AHfD{
            color: $TextFillColorPrimary !important; // Override inline
            @include TypeBodyStrong;
            text-transform: none;
        }
        .container_eb2cd2{
            height: 32px;
            margin-bottom: 4px;
            padding: 0 12px;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 4px;
            .icon_eb2cd2{
                display: none;
            }
            .text_eb2cd2{
                color: $TextFillColorPrimary;
                @include TypeBody;
            }
            .arrow_eb2cd2{
                margin-right: 0;
                filter: brightness(200%);
            }
            &:hover{
                background-color: $SubtleFillColorSecondary;
            }
            &:active{
                background-color: $SubtleFillColorTertiary;
            }
        }
    }
    // Server name
    .nameInput_b917ac{
        .label_b717a1{
            color: $TextFillColorPrimary;
            @include TypeBody;
            text-transform: none;
        }
    }
    // Community guidelines
    .guidelines_b917ac{
        margin-bottom: 16px;
        color: $TextFillColorSecondary !important; // Override inline
        @include TypeCaption;
    }
    // Skip question
    .skip__78f69{
        color: $TextFillColorSecondary !important; // Override inline
        @include TypeCaption;
        text-align: left;
    }
    // Server link
    .input__991a0{
        background-color: transparent;
    }
    .input__0ed4f,
    .input__0ed4f::placeholder{
        font-weight: normal;
    }
    // Example links
    .formTitle__991a0{
        color: $TextFillColorPrimary;
        @include TypeBody;
        text-transform: none;
    }
    .sampleLink__991a0{
        color: $AccentTextFillColorPrimary;
        &:hover{
            color: $AccentTextFillColorSecondary;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    // Server discovery
    .rowContainer__991a0{
        height: 32px;
        margin-bottom: 16px;
        padding: 0 12px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        .rowIcon__991a0{
            display: none;
        }
        .heading-md-semibold__76ba1{
            display: none;
        }
        .text-xs-normal__46d75{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
        .rowArrow__991a0{
            margin-right: 0;
            filter: brightness(200%);
        }
        &:hover{
            background-color: $SubtleFillColorSecondary;
        }
        &:active{
            background-color: $SubtleFillColorTertiary;
        }
    }

    // Footer
    .footer__49fc1{
        background-color: transparent;
        box-shadow: none;
        .footerTitle_c04f35{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary;
        }
    }


    // Sub page (de ja vu?)
    // Header
    .header__49fc1{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title__78f69,
        .subtitle__78f69{
            text-align: left;
            color: $TextFillColorPrimary !important; // Override inline
        }
        .title__78f69{
            @include TypeSubtitle;
        }
        .subtitle__78f69{
            @include TypeBody;
        }
    }

    // Content
    .content__49fc1{
        background-color: $CardBackgroundFillColorDefault;
    }

    // Sub sub page (de ja vu?)
    // At least we don't have to do this again
    // Header
    .header__49fc1{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title_b917ac,
        .subtitle_b917ac{
            text-align: left;
            color: $TextFillColorPrimary !important; // Override inline
        }
        .title_b917ac{
            @include TypeSubtitle;
        }
        .subtitle_b917ac{
            @include TypeBody;
        }
    }

    // Content
    .content__49fc1{
        background-color: $CardBackgroundFillColorDefault;
    }
    .createGuild_b917ac{
        margin-top: 0;
        padding-top: 24px;
    }

    // I lied just before
    // Join server by URL page
    // Header
    .header__49fc1{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title__991a0,
        .text-sm-normal__95a78{
            text-align: left;
            color: $TextFillColorPrimary;
        }
        .title__991a0{
            margin: 0;
            @include TypeSubtitle;
        }
        .text-sm-normal__95a78{
            @include TypeBody;
            color: $TextFillColorPrimary !important; // Override inline
        }
    }
    .examplesForm__991a0 ~ .rowContainer__991a0{
        display: none;
    }
    // Content
    .content__49fc1{
        padding-top: 24px;
        border-radius: 0;
    }
}
