// This file is courtesy of Discord's Department of Redundancy Depart at Discord
// Add server modal has light theme manually applied to it for some reason.
.theme-light .root_a28985{
    background: $SolidBackgroundFillColorBase;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
    box-shadow: none;

    // Main page
    // Header (main page)
    .header__5e5a6{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title__7e4b8,
        .subtitle__7ec98{
            text-align: left;
            color: $TextFillColorPrimary !important; // Override inline
        }
        .title__7e4b8{
            @include TypeSubtitle;
        }
        .subtitle__7ec98{
            @include TypeBody;
        }
    }

    // Content
    .content_b28aab{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
    }
    .templatesList__7837c,
    .optionsList__257cf{
        margin-top: 0;
        padding-top: 24px;
        .optionHeader-27AHfD{
            color: $TextFillColorPrimary !important; // Override inline
            @include TypeBodyStrong;
            text-transform: none;
        }
        .container__9dd63{
            height: 32px;
            margin-bottom: 4px;
            padding: 0 12px;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 4px;
            .icon__2df73{
                display: none;
            }
            .text__67f81{
                color: $TextFillColorPrimary;
                @include TypeBody;
            }
            .arrow__5e540{
                margin-right: 0;
                filter: brightness(200%);
            }
            &:hover{
                background-color: $SubtleFillColorSecondary;
            }
            &:active{
                background-color: $SubtleFillColorTertiary;
            }
        }
    }
    // Server name
    .nameInput__2641e{
        .label_bf6957{
            color: $TextFillColorPrimary;
            @include TypeBody;
            text-transform: none;
        }
    }
    // Community guidelines
    .guidelines__22a8d{
        margin-bottom: 16px;
        color: $TextFillColorSecondary !important; // Override inline
        @include TypeCaption;
    }
    // Skip question
    .skip_f687eb{
        color: $TextFillColorSecondary !important; // Override inline
        @include TypeCaption;
        text-align: left;
    }
    // Server link
    .input__0c568{
        background-color: transparent;
    }
    .input_f27786,
    .input_f27786::placeholder{
        font-weight: normal;
    }
    // Example links
    .formTitle__4546d{
        color: $TextFillColorPrimary;
        @include TypeBody;
        text-transform: none;
    }
    .sampleLink__0b2d6{
        color: $AccentTextFillColorPrimary;
        &:hover{
            color: $AccentTextFillColorSecondary;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    // Server discovery
    .rowContainer_a98a8a{
        height: 32px;
        margin-bottom: 16px;
        padding: 0 12px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        .rowIcon__559d2{
            display: none;
        }
        .heading-md-semibold__76ba1{
            display: none;
        }
        .text-xs-normal__46d75{
            color: $TextFillColorPrimary;
            @include TypeBody;
        }
        .rowArrow__5d5d7{
            margin-right: 0;
            filter: brightness(200%);
        }
        &:hover{
            background-color: $SubtleFillColorSecondary;
        }
        &:active{
            background-color: $SubtleFillColorTertiary;
        }
    }

    // Footer
    .footer_e0b400{
        background-color: transparent;
        box-shadow: none;
        .footerTitle__261e5{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary;
        }
    }


    // Sub page (de ja vu?)
    // Header
    .header__5e5a6{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title__67e02,
        .subtitle_f9a2be{
            text-align: left;
            color: $TextFillColorPrimary !important; // Override inline
        }
        .title__67e02{
            @include TypeSubtitle;
        }
        .subtitle_f9a2be{
            @include TypeBody;
        }
    }

    // Content
    .content_b28aab{
        background-color: $CardBackgroundFillColorDefault;
    }

    // Sub sub page (de ja vu?)
    // At least we don't have to do this again
    // Header
    .header__5e5a6{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title__813cc,
        .subtitle_acd9d2{
            text-align: left;
            color: $TextFillColorPrimary !important; // Override inline
        }
        .title__813cc{
            @include TypeSubtitle;
        }
        .subtitle_acd9d2{
            @include TypeBody;
        }
    }

    // Content
    .content_b28aab{
        background-color: $CardBackgroundFillColorDefault;
    }
    .createGuild_b81f68{
        margin-top: 0;
        padding-top: 24px;
    }

    // I lied just before
    // Join server by URL page
    // Header
    .header__5e5a6{
        padding: 24px 24px 0 24px;
        background-color: $CardBackgroundFillColorDefault;
        align-items: unset;
        .title_d21e21,
        .text-sm-normal__95a78{
            text-align: left;
            color: $TextFillColorPrimary;
        }
        .title_d21e21{
            margin: 0;
            @include TypeSubtitle;
        }
        .text-sm-normal__95a78{
            @include TypeBody;
            color: $TextFillColorPrimary !important; // Override inline
        }
    }
    .examplesForm__76904 ~ .rowContainer_a98a8a{
        display: none;
    }
    // Content
    .content_b28aab{
        padding-top: 24px;
        border-radius: 0;
    }
}
