.theme-dark .root__46d4f {
    min-height: auto !important; // Modal is longer than necessary
    background-color: $SolidBackgroundFillColorBase;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
    justify-content: space-between;

    .icon_cde413{
        margin: 0 0 16px 0;
    }

    .titleGroup__3c0da{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title__2cf9b{
            @include TypeSubtitle;
        }
        .subtitle__54bf3{
            margin-bottom: 16px;
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }

    .actions__231c6{
        .actionButton__517cf{
            min-width: 94px;
            height: 32px;
            margin-right: 8px;

            &.red_a51ba8{
                background-color: transparent;
                border: 1px solid $SystemFillColorCritical;
                &:hover{
                    background-color: lighten($SystemFillColorCriticalBackground, 20%);
                    color: $TextFillColorPrimary;
                    &::before{
                        color: $TextFillColorPrimary;
                    }
                }
                &::before{
                    content: "\E137"; // HangUp
                    color: $SystemFillColorCritical;
                }
            }
            &.green__7e4a1{
                background-color: $AccentFillColorDefault;
                &:hover{
                    background-color: $AccentFillColorSecondary;
                }
                &:active{
                    background-color: $AccentFillColorTertiary;
                }
                &::before{
                    content: "\E13A"; // Phone
                }
            }
            &::before{
                @include FontIconFluent;
                font-size: 16px;
                color: $TextOnAccentFillColorPrimary;
            }
            .centerIcon__6075a{
                display: none;
            }
        }
    }
}
