.theme-dark{
    .header__6c12c{
        @include TypeSubtitle;
        text-align: left;
    }

    ._6c12c295172334d8-problemInfo{
        ._66e7e7f9b4da60b0-root{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
        ._66e7e7f9b4da60b0-option{
            &:hover{
                background-color: $CardBackgroundFillColorSecondary;
            }
        }
        ._66e7e7f9b4da60b0-text{
            @include TypeBody;
        }
    }
}
