.theme-dark{
    .header__6c12c{
        @include TypeSubtitle;
        text-align: left;
    }

    .problemInfo__6c12c{
        .root__66e7e{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
        .option__66e7e{
            &:hover{
                background-color: $CardBackgroundFillColorSecondary;
            }
        }
        .text__66e7e{
            @include TypeBody;
        }
    }
}
