.theme-dark .modal_d2e7a7{
    border: 0 !important; // Removes border that is set for all modals

    .downloadLink_d6df2d{
        color: $TextFillColorSecondary;
        @include TypeBody;
        opacity: 1;
    }
}

.theme-dark .zoomedCarouselModalRoot__32ea8.root_a28985{
    background-color: transparent;
    border: 0;

    .downloadLink_d6df2d{
        color: $TextFillColorSecondary;
        @include TypeBody;
        opacity: 1;
    }
}
