.theme-dark .modal-3Crloo{
    border: 0 !important; // Removes border that is set for all modals

    .downloadLink-1OAglv{
        color: $TextFillColorSecondary;
        @include TypeBody;
        opacity: 1;
    }
}

.theme-dark .root-g14mjS.zoomedCarouselModalRoot-1tAxiu{
    background-color: transparent;
    border: 0;
}
