.theme-dark .modal_b0827a{
    border: 0 !important; // Removes border that is set for all modals

    .downloadLink_aa8ea9{
        color: $TextFillColorSecondary;
        @include TypeBody;
        opacity: 1;
    }
}

.theme-dark .zoomedCarouselModalRoot_f74404._49fc18ba07c5025f-root{
    background-color: transparent;
    border: 0;

    .downloadLink_aa8ea9{
        color: $TextFillColorSecondary;
        @include TypeBody;
        opacity: 1;
    }
}
