.theme-dark .modalContent__918e5{
    h2{
        @include TypeSubtitle;
        text-align: left;
        text-transform: none;
    }
    .body__918e5{
        @include TypeBody;
        text-align: left;
        strong{
            color: $AccentTextFillColorPrimary;
        }
    }
}
