.theme-dark ._918e53296f179828-modalContent{
    h2{
        @include TypeSubtitle;
        text-align: left;
        text-transform: none;
    }
    ._918e53296f179828-body{
        @include TypeBody;
        text-align: left;
        strong{
            color: $AccentTextFillColorPrimary;
        }
    }
}
