.theme-dark .modalContent__9d8f2{
    h2{
        @include TypeSubtitle;
        text-align: left;
        text-transform: none;
    }
    .body_aab0a4{
        @include TypeBody;
        text-align: left;
        strong{
            color: $AccentTextFillColorPrimary;
        }
    }
}
