.theme-dark{
    // Backdrop
    .backdrop-2ByYRN{
        background: $SmokeFillColorDefault !important; // Override inline
        opacity: 1 !important; // Override inline
    }

    // Body
    .root-1CAIjD{
        background-color: $SolidBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorDefault;
        border-radius: 8px;
    }

    // Headers
    .header-1ffhsl, // eg. notification settings
    .header-1LEkUo, // eg. change password
    .header-1kWa4s, // eg. change username
    .header-1R3myj{ // eg. edit email
        padding: 24px;
        background-color: $LayerFillColorAlt;
        border-radius: 8px 8px 0 0;
        align-items: unset;
        .heading-lg-semibold-14ouVv, // eg. notification settings
        .title-2tnl9d, // eg. change password
        .title-3JPglK, // eg. change username
        .title-3VYtQS{ // eg. edit email
            @include TypeSubtitle;
            text-align: left;
        }
        .text-md-normal-2rFCH3, // eg. notification settings
        .subtitle-3sUbvY, // eg. change password
        .subtitle-36U6vW, // eg. change username
        .subtitle-3Kkhfr{ // eg. edit email
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-align: left;
        }

        // Remove divider line in notification settings
        &.separator-3C440w{
            box-shadow: none;
        }
    }

    // Content
    .content-1OG56Q{
        padding-right: 24px !important;
        padding-left: 24px;
        background-color: $LayerFillColorAlt;
        border-bottom: 1px solid $CardStrokeColorDefault;
        border-radius: 0;

        video{
            display: none;
        }
    }

    // Footer
    .footer-IubaaS{
        padding: 24px;
        background-color: transparent;

        // Remove divider line in notification settings
        &.footerSeparator-3U8YsT{
            box-shadow: none;
        }

        // Add gap between buttons
        .button-ejjZWC{
            margin-left: 8px;
        }
    }
}

.theme-dark{
    // Special cases
    // Remove images from headers
    // screenshare
    .art-1TvEXv{
        display: none;
    }
    // activities
    .shelfTopBackground-R55ED9{
        display: none;
    }
    // Verify email
    .headerImage-2osrlm{
        display: none;
    }

    // Create channel modal
    // Modal has a bunch of rubbish inline CSS...
    .modal-1Kmy_E.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3[style="opacity: 1; transform: scale(1);"]{
        max-height: unset !important;
        min-height: unset !important;
    }
}
