.theme-dark{
    // Backdrop
    .backdrop__7e89b{
        background: $SmokeFillColorDefault !important; // Override inline
        opacity: 1 !important; // Override inline
    }

    // Body
    .root_a28985{
        background-color: $SolidBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorDefault;
        border-radius: 8px;
    }

    // Headers
    .header__6d5ea, // eg. notification settings
    // .header-1LEkUo, // eg. change password
    // .header-1kWa4s, // eg. change username
    .header-1R3myj{ // eg. edit email
        padding: 24px;
        background-color: $LayerFillColorAlt;
        border-radius: 8px 8px 0 0;
        align-items: unset;
        .heading-lg-semibold_a200cd, // eg. notification settings
        .title_febac9, // eg. change password
        .title__5ba30, // eg. change username
        .title_cb7b54{ // eg. edit email
            @include TypeSubtitle;
            text-align: left;
        }
        .text-md-normal__4afad, // eg. notification settings
        .subtitle_b332a0, // eg. change password
        .subtitle_a9f053, // eg. change username
        .subtitle_d71d05{ // eg. edit email
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-align: left;
        }

        // Remove divider line in notification settings
        &.separator__925e8{
            box-shadow: none;
        }
    }

    // Content
    .content__764ce{
        padding-right: 24px !important;
        padding-left: 24px;
        background-color: $LayerFillColorAlt;
        border-bottom: 1px solid $CardStrokeColorDefault;
        border-radius: 0;

        video{
            display: none;
        }
    }

    // Footer
    .footer__89240{
        padding: 24px;
        background-color: transparent;

        // Remove divider line in notification settings
        &.footerSeparator__57d95{
            box-shadow: none;
        }

        // Add gap between buttons
        .button_afdfd9{
            margin-left: 8px;
        }
    }
}

.theme-dark{
    // Special cases
    // Remove images from headers
    // screenshare
    .art_d9e8a6{
        display: none;
    }
    // Verify email
    .headerImage_d2d905{
        display: none;
    }
    // NOTE: 2023-06-13 - Style fix for the verify email modal which uses the wrong class for the actions div
    .headerImage_d2d905 ~ div .content__764ce{
        background-color: transparent;
    }
    .buttons_ce7406{
        margin-top: 16px;
        flex-direction: row;
        button{
            flex-grow: 1;
            width: 50%;
        }
        button:first-child{
            margin-right: 8px;
        }
    }
    // Enter phone number
    .phoneField__65729{
        .countryButton__499be{
            min-width: 64px;
        }
    }

    // Upload sound
    .headerContainer_dbdaeb{
        margin-bottom: 0;
        .header__16a27{
            @include TypeSubtitle;
            text-align: left;
        }
    }

    // Event info modal
    .content-1OG56Q > div[style*="width: 600px;"]{
        width: 552px !important;

        > div[style*="width: 600px;"]{
            width: 552px !important;
        }

        .header-18H69z{
            padding-left: 0;
            padding-right: 0;
        }
        .body-3dZw8h{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
