.theme-dark{
    .backdrop-2ByYRN{
        background: $SmokeFillColorDefault !important; // Override inline
        opacity: 1 !important; // Override inline
    }

    // Modal body
    .root-g14mjS{
        background-color: $SolidBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorDefault;
        border-radius: 8px;
    }

    // Header
    .header-1zd7se, // eg. notification settings
    .header-o8wV_s, // eg. create channel
    .header-1LEkUo, // eg. change password
    .header-1kWa4s, // eg. change username
    .header-1R3myj{ // eg. edit email
        background-color: $CardBackgroundFillColorDefault;
        padding: 24px;
        align-items: unset;
        .wrapper-1HSdhi, // eg. notification settings
        .modalTitle-3_QDTE, // eg. create channel
        .title-2tnl9d, // eg. change password
        .title-3JPglK, // eg. change username
        .title-3VYtQS{ // eg. edit email
            @include TypeSubtitle;
            text-align: left;
        }
        .guildName-1kreI8, // eg. notification settings
        .subtitle-3sUbvY, // eg. change password
        .subtitle-36U6vW, // eg. change username
        .subtitle-3Kkhfr{ // eg. edit email
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-align: left;
        }
    }

    // Remove close buttons
    .close-1mLglB{
        display: none;
    }

    // Divider
    .divider-3APUjw{
        display: none;
    }
    // Privacy settings
    // Removes border between header and body
    .theme-dark .separator-2lLxgC{
        box-shadow: none;
    }

    // Body
    .content-2hZxGK{
        padding: 0 24px 24px 24px;
        background-color: $CardBackgroundFillColorDefault;
        // NOTE: 2021-07-05 - For some reason they sometimes place a padding-right in-line (see: Disable 2FA modal)
        &[style*="padding-right"]{
            padding-right: 24px !important; // Override inline
        }
        // Removes memay from the ban user modal
        video{
            display: none;
        }
    }

    // Footer
    .footer-31IekZ{
        background-color: transparent;
        box-shadow: none;
        .button-f2h6uQ{
            margin-left: 8px;
        }
    }

    // Special cases
    // Create channel - remove extra margin added to the header
    .header-o8wV_s{
        margin: 0;
    }

    // Close button
    .closeButton-32emop{
        top: 24px;
        right: 24px;
    }
}
