.theme-dark{
    ._49fc18ba07c5025f-header .heading-xl-extrabold__8ed5c{
        @include TypeSubtitle;
        text-align: left;
    }
    ._6c12c295172334d8-ratingBody{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-align: left;
    }

    .emojis__6c12c{
        width: auto;
        margin: 32px 0 0 0;
    }
}
