.theme-dark{
    .header_c2c186{
        @include TypeSubtitle;
        text-align: left;
    }
    .ratingBody__30ec1{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-align: left;
    }

    .emojis__68d02{
        width: auto;
        margin: 32px 0 -16px 0;
    }
}
