.theme-dark{
    .header__49fc1 .heading-xl-extrabold__8ed5c{
        @include TypeSubtitle;
        text-align: left;
    }
    .ratingBody__6c12c{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-align: left;
    }

    .emojis__6c12c{
        width: auto;
        margin: 32px 0 0 0;
    }
}
