.theme-dark .ac6cb02cd15b4b3b-quickswitcher{
    height: 100%;
    background-color: $SolidBackgroundFillColorBase;

    &::before{
        content: "Quickswitcher";
        margin-bottom: 16px;
        @include TypeSubtitle;
        color: $TextFillColorPrimary;
    }

    .ac6cb02cd15b4b3b-input{
        height: 32px;
        background-color: transparent;
        border: 1px solid;
        border-bottom-width: 2px;
        border-radius: 4px;
        @include TypeBody;
        background-color: $ControlFillColorDefault;
        color: $TextFillColorSecondary;
        border-color: $ControlStrokeColorDefault;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
        &:focus{
            background-color: $ControlFillColorInputActiveBrush;
            color: $TextFillColorPrimary;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
        &::placeholder{
            color: $TextFillColorSecondary;
        }
    }

    // Scroll content
    .ac6cb02cd15b4b3b-scroller {
        max-height: unset;
        margin-top: 12px;
        margin-right: -4px;
        background-color: transparent;
        overflow-y: auto !important; // Override inline
    }

    ._71961da99d37ac57-header{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary;
        text-transform: none;
    }

    ._71961da99d37ac57-result{
        &[aria-selected=true]{
            background-color: $SubtleFillColorSecondary;
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 8px;
                background-color: $AccentFillColorDefault;
                border-radius: 2px;
            }
        }

        ._71961da99d37ac57-name{
            @include TypeBody;
            color: $TextFillColorPrimary;
            line-height: 32px;
            .user_71961da99d37ac57-name,
            ._71961da99d37ac57-note{
                margin: 0;
                opacity: 1;
                @include TypeCaption;
                color: $TextFillColorSecondary;
                text-transform: none;
            }
        }
        .ac6cb02cd15b4b3b-miscContainer{
            opacity: 1;
            @include TypeBody;
            color: $TextFillColorTertiary;
        }
    }

    // Footer
    .ac6cb02cd15b4b3b-protip{
        ._30cbe28ac3d3507e-pro{
            display: none;
        }
        ._30cbe28ac3d3507e-tip{
            @include TypeCaption;
            color: $TextFillColorSecondary;
            opacity: 1;
        }
        .ac6cb02cd15b4b3b-autocompleteQuerySymbol{
            background-color: transparent;
            @include FontMonospace;
        }
    }

    // Remove 'tutorial'
    ._73f2a239bd174194-tutorial{
        display: none;
    }
}
