.theme-dark .container_b7f4b4{
    .scroller_b7f4b4{
        background-color: $CardBackgroundFillColorDefault;
    }

    .reactionDefault_b7f4b4{
        &:hover{
            background-color: $SubtleFillColorSecondary;
        }
    }
    .reactionSelected_b7f4b4{
        position: relative;
        background-color: $SubtleFillColorSecondary;
        &::before{
            content: "";
            width: 3px;
            height: 12px;
            position: absolute;
            left: 0;
            top: 7px;
            background-color: $AccentFillColorDefault;
            border-radius: 2px;
        }
    }

    .reactors_b7f4b4{
        background-color: transparent;
    }

    .name_b7f4b4{
        @include TypeBody;
        color: $TextFillColorPrimary;
    }
    .username_b7f4b4{
        opacity: 1;
        @include TypeBody;
        color: $TextFillColorSecondary;
    }
}
