.theme-dark .container_cc2dff{
    .scroller_cc2dff{
        background-color: $CardBackgroundFillColorDefault;
    }

    .reactionDefault_cc2dff{
        &:hover{
            background-color: $SubtleFillColorSecondary;
        }
    }
    .reactionSelected_cc2dff{
        position: relative;
        background-color: $SubtleFillColorSecondary;
        &::before{
            content: "";
            width: 3px;
            height: 12px;
            position: absolute;
            left: 0;
            top: 7px;
            background-color: $AccentFillColorDefault;
            border-radius: 2px;
        }
    }

    .reactors_cc2dff{
        background-color: transparent;
    }

    .name_cc2dff{
        @include TypeBody;
        color: $TextFillColorPrimary;
    }
    .username_cc2dff{
        opacity: 1;
        @include TypeBody;
        color: $TextFillColorSecondary;
    }
}
