.theme-dark{
    .art_d9e8a6{
        display: none;
        &~form{
            .headerText__91f5e{
                align-self: baseline;
                @include TypeSubtitle;
            }
            .headerDescription_fc3801{
                padding: 0;
                @include TypeBody;
                color: $TextFillColorPrimary;
                text-align: left;
            }

            div[style*="position: relative;"]{
                background-color: $CardBackgroundFillColorDefault;
            }

            // App/screen selection
            .selected-1i-g6T{
                .sourceThumbnail-ERDcZE{
                    box-shadow: inset 0 0 0 2px $AccentBase;
                }
            }
            .sourceName__7e932{
                @include TypeBody;
            }

            // Stream settings
            .card__7756d{
                height: 32px;
                padding: 0 8px;
                background-color: $ControlFillColorDefault;
                border: 0;
                border-radius: 4px;
                color: $TextFillColorSecondary;
                .channelInfo__3cdb6,
                .ellipsisText_beb1e7{
                    @include TypeBody;
                    color: $TextFillColorPrimary;
                }
                .changeButton__192a1{
                    margin-right: -8px;
                }
            }

            .qualitySettingsContainer__5cacd{
                padding: 0;
                border: 0;
            }

            .group_d76384{
                .selectorButton_c6ae93{
                    background-color: transparent;
                    border: 1px solid $ControlStrokeColorOnAccentDefault;

                    &:hover{
                        background-color: $ControlFillColorSecondary;
                    }
                    &.selectorButtonSelected_fbe8fc{
                        background-color: $AccentFillColorDefault;
                        color: $TextOnAccentFillColorPrimary;
                        &:hover{
                            background-color: $AccentFillColorSecondary;
                        }
                    }
                    &.selectorButtonPremiumRequired_ce72d6{
                        cursor: not-allowed;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
