.theme-dark{
    .art_d9e8a6{
        display: none;
        &~form{
            .headerText_fe00dd{
                align-self: baseline;
                @include TypeSubtitle;
            }
            .headerDescription_e1f9ad{
                padding: 0;
                @include TypeBody;
                color: $TextFillColorPrimary;
                text-align: left;
            }

            div[style*="position: relative;"]{
                background-color: $CardBackgroundFillColorDefault;
            }

            // App/screen selection
            .selected-1i-g6T{
                .sourceThumbnail-ERDcZE{
                    box-shadow: inset 0 0 0 2px $AccentBase;
                }
            }
            .sourceName__12565{
                @include TypeBody;
            }

            // Stream settings
            .card__7756d{
                height: 32px;
                padding: 0 8px;
                background-color: $ControlFillColorDefault;
                border: 0;
                border-radius: 4px;
                color: $TextFillColorSecondary;
                .channelInfo__24c14,
                .ellipsisText__3c350{
                    @include TypeBody;
                    color: $TextFillColorPrimary;
                }
                .changeButton__81ea2{
                    margin-right: -8px;
                }
            }

            .qualitySettingsContainer__8f353{
                padding: 0;
                border: 0;
            }

            .group_d76384{
                .selectorButton_ea0609{
                    background-color: transparent;
                    border: 1px solid $ControlStrokeColorOnAccentDefault;

                    &:hover{
                        background-color: $ControlFillColorSecondary;
                    }
                    &.selectorButtonSelected__707fb{
                        background-color: $AccentFillColorDefault;
                        color: $TextOnAccentFillColorPrimary;
                        &:hover{
                            background-color: $AccentFillColorSecondary;
                        }
                    }
                    &.selectorButtonPremiumRequired__9df5b{
                        cursor: not-allowed;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
