.theme-dark{
    .guildSidebar-UHnQqs{
        background: $SolidBackgroundFillColorBase;
        .guildDescription-2-W9iK{
            color: $TextFillColorPrimary;
        }
    }
    .modal-2TOYtq{
        background-color: $CardBackgroundFillColorDefault;
        border-radius: 0;
        // Remove waving hand GIF
        .animationAndSparklesContainer-7Fwx3i{
            display: none;
        }
        // Headers
        .header-EmaVAp{
            @include TypeSubtitle;
            text-align: left;
        }
        .subheader-37bSfX{
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-align: left;
        }
        hr.divider-1zHRlg{
            display: none;
        }

        // Terms
        .verificationForm-ktA3ma{
            margin-top: 24px;
        }

        .formFieldWrapper-2LV3S6{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
        .termsRowContent-2Qx-E5{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }

        // Accept checkbox
        .checkboxWrapper-2fDzaA{
            .input-3xr72x{
                // Yes Discord, it was completely necessary to in-line the dimensions...
                width: 18px !important;
                height: 18px !important;
                &::before{
                    top: 0;
                    left: 0;
                }
            }
            .checkboxText-2F08go{
                @include TypeBody;
            }
        }
    }
    .footer-31IekZ{
        background-color: $CardBackgroundFillColorDefault;
    }
}
