.theme-dark{
    .guildSidebar__74787{
        background: $SolidBackgroundFillColorBase;
        .guildDescription_a1093f{
            color: $TextFillColorPrimary;
        }
    }
    .modal_b38209{
        background-color: $CardBackgroundFillColorDefault;
        border-radius: 0;
        // Remove waving hand GIF
        .animationAndSparklesContainer_d2a9ed{
            display: none;
        }
        // Headers
        .header_c78725{
            @include TypeSubtitle;
            text-align: left;
        }
        .subheader__4e007{
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-align: left;
        }
        hr.divider_e4bcab{
            display: none;
        }

        .termsFieldBody__30daf{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
        .termsRowContent__605ae{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }

        // Accept checkbox
        .checkboxWrapper_a2bcc8{
            .input__52838{
                // Yes Discord, it was completely necessary to in-line the dimensions...
                width: 18px !important; // Override inline
                height: 18px !important; // Override inline
                &::before{
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
