.theme-dark{
    .b962dc319e969a3f-guildSidebar{
        background: $SolidBackgroundFillColorBase;
        .guildDescription_b962dc{
            color: $TextFillColorPrimary;
        }
    }
    .b962dc319e969a3f-modal{
        background-color: $CardBackgroundFillColorDefault;
        border-radius: 0;
        // Remove waving hand GIF
        .animationAndSparklesContainer_b962dc{
            display: none;
        }
        // Headers
        .b962dc319e969a3f-header{
            @include TypeSubtitle;
            text-align: left;
        }
        .subb962dc319e969a3f-header{
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-align: left;
        }
        hr.b962dc319e969a3f-divider{
            display: none;
        }

        .d48a5175a09205b7-termsFieldBody{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
        .d48a5175a09205b7-termsRowContent{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }

        // Accept checkbox
        .checkboxWrapper_f525d3{
            .input_f525d3{
                // Yes Discord, it was completely necessary to in-line the dimensions...
                width: 18px !important; // Override inline
                height: 18px !important; // Override inline
                &::before{
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
