.theme-dark{
    // To find: Hover on channel with active threads and click 'See All' on the popout
    .modal__48b3d{
        background-color: $SolidBackgroundFillColorBase !important; // Override inline
    }

    .container__8261a{
        background-color: transparent;
    }

    // Header
    .header__53b07{
        height: unset;
        min-height: unset;
        padding: 24px 24px 0 24px;
        background-color: transparent;
        // Remove icon
        .threadIcon__046f1{
            display: none;
        }
        // Remove divider
        .divider_dec9ac{
            display: none;
        }
        // Remove spacer
        .spacer_f0c2f6{
            display: none;
        }
    }

    // Thread list
    .list__19127{
        padding: 0 24px;
        padding-right: 24px !important;
    }
    // Sub headers
    .sectionHeader_a94dc1{
        @include TypeBodyStrong;
        text-transform: none;
        margin-top: 24px;
    }
    // List item
    .container__6604b{
        height: auto;
        padding: 12px;
        background-color: $SubtleFillColorSecondary;
        border: 1px solid $SubtleFillColorSecondary;
        border-radius: 4px;
        &:hover{
            background-color: $SubtleFillColorTertiary;
        }
        &:active{
            .threadNameLine__5046f span{
                color: $TextFillColorSecondary;
            }

        }

        // Thread title
        .threadNameLine__5046f{
            @include TypeBodyStrong;
            span{
                color: $TextFillColorPrimary;
            }
        }
        // Subtext
        .subtext_f83288{
            margin-top: 8px;
            @include TypeCaption;
            color: $TextFillColorSecondary !important;
        }
    }
}

// Redundancy in the moderator's Active Threads modal 🙃
.theme-dark{
    // To find: Be a moderator in a server with active threads. Open 'Active Threads' from the server dropdown
    .container_bc0d2b{
        background-color: transparent;
    }
    .header__38b17{
        height: unset;
        min-height: unset;
        padding: 24px;
        background-color: transparent;
        .threadIcon__46f58{
            display: none;
        }
    }
}
