.theme-dark{
    // To find: Hover on channel with active threads and click 'See All' on the popout
    .modal__48b3d{
        background-color: $SolidBackgroundFillColorBase !important; // Override inline
    }

    .container_f93da8{
        background-color: transparent;
    }

    // Header
    .header__6d44a{
        height: unset;
        min-height: unset;
        padding: 24px 24px 0 24px;
        background-color: transparent;
        // Remove icon
        .threadIcon_a292d5{
            display: none;
        }
        // Remove divider
        .divider__622af{
            display: none;
        }
        // Remove spacer
        .spacer__62dcb{
            display: none;
        }
    }

    // Thread list
    .list__19127{
        padding: 0 24px;
        padding-right: 24px !important;
    }
    // Sub headers
    .sectionHeader__0f7c3{
        @include TypeBodyStrong;
        text-transform: none;
        margin-top: 24px;
    }
    // List item
    .container__9922f{
        height: auto;
        padding: 12px;
        background-color: $SubtleFillColorSecondary;
        border: 1px solid $SubtleFillColorSecondary;
        border-radius: 4px;
        &:hover{
            background-color: $SubtleFillColorTertiary;
        }
        &:active{
            .threadNameLine__43c45 span{
                color: $TextFillColorSecondary;
            }

        }

        // Thread title
        .threadNameLine__43c45{
            @include TypeBodyStrong;
            span{
                color: $TextFillColorPrimary;
            }
        }
        // Subtext
        .subtext__01913{
            margin-top: 8px;
            @include TypeCaption;
            color: $TextFillColorSecondary !important;
        }
    }
}

// Redundancy in the moderator's Active Threads modal 🙃
.theme-dark{
    // To find: Be a moderator in a server with active threads. Open 'Active Threads' from the server dropdown
    .container__09428{
        background-color: transparent;
    }
    .header__7e1e8{
        height: unset;
        min-height: unset;
        padding: 24px;
        background-color: transparent;
        .threadIcon_ff85a7{
            display: none;
        }
    }
}
