.theme-dark{
    // Avatar
    .avatar__445f3{
        svg circle{
            display: none;
        }
    }

    // Body
    .overlayBackground__2666e{
        border-radius: 4px;
    }

    // Tabs
    .tabBarContainer_b283be{
        margin-bottom: 20px;
        border: 0;
    }

    // Section headers
    .userInfoSectionHeader_c9f1d3{
        @include TypeBodyStrong;
        text-transform: none;
    }

    // Connected accounts
    .connectedAccountContainer__5972d{
        padding: 8px;
        .connectedAccountNameText__7abc2{
            @include TypeBody;
        }
        .anchor_c8ddc0{
            text-decoration: none;
            &::before{
                content: "\E8A7";
                color: $TextFillColorPrimary;
                @include FontIconFluent;
            }
            svg{
                display: none;
            }
        }
    }

    // Mutual servers/friends
    .listRow__50619{
        border: 1px solid transparent;
        &:hover{
            background-color: $ControlFillColorDefault;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
        }
        .listAvatar__67297{
            border-radius: 50%;
        }
    }
}
