.theme-dark{
    // Avatar
    .avatar-1YsFQ1{
        svg circle{
            display: none;
        }
    }

    // Body
    .overlayBackground-1KgwVi{
        border-radius: 4px;
    }

    // Tabs
    .tabBarContainer-2UG0vy{
        margin-bottom: 20px;
        border: 0;
    }
    .tabBar-2StdUa{
        gap: 24px;
        .item-3XjbnG{
            border: 0;
            color: $TextFillColorSecondary;
            @include TypeBody;
            line-height: 40px;
            &:hover{
                color: $TextFillColorPrimary;
            }
            &.selected-g-kMVV{
                color: $TextFillColorPrimary;
                &::before{
                    content: "";
                    width: 16px;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 8px);
                    background-color: $AccentFillColorDefault;
                    border-radius: 999px;
                }
            }
        }
    }

    // Section headers
    .userInfoSectionHeader-48g5Qj,
    .headerText-3g1XK9{
        @include TypeBodyStrong;
        text-transform: none;
    }

    // Connected accounts
    .connectedAccountContainer-3aLMHJ{
        padding: 8px;
        .connectedAccountNameText-tCbPXH{
            @include TypeBody;
        }
        .anchor-1MIwyf{
            text-decoration: none;
            &::before{
                content: "\E8A7";
                color: $TextFillColorPrimary;
                @include FontIconFluent;
            }
            svg{
                display: none;
            }
        }
    }

    // Mutual servers/friends
    .listRow-Y5zoF8{
        border: 1px solid transparent;
        &:hover{
            background-color: $ControlFillColorDefault;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
        }
        .listAvatar-2GhWlb{
            border-radius: 50%;
        }
    }
}
