.theme-dark .wrapper-1gVUIN{
    border-radius: 8px 0 0 0;
    .callContainer-HtHELf{
        border-radius: 8px 0 0 0;
    }

    // Username in tile
    .overlayTitle-2efoIF{
        border-radius: 4px;
    }
}

html[lang^="en-"].theme-dark .wrapper-1gVUIN .controlSection-1mNixL{
    .button-f2h6uQ{
        &::before{
            @include FontIconFluent;
            font-size: 16px;
        }
    }
}
