.theme-dark .wrapper-2qzCYF{
    border-radius: 8px 0 0 0;
    .callContainer-36WRfH{
        border-radius: 8px 0 0 0;
    }

    // Username in tile
    .overlayTitle-8IcS01{
        border-radius: 4px;
    }

}

