.theme-dark .wrapper-1gVUIN{
    border-radius: 8px 0 0 0;
    .callContainer-HtHELf{
        border-radius: 8px 0 0 0;
    }

    // Username in tile
    .overlayTitle-2efoIF{
        border-radius: 4px;
    }

}

