// Append new compatibility patches to the end of this file

// https://betterdiscord.app/plugin/MemberCount
@import "plugins/Arashiryuu.MemberCount";

// https://betterdiscord.app/plugin/GameActivityToggle
@import "plugins/DevilBro.GameActivityToggle";

// https://betterdiscord.app/plugin/SpotifyControls
@import "plugins/DevilBro.SpotifyControls";

// https://betterdiscord.app/plugin/ReadAllNotificationsButton
@import "plugins/DevilBro.ReadAllNotificationsButton";

// https://betterdiscord.app/plugin/FavoriteMedia
@import "plugins/Dastan21.FavoriteMedia";

// https://betterdiscord.app/plugin/PersonalPins
@import "plugins/DevilBro.PersonalPins";

// https://betterdiscord.app/plugin/InvisibleTyping
@import "plugins/_Strencher.InvisibleTyping";

// https://betterdiscord.app/plugin/Translator
@import "plugins/DevilBro.Translator";

// https://betterdiscord.app/plugin/CollapsibleUI
// Dev is aka. TenorTheHusky
@import "plugins/programmer2514.CollapsibleUI";

// https://betterdiscord.app/theme/SettingsModal
@import "plugins/_DevilBro.SettingsModal";

// https://betterdiscord.app/plugin/StaffTag
@import "plugins/_DevilBro.StaffTag";

// https://betterdiscord.app/plugin/CallTimeCounter
@import "plugins/QWERT.CallTimeCounter";

// https://betterdiscord.app/plugin/CharCounter
@import "plugins/DevilBro.CharCounter";
