// Formatting
// URL to BetterDiscord.app page
// @import "plugins/plugin"

// https://betterdiscord.app/plugin/MemberCount
@import "plugins/Arashiryuu.MemberCount";

// https://betterdiscord.app/plugin/GameActivityToggle
@import "plugins/DevilBro.GameActivityToggle";

// https://betterdiscord.app/plugin/ThemeRepo
@import "plugins/DevilBro.ThemeRepo";

// https://betterdiscord.app/plugin/PluginRepo
@import "plugins/DevilBro.PluginRepo";
