// Append new compatibility patches to the end of this file

// https://betterdiscord.app/plugin/MemberCount
@import "plugins/Arashiryuu.MemberCount";

// https://betterdiscord.app/plugin/GameActivityToggle
@import "plugins/DevilBro.GameActivityToggle";

// https://betterdiscord.app/plugin/SpotifyControls
@import "plugins/DevilBro.SpotifyControls";

// https://betterdiscord.app/plugin/ThemeRepo
@import "plugins/DevilBro.ThemeRepo";

// https://betterdiscord.app/plugin/PluginRepo
@import "plugins/DevilBro.PluginRepo";

// https://betterdiscord.app/plugin/ReadAllNotificationsButton
@import "plugins/DevilBro.ReadAllNotificationsButton";

// https://betterdiscord.app/plugin/FavoriteMedia
@import "plugins/Dastan21.FavoriteMedia";

// https://betterdiscord.app/plugin/PersonalPins
@import "plugins/DevilBro.PersonalPins";

// https://betterdiscord.app/plugin/ThemeSettings
@import "plugins/DevilBro.ThemeSettings";

// https://betterdiscord.app/plugin/ShowSessions
@import "plugins/Strencher.ShowSessions";

// https://betterdiscord.app/plugin/StatusEverywhere
@import "plugins/Strencher.StatusEverywhere";

// https://betterdiscord.app/plugin/InvisibleTyping
@import "plugins/_Strencher.InvisibleTyping";

// https://betterdiscord.app/plugin/Translator
@import "plugins/DevilBro.Translator";

// https://betterdiscord.app/plugin/BetterInvites
@import "plugins/HypedDomi.BetterInvites";

// https://betterdiscord.app/plugin/SubtleDevicePrompt
// Dev is aka. "Jed Fox"
@import "plugins/j-f1.SubtleDevicePrompt";

// https://betterdiscord.app/plugin/CollapsibleUI
// Dev is aka. TenorTheHusky
@import "plugins/programmer2514.CollapsibleUI";

// https://betterdiscord.app/plugin/ChannelDms
@import "plugins/_Strencher.ChannelDms";

// https://betterdiscord.app/theme/SettingsModal
@import "plugins/_DevilBro.SettingsModal";

// https://betterdiscord.app/plugin/StaffTag
@import "plugins/_DevilBro.StaffTag";
