// Sidebar
// Changelog button
.bd-changelog-button{
    width: 32px;
    height: 32px !important; // Override precedence
    padding: 6px;
    border-width: 1px;
    border-style: outset;
    border-color: transparent;
    color: $TextFillColorPrimary;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
        background-color: $ControlFillColorSecondary;
        border-color: $ControlElevationBorder;
    }
    &:active{
        background-color: $ControlFillColorTertiary;
    }
}

// Settings
.theme-dark .bd-settings-group{
    margin-bottom: 16px;
    &.collapsed{
        .bd-settings-group-title{
            border-radius: 4px;
        }
    }
    .bd-settings-group-title{
        height: 62px;
        margin-bottom: 0;
        padding: 16px;
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px 4px 0 0;
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-transform: none;
        &::before{
            display: none;
        }
        &:hover{
            background-color: $CardBackgroundFillColorSecondary;
        }
    }
    .bd-setting-item{
        height: 63px;
        margin-bottom: 0;
        padding: 10px 16px;
        background-color: $CardBackgroundFillColorSecondary;
        border-bottom: 1px solid $DividerStrokeColorDefault;
        &:last-child{
            border-bottom: 0;
            border-radius: 0 0 4px 4px;
        }
        .bd-setting-title{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
        .bd-setting-note{
            margin-top: 0;
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }
    }
    .bd-setting-divider{
        display: none;
    }

    // Updates page
    .bd-empty-updates{
        padding: 10px 16px;
        background-color: $CardBackgroundFillColorSecondary;
        @include TypeBody;
        border: 1px solid $CardStrokeColorDefault;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        svg{
            margin-bottom: 8px;
        }
    }

    // Add notes to some options
    label[for="transparency"]::after{
        content: " (Fluent Discord - This option isn't supported, and may be disabled)";
        color: $TextFillColorDisabled;
    }
}

// Buttons
// Button next to header (Clear emote data/Open themes folder)
.theme-dark .bd-button{
    height: 32px;
    background-color: $ControlFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
    @include TypeBody;
    &:hover{
        background-color: $ControlFillColorSecondary;
    }
    &:active{
        background-color: $ControlFillColorTertiary;
        border-color: $ControlStrokeColorDefault;
    }
    &.bd-button-title{
        padding: 8px 16px;
    }
    &.bd-button-danger{
        background-color: $ControlFillColorDefault;
        border-color: $SystemFillColorCritical;
        svg{
            fill: $SystemFillColorCritical;
        }
        &:hover{
            background-color: lighten($SystemFillColorCriticalBackground, 20%);
            svg{
                fill: $TextFillColorPrimary;
            }
        }
        &:active{
            background-color: lighten($SystemFillColorCriticalBackground, 40%);
        }
    }
}

// Toggle switch
.theme-dark .bd-switch{
    .bd-switch-body{
        display: none;
    }
    input[type=checkbox]{
        width: 40px;
        height: 20px;
        position: relative;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 10px;
        appearance: none;
        opacity: 1;
        &::before{
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            top: 3px;
            left: 3px;
            background-color: $TextFillColorSecondary;
            border-radius: 6px;
        }
        &:hover{
            background-color: $ControlAltFillColorTertiary;
            &::before{
                transform: scale(1.167);
                transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
            }
        }
        &:checked{
            background-color: $AccentTextFillColorPrimary;
            border-color: $AccentTextFillColorPrimary;
            &::before{
                left: 24px;
                background-color: $TextOnAccentFillColorPrimary;
                transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
            }
        }
    }
}

// Addons
.theme-dark .bd-addon-card{
    background-color: transparent;
    border: 1px solid $CardStrokeColorDefault;
    border-radius: 4px;
    .bd-addon-header{
        background-color: $CardBackgroundFillColorDefault;
        .bd-name{
            @include TypeBody;
        }
        .bd-meta{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }
    }
    .bd-description-wrap{
        background-color: $CardBackgroundFillColorSecondary;
        .bd-description{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
    .bd-footer{
        background-color: $CardBackgroundFillColorSecondary;
    }
}

// Search
.theme-dark .bd-search-wrapper{
    position: relative;
    background-color: transparent;
    input{
        height: 32px;
        padding-left: 8px;
        padding-right: 32px;
        background-color: $ControlFillColorDefault;
        color: $TextFillColorSecondary;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        @include TypeBody;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
        &:focus{
            background-color: $ControlFillColorInputActiveBrush;
            color: $TextFillColorPrimary;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
    }
    svg{
        position: absolute;
        right: 8px;
    }
}

// Filters
.theme-dark .bd-select-wrapper{
    @include TypeBody;
    color: $TextFillColorPrimary;
    // Dropdown
    .bd-select-options{
        background: $MicaBackgroundFillColorBase;
        backdrop-filter: blur(16px);
        border: 1px solid $SurfaceStrokeColorDefault;
        border-radius: 8px;
        padding: 8px;
        .bd-select-option{
            max-height: 34px;
            margin: 2px 0;
            border-radius: 4px;
            position: relative;
            &:hover{
                background-color: $SubtleFillColorSecondary;
            }
            &:focus{
                background-color: $SubtleFillColorTertiary;
            }
            &.selected{
                background-color: $SubtleFillColorSecondary;
                .check-K_srvn{
                    display: none;
                }
                &::before{
                    content: "";
                    width: 3px;
                    height: 16px;
                    position: absolute;
                    left: 0;
                    top: 9px;
                    background-color: $AccentBase;
                    border-radius: 2px;
                }
            }
        }
    }
}

// Select
.theme-dark .bd-select:not(.bd-select-transparent){
    height: 32px;
    background-color: $ControlFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
    border-radius: 4px;
    &:hover{
        background-color: $ControlFillColorSecondary;
        border-color: $ControlStrokeColorSecondary;
    }

    .bd-select-options{
        margin-top: 4px;
        padding: 0 2px;
        background: $AcrylicBackgroundFillColorDefault;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 4px;
        .bd-select-option{
            margin: 2px 0;
            position: relative;
            border-radius: 4px;
            &:hover{
                background-color: $SubtleFillColorSecondary;
            }
            &.selected{
                background-color: $SubtleFillColorTertiary;
                &::before{
                    content: "";
                    width: 3px;
                    height: 16px;
                    position: absolute;
                    top: 6px;
                    left: 0;
                    background-color: $AccentBase;
                    border-radius: 2px;
                }
                &:hover{
                    background-color: $SubtleFillColorSecondary;
                }
            }
        }
    }
}

// Number input
.theme-dark .bd-number-input{
    background-color: $ControlFillColorDefault;
    color: $TextFillColorSecondary;
    border-color: $ControlStrokeColorDefault;
    border-bottom-width: 2px;
    border-radius: 4px;
    &:hover{
        border-color: $ControlStrokeColorSecondary;
    }
    &:focus{
        background-color: $ControlFillColorInputActiveBrush;
        color: $TextFillColorPrimary;
        border-color: $ControlStrokeColorDefault;
        border-bottom-color: $AccentBase;
    }
}
