.theme-dark .contentWrapper__9c62c{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    // Search
    .container_a45028.medium_a45028{
        background-color: transparent;
        input.input_a45028{
            height: 32px;
            padding: 0 8px;
            border: 1px solid;
            border-bottom-width: 2px;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
            @include TypeBody;
            background-color: $ControlFillColorDefault;
            color: $TextFillColorSecondary;
            &:hover{
                border-color: $ControlStrokeColorSecondary;
            }
            &:focus{
                background-color: $ControlFillColorInputActiveBrush;
                color: $TextFillColorPrimary;
                border-color: $ControlStrokeColorDefault;
                border-bottom-color: $AccentBase;
            }
            &::placeholder{
                color: $TextFillColorSecondary;
            }
        }
        .iconLayout_a45028 {
            position: absolute;
            top: 6px;
            right: 8px;

            // Home friends table seach bar
            &.medium_a45028{
                width: 22px;
                height: 22px;
                .iconContainer_a45028{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    // Cards
    .container_cb32c7{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
    }

    // App "profile"
    .container__7bdb0{

        background-color: transparent;
        .profileAndVideoContainer_e80fe9{
            padding: 0 8px;
            border: 0;
        }
        .overviewContainerNoVideo__95856{
            background-color: transparent;
            padding: 0;
        }

        // List of commands
        .contentContainer_c94584{
            padding: 0 24px;
        }
        .commandContainer_c94584{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            border-radius: 4px;
        }
        .command_c94584{
            background-color: transparent;
        }
    }
}
