// Voice activity
.theme-dark .container__56cd1{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    .channelIcon__45e38{
        display: none;
    }
    .channelName__41380{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
    }
    .container__60a4a{
        background-color: transparent;
        svg{
            display: none;
        }
        .userCountText__4e977{
            color: $TextFillColorSecondary;
        }
    }

    // Activity
    .activityVoiceChannel_e4ac9b .headerText__7d203{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-transform: none;
    }
    .content_d7cb7f{
        .base__7ba63{
            @include TypeBody;
        }
        .details__445eb,
        .state_a85ac0{
            color: $TextFillColorSecondary;
        }
    }

    // Timebar
    .bar_e63719{
        height: 3px;
        background-color: $ControlStrokeColorDefault;
        margin: 0 8px;
    }
    .barInner_d1abc6{
        height: 3px;
        background-color: $AccentBase;
    }

    // Timecode
    .text__13126{
        @include TypeCaption;
    }
}

// Active thread
.popout__24e32{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;
    .title_d9bf6b{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
        text-transform: none;
    }

    .row__4daf2:hover{
        background-color: $AccentBase;
        color: $TextOnAccentFillColorPrimary;
        .timestamp_e48059{
            color: $TextOnAccentFillColorPrimary;
        }
    }
}

// Stream preview
.theme-dark .streamPreview__1846c{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    .previewContainer_bb1924{
        background-color: transparent;
    }
}
