// Voice activity
.theme-dark .container__56cd1 {
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    // Remove channel icon
    .channelIcon__45e38{
        display: none;
    }
    .channelName__41380{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
    }
    // Channel user count
    .container__03b79{
        background-color: transparent;
        svg{
            display: none;
        }
        .userCountText_ac9788{
            color: $TextFillColorSecondary;
        }
    }

    // Timebar
    .bar_e63719 {
        height: 3px;
        background-color: $ControlStrokeColorDefault;
        margin: 0 8px;
    }
    .barInner__0f713{
        height: 3px;
        background-color: $AccentBase;
    }
    // Timecode
    .text__6822d{
        @include TypeCaption;
    }
}

// Active thread
.popout__24e32{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;
    .title_d9421c{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
        text-transform: none;
    }

    .row__9e25f:hover{
        background-color: $AccentBase;
        color: $TextOnAccentFillColorPrimary;
        .timestamp__8f948{
            color: $TextOnAccentFillColorPrimary;
        }
    }
}

// Stream preview
.theme-dark .streamPreview__965fa{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    .previewContainer__1e0bb{
        background-color: transparent;
    }

    // Remove tip
    .protip__315d9{
        display: none;
    }
}
