// Voice activity
.theme-dark .container__56cd1 {
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    // Remove channel icon
    .channelIcon__45e38{
        display: none;
    }
    .channelName__41380{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
    }
    // Channel user count
    .container_b1bfd4{
        background-color: transparent;
        svg{
            display: none;
        }
        .userCountText_b1bfd4{
            color: $TextFillColorSecondary;
        }
    }

    // Timebar
    .bar_c8b06d {
        height: 3px;
        background-color: $ControlStrokeColorDefault;
        margin: 0 8px;
    }
    .barInner_c8b06d{
        height: 3px;
        background-color: $AccentBase;
    }
    // Timecode
    .text_c8b06d{
        @include TypeCaption;
    }
}

// Active thread
.popout__76f04{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;
    .title__76f04{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
        text-transform: none;
    }

    .row__76f04:hover{
        background-color: $AccentBase;
        color: $TextOnAccentFillColorPrimary;
        .timestamp__76f04{
            color: $TextOnAccentFillColorPrimary;
        }
    }
}

// Stream preview
.theme-dark .streamPreview__6da2d{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    .previewContainer__6da2d{
        background-color: transparent;
    }

    // Remove tip
    .protip__6da2d{
        display: none;
    }
}
