.theme-dark .contentWrapper_e0bb2c,
.theme-dark #emoji-picker-tab-panel{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
}

.theme-dark .contentWrapper_e0bb2c #emoji-picker-tab-panel{
    background: transparent;
    backdrop-filter: none;
    border: 0;
    border-radius: 0;
}

.theme-dark{
    // Navigation
    .nav_b56420{
        .navButton_b588d0 {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 16px;
            color: $TextFillColorPrimary;
            border-radius: 0;
            &:hover{
                background-color: transparent;
                color: $TextFillColorSecondary;
            }

        }
        .navButtonActive__0c878 {
            background-color: transparent;
            color: $AccentTextFillColorPrimary;
            &::before{
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 2px;
                background-color: $AccentLight3;
                border-radius: 2px;
            }
            &:hover{
                color: $TextFillColorSecondary;
            }
        }
    }

    // Header
    .emojiPickerHasTabWrapper__63198 .header_e5d8b2{
        padding: 0 12px 12px;
    }
    .header_e5d8b2, // Emoji
    .header__643ce, // Stickers
    .header_aac16f{ // GIFs
        background-color: transparent;
        box-shadow: none;
    }
    // Search
    .inner__178b2{
        padding: 0;
    }
    .container__33507{ // GIFs search
        background-color: transparent;
    }
    // Emoji search
    // Fix inherited height
    .medium_c22914 .input__745d4{
        height: 32px;
    }
    .input__745d4{
        margin: 0;
        padding-right: 32px;
        background-color: $ControlFillColorDefault;
        color: $TextFillColorSecondary;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        @include TypeBody;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
        &:focus{
            background-color: $ControlFillColorInputActiveBrush;
            color: $TextFillColorPrimary;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
        &::placeholder{
            @include TypeBody;
        }
    }
    // Search clear button
    .iconLayout__9d9a4{
        position: absolute;
        top: 6px;
        right: 4px;
        &.medium_c22914{
            width: 22px;
            height: 22px;
            .iconContainer__9f124{
                width: 16px;
                height: 16px;
            }
        }
    }

    // Emoji
    // Sidebar
    .categoryList_eac4ac{
        background-color: $SolidBackgroundFillColorBase;
    }
    // Replace emoji icons
    .categoryItemDefaultCategory__6c3db{
        &.categoryItem__4a642{
            svg{
                display: none;
            }
            &::before{
                padding: 2px;
                color: $TextFillColorPrimary;
                @include FontIconFluent;
                font-size: 20px;
                line-height: calc(32px - 8px);
                vertical-align: middle;
            }
            &[aria-label="top guild emoji"]::before{
                content: "\E734"; // FavoriteStar
            }
            &[aria-label="recent"]::before{
                content: "\E81C"; // History
            }
            &[aria-label="people"]::before{
                content: "\ED53"; // EmojiTabPeople
            }
            &[aria-label="nature"]::before{
                content: "\E8BE"; // Leaf
            }
            &[aria-label="food"]::before{
                content: "\ED56"; // EmojiTabFoodPlants
            }
            &[aria-label="activity"]::before{
                content: "\EA86"; // Puzzle
            }
            &[aria-label="travel"]::before{
                content: "\ED57"; // EmojiTabTransitPlaces
            }
            &[aria-label="objects"]::before{
                content: "\ED55"; // EmojiTabCelebrationObjects
            }
            &[aria-label="symbols"]::before{
                content: "\ED58"; // EmojiTabSymbols
            }
            &[aria-label="flags"]::before{
                content: "🏳‍🌈";
                @include TypeBody;
            }
        }
    }
    // Info bar
    .inspector__80c84 {
        background-color: $SolidBackgroundFillColorSecondary;
    }
    // "Popular" badge in info bar
    .topGuildEmojiBadge__4dc3a{
        display: none;
    }

    // Emoji category header
    .header__3028e,
    .wrapper-1NNaWG{
        margin: 0 -8px;
        padding: 0 16px;
        background-color: $SolidBackgroundFillColorTertiary;
        border-radius: 4px;
        .headerLabel_febbb2{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary;
            text-transform: none;
        }
    }

    // Colour change
    .diversitySelectorButton__3fd6f{
        width: 30px;
        height: 30px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        position: relative;
        .diversityEmojiItemImage__644ce{
            margin: 3px;
        }
    }
    // Diversity selector in stand alone emoji popout (eg. reaction)
    .diversitySelectorOptions_daea2d {
        // top: 0;
        right: 12px;
    }
    .diversitySelectorOptions_daea2d {
        border: 1px solid $ControlStrokeColorDefault;
        .diversityEmojiItem__48e39{
            width: 30px;
            height: 30px;
            padding: 0;
        }
        .diversityEmojiItemImage__644ce{
            margin: 3px;
        }
    }


    // Nitro prompt
    .premiumPromo__9e1ca{
        background-color: $CardStrokeColorDefaultSolid;
        .premiumPromoImage__0f616{
            display: none;
        }
        .premiumPromoTitle_abafab{
            @include TypeBodyLarge;
        }
        .premiumPromoDescription_c432cb{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
}
