.theme-dark ._957962c2bd49881b-recentMentionsPopout{
    // NOTE - 2022-06-08: Calculation is based on: 100vh - titlebar - toolbar - (margin-top + margin-bottom)
    max-height: calc(100vh - 32px - 48px - 16px) !important;  // Override inline
    margin: 8px;
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .ab66419eae73260f-header {
        background-color: transparent;
        // Tabs
        .aa8da23faa27393c-topPill{
            .ab66419eae73260f-tab {
                padding-left: 0;
                padding-right: 0;
                margin-right: 16px;
                color: $TextFillColorPrimary;
                border-radius: 0;
                &:hover{
                    background-color: transparent;
                    color: $TextFillColorSecondary;
                }

                &.active_f0cd33 {
                    background-color: transparent;
                    color: $AccentTextFillColorPrimary;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 2px;
                        background-color: $AccentLight3;
                        border-radius: 2px;
                    }
                    &:hover{
                        color: $TextFillColorSecondary;
                    }
                }
            }
        }
    }

    // No messages
    .d404a36e7b59cdcf-iconContainer{
        display: none;
    }
    .d404a36e7b59cdcf-header{
        margin-bottom: 24px;
        @include TypeBodyLarge;
    }

    // Results
    // Mentions
    // NOTE: 2023-01-04 - Mentions tab scroller uses a different class which doesn't have L/R padding
    ._957962c2bd49881b-scroller {
        padding: 0 0 0 16px;
    }

    ._957962c2bd49881b-container, // Mentions
    ._427f0273a157ab7a-channel{ // Unreads
        padding-bottom: 16px;
        ._35a7ecf3aba351b2-channelHeader{
            top: -1px;
            padding-right: 16px; // Fixes dismiss buttons butting up on right side
            background-color: $SolidBackgroundFillColorSecondary;
            border-radius: 4px 4px 0 0;
            ._35a7ecf3aba351b2-guildIcon {
                background-color: transparent;
                border-radius: 50%;
            }
        }
        ._957962c2bd49881b-messageContainer, // Mentions
        ._1ccd1ba5cb2270c2-messages{ // Unreads
            margin-left: 0;
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 0 0 4px 4px;
        }
    }

    // Unread headers have a collapse button
    ._427f0273a157ab7a-channel{
        ._35a7ecf3aba351b2-channelHeader{
            padding-left: 48px;
        }
        .collapseButton__427f0{
            left: 16px;
            &::before{
                content: "\E70D";
                @include FontIconFluent;
                font-size: 16px;
            }
            svg{
                display: none;
            }
        }
    }

    // Buttons
    .button__292b6 {
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }
}
