.recentMentionsPopout-2bI1ZN{
    max-height: calc(100vh - 32px - 48px - 16px) !important; // 100vh - titlebar - toolbar - (margin-top + margin-bottom)
    margin: 8px;
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .header-1w9Q93{
        background-color: transparent;
        // Tabs
        .tabBar-1qdMr5{
            .tab-TRrPC8{
                padding-left: 0;
                padding-right: 0;
                margin-right: 16px;
                color: $TextFillColorPrimary;
                border-radius: 0;
                &:hover{
                    background-color: transparent;
                    color: $TextFillColorSecondary;
                }

                &.active-1grPyy{
                    background-color: transparent;
                    color: $AccentTextFillColorPrimary;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 2px;
                        background-color: $AccentLight3;
                        border-radius: 2px;
                    }
                    &:hover{
                        color: $TextFillColorSecondary;
                    }
                }
            }
        }
    }



    // Result
    .container-iA3Qrz, // Mentions
    .channel-3NJZ1V{ // Unreads
        padding-bottom: 16px;

        .channelHeader-DFRX8q{
            top: -1px;
            padding-right: 16px; // Fixes dismiss buttons butting up on right side
            background-color: $SolidBackgroundFillColorBase;
            border-radius: 4px 4px 0 0;
        }

        .messageContainer-3VTXBC, // Mentions
        .messages-23can0{ // Unreads
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 0 0 4px 4px;
        }
    }
}
