.theme-dark .recentMentionsPopout__95796{
    // NOTE - 2022-06-08: Calculation is based on: 100vh - titlebar - toolbar - (margin-top + margin-bottom)
    max-height: calc(100vh - 32px - 48px - 16px) !important;  // Override inline
    margin: 8px;
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .header_ab6641 {
        background-color: transparent;
        // Tabs
        .topPill_aa8da2{
            .tab_ab6641 {
                padding-left: 0;
                padding-right: 0;
                margin-right: 16px;
                color: $TextFillColorPrimary;
                border-radius: 0;
                &:hover{
                    background-color: transparent;
                    color: $TextFillColorSecondary;
                }

                &.active_f0cd33 {
                    background-color: transparent;
                    color: $AccentTextFillColorPrimary;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 2px;
                        background-color: $AccentLight3;
                        border-radius: 2px;
                    }
                    &:hover{
                        color: $TextFillColorSecondary;
                    }
                }
            }
        }
    }

    // No messages
    .iconContainer_d404a3{
        display: none;
    }
    .header_d404a3{
        margin-bottom: 24px;
        @include TypeBodyLarge;
    }

    // Results
    // Mentions
    // NOTE: 2023-01-04 - Mentions tab scroller uses a different class which doesn't have L/R padding
    .scroller__95796 {
        padding: 0 0 0 16px;
    }

    .container__95796, // Mentions
    .channel__427f0{ // Unreads
        padding-bottom: 16px;
        .channelHeader__35a7e{
            top: -1px;
            padding-right: 16px; // Fixes dismiss buttons butting up on right side
            background-color: $SolidBackgroundFillColorSecondary;
            border-radius: 4px 4px 0 0;
            .guildIcon__35a7e {
                background-color: transparent;
                border-radius: 50%;
            }
        }
        .messageContainer__95796, // Mentions
        .messages__1ccd1{ // Unreads
            margin-left: 0;
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 0 0 4px 4px;
        }
    }

    // Unread headers have a collapse button
    .channel__427f0{
        .channelHeader__35a7e{
            padding-left: 48px;
        }
        .collapseButton__427f0{
            left: 16px;
            &::before{
                content: "\E70D";
                @include FontIconFluent;
                font-size: 16px;
            }
            svg{
                display: none;
            }
        }
    }

    // Buttons
    .button__292b6 {
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }
}
