.theme-dark .recentMentionsPopout__826a9{
    // NOTE - 2022-06-08: Calculation is based on: 100vh - titlebar - toolbar - (margin-top + margin-bottom)
    max-height: calc(100vh - 32px - 48px - 16px) !important;  // Override inline
    margin: 8px;
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .header__28ebb {
        background-color: transparent;
        // Tabs
        .topPill__0cdf1{
            .tab_a8a066 {
                padding-left: 0;
                padding-right: 0;
                margin-right: 16px;
                color: $TextFillColorPrimary;
                border-radius: 0;
                &:hover{
                    background-color: transparent;
                    color: $TextFillColorSecondary;
                }

                &.active__7e7af {
                    background-color: transparent;
                    color: $AccentTextFillColorPrimary;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 2px;
                        background-color: $AccentLight3;
                        border-radius: 2px;
                    }
                    &:hover{
                        color: $TextFillColorSecondary;
                    }
                }
            }
        }
    }

    // No messages
    .iconContainer-33_6mP{
        display: none;
    }
    .header-3rvP-v{
        margin-bottom: 24px;
        @include TypeBodyLarge;
    }

    // Results
    // Mentions
    // NOTE: 2023-01-04 - Mentions tab scroller uses a different class which doesn't have L/R padding
    .scroller__90038 {
        padding: 0 0 0 16px;
    }

    .container__56e52, // Mentions
    .channel_d48f2d{ // Unreads
        padding-bottom: 16px;
        .channelHeader__5d30c{
            top: -1px;
            padding-right: 16px; // Fixes dismiss buttons butting up on right side
            background-color: $SolidBackgroundFillColorSecondary;
            border-radius: 4px 4px 0 0;
            .guildIcon_cccd03 {
                background-color: transparent;
                border-radius: 50%;
            }
        }
        .messageContainer_aa7d14, // Mentions
        .messages_f7999e{ // Unreads
            margin-left: 0;
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 0 0 4px 4px;
        }
    }

    // Unread headers have a collapse button
    .channel_d48f2d{
        .channelHeader__5d30c{
            padding-left: 48px;
        }
        .collapseButton_b18eab{
            left: 16px;
            &::before{
                content: "\E70D";
                @include FontIconFluent;
                font-size: 16px;
            }
            svg{
                display: none;
            }
        }
    }

    // Buttons
    .button_ddf91e {
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }
}
