.theme-dark .noiseCancellationPopout__023ec{
    background-color: $SolidBackgroundFillColorBase;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .title__8b9e4{
        @include TypeBodyLarge;
    }
    .note__24c83{
        padding-top: 12px;
        color: $TextFillColorPrimary;
        @include TypeBody;
    }

    // Mic test
    .title_adef5b{
        text-transform: none;
        color: $TextFillColorSecondary;
        @include TypeBody;
    }
}
