.theme-dark .noiseCancellationPopout-mXdIP4{
    background-color: $SolidBackgroundFillColorBase;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .title-2dsDLn{
        @include TypeBodyLarge;
    }
    .description-30xx7u{
        padding-top: 12px;
        color: $TextFillColorPrimary;
        @include TypeBody;
    }

    // Mic test
    .title-3hptVQ{
        text-transform: none;
        color: $TextFillColorSecondary;
        @include TypeBody;
    }
}
