.theme-dark .messagesPopoutWrap-3zryHW{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .header-1w9Q93{
        background-color: transparent;
        box-shadow: none;
        .base-21yXnu{
            @include TypeBodyStrong;
        }
    }

    .messagesPopout-eVzQcI{
        padding-top: 0;
    }

    // Message
    .messageGroupWrapper-1jf_7C{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }
}
