.theme-dark .messagesPopoutWrap_e8b59c{
    max-height: calc(100vh - 32px - 48px - 12px) !important; // Fixes window jumping when alt-tabbed
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    .header_e8b59c{
        background-color: transparent;
        box-shadow: none;
        h1{
            @include TypeBodyStrong;
        }
    }

    .messagesPopout_e8b59c {
        padding-top: 0;
    }

    // Empty
    .emptyPlaceholder_e8b59c{
        .image_e8b59c{
            display: none;
        }
        .body_e8b59c{
            white-space: unset;
            @include TypeBody;
        }
    }

    // Message
    .messageGroupWrapper_e8b59c{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }

    // Footer
    .footer_e8b59c{
        display: none;
    }
}
