// Voice call > Region select
.theme-dark .quickSelectPopout-2F0PXw{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
    padding: 8px;
    .quickSelectPopoutOption-2E2UmS{
        max-height: 34px;
        border-radius: 4px;
        position: relative;
        &:hover{
            background-color: $SubtleFillColorSecondary;
        }
        &:focus{
            background-color: $SubtleFillColorTertiary;
        }
        &.selected{
            background-color: $SubtleFillColorSecondary;
            .check-K_srvn{
                display: none;
            }
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 9px;
                background-color: $AccentBase;
                border-radius: 2px;
            }
        }
    }
    .regionSelectName-1Tj9C9{
        height: auto;
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-align: left;
    }
}
