.theme-dark .container_d27846{
    background-color: $SolidBackgroundFillColorBase;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // Search
    .container__7712a {
        background-color: transparent;
        border-radius: 0;
    }

    // Items
    .item__287de{
        &:hover{
            background-color: $SubtleFillColorSecondary;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
        }
    }

    // No results
    .empty__81067{
        &::before{
            content: "\E25B";
            @include FontIconFluent;
            font-size: 32px;
            color: $TextFillColorDisabled;
        }
        h4,div{
            display: none;
        }
    }
}
