.theme-dark .container-2O1UgZ{
    background-color: $SolidBackgroundFillColorBase;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // Search
    .container-2oNtJn{
        background-color: transparent;
        border-radius: 0;
    }

    // Items
    .item-1BCeuB{
        &:hover{
            background-color: $SubtleFillColorSecondary;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
        }
    }

    // No results
    .empty-1RfdnO{
        &::before{
            content: "\E25B";
            @include FontIconFluent;
            font-size: 32px;
            color: $TextFillColorDisabled;
        }
        h4,div{
            display: none;
        }
    }
}
