.theme-dark .picker__6dca7{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // Search box
    .header__93ab0{
        box-shadow: none;
    }
    // Volume control
    .settingsClickArea__2839d{
        width: 32px;
        height: 32px;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        svg{
            padding: 6px;
        }
    }

    // Servers
    .categoryList__2f64f{
        background-color: $SolidBackgroundFillColorBase;
    }

    // Sounds
    // Section header
    .sectionHeader_d974fe{
        .sectionTitle__1a48e{
            @include TypeBodyStrong;
            text-transform: none;
            color: $TextFillColorPrimary;
        }
    }

    // Sound
    .soundButton__845c7{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        .ssoundName__5285b{
            @include TypeBody;
        }
        .buttonOverlayBackground__9265a{
            background-color: $ControlFillColorInputActiveBrush;
            opacity: 1;
        }
    }

    // keybind reminder
    .keybindHint__28b43{
        margin: 8px;
        padding: 8px 16px;
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .warningIcon__63992{
            color: $SystemFillColorAttention;
            // Wrong icon used for this type of info bar, so rotate it 180deg to change it into an 'i'
            transform: rotate(180deg);
        }
        .keybindHintText__8244b{
            @include TypeBody;
        }
    }
}
