.theme-dark .picker__09f65{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // Search box
    .header__0856d{
        box-shadow: none;
    }
    // Volume control
    .settingsClickArea__61424{
        width: 32px;
        height: 32px;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        svg{
            padding: 6px;
        }
    }

    // Servers
    .categoryList_a1e0e0{
        background-color: $SolidBackgroundFillColorBase;
    }

    // Sounds
    // Section header
    .sectionHeader__61424{
        .sectionTitle__61424{
            @include TypeBodyStrong;
            text-transform: none;
            color: $TextFillColorPrimary;
        }
    }

    // Sound
    .soundButton__9be63{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        .ssoundName__9be63{
            @include TypeBody;
        }
        .buttonOverlayBackground__9be63{
            background-color: $ControlFillColorInputActiveBrush;
            opacity: 1;
        }
    }

    // keybind reminder
    .keybindHint__46002{
        margin: 8px;
        padding: 8px 16px;
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .warningIcon__46002{
            color: $SystemFillColorAttention;
            // Wrong icon used for this type of info bar, so rotate it 180deg to change it into an 'i'
            transform: rotate(180deg);
        }
        .keybindHintText__46002{
            @include TypeBody;
        }
    }
}
