.theme-dark .browser_d98031{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // header
    .header_d9c882{
        height: unset;
        min-height: unset;
        padding: 12px 24px;

        background-color: transparent;
        .threadIcon_d9c882{
            display: none;
        }
        .title_d9c882{
            @include TypeSubtitle;
        }
    }

    // Thread list
    .list_c441f0{
        padding: 0 24px !important; // Override inline

        .sectionHeader_c441f0{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary !important; // Override inline
            text-transform: capitalize;
        }
    }

    // Thread
    .container__6764b{
        background-color: $CardBackgroundFillColorDefault;
        border-radius: 4px;
        .threadNameLine__6764b{
            margin-bottom: 4px;
            @include TypeBody;
            .threadName__6764b{
                color: $TextFillColorPrimary;
            }
        }
        .subtext__6764b{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }
    }
}
