.theme-dark .browser_fa9cea{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // header
    .header__6d44a{
        height: unset;
        min-height: unset;
        padding: 12px 24px;

        background-color: transparent;
        .threadIcon_a292d5{
            display: none;
        }
        .title__8c726{
            @include TypeSubtitle;
        }
    }

    // Thread list
    .list__19127{
        padding: 0 24px !important; // Override inline

        .sectionHeader__0f7c3{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary !important; // Override inline
            text-transform: capitalize;
        }
    }

    // Thread
    .container__9922f{
        background-color: $CardBackgroundFillColorDefault;
        border-radius: 4px;
        .threadNameLine__43c45{
            margin-bottom: 4px;
            @include TypeBody;
            .threadName_f3cd38{
                color: $TextFillColorPrimary;
            }
        }
        .subtext__01913{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }
    }
}
