.theme-dark .userPopoutOuter_c69a7b{
    @include Elevation32;

    // 'plebium' mode
    .userProfileInnerThemedNonPremium_c69a7b{
        background: $AcrylicBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorDefault;
        border-radius: 8px;
        .overlayBackground_c69a7b{
            background: $LayerOnAcrylicFillColorDefult;
            border-radius: 4px;
        }
    }

    .overlayBackground_c69a7b{
        border-radius: 4px;
    }

    // Only display scroll bar when we need it
    .scroller_d2b491{
        padding: 0 12px !important;
        overflow-y: auto !important;
    }

    // Remove nitro promotion
    .upsell-27kXsw{
        display: none;
    }

    // Section title
    .title_c4a579,
    .headerText__2ef49{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    // Roles
    .role__48c1c{
        padding: 4px 4px 4px 0px;
        background-color: transparent;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 12px;
        @include TypeCaption;
        &.addButton__48c1c{
            padding: 4px;
        }
    }

    // Remove double border on message box
    .messageInputContainer_f2c0a8{
        border: 0;
    }

    // Spotify/games
    .assetsLargeImage__2ef49{
        border-radius: 4px;
    }
    .timeBarUserPopoutV2_c1d9fd{
        .bar_c8b06d{
            height: 3px;
            background-color: $ControlStrokeColorDefault;
        }
        .barInner_c8b06d{
            height: 3px;
            background-color: $AccentBase;
        }

        // Timecode
        .text_c8b06d{
            @include TypeCaption;
            color: $TextFillColorTertiary;
        }
    }
    // Remove buttons we can't interact with
    .disabledButtonWrapper__201d5{
        display: none;
    }
}
