.theme-dark .userPopoutOuter__3884e{
    @include Elevation32;

    // 'plebium' mode
    .userProfileInnerThemedNonPremium_ed9022{
        background: $AcrylicBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorDefault;
        border-radius: 8px;
        .overlayBackground__2666e{
            background: $LayerOnAcrylicFillColorDefult;
            border-radius: 4px;
        }
    }

    .overlayBackground__2666e{
        border-radius: 4px;
    }

    // Only display scroll bar when we need it
    .scroller_f9a667{
        padding: 0 12px !important;
        overflow-y: auto !important;
    }

    // Remove nitro promotion
    .upsell-27kXsw{
        display: none;
    }

    // Section title
    .title__392bc,
    .headerText_c0138d{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    // Roles
    .role_d81130{
        padding: 4px 4px 4px 0px;
        background-color: transparent;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 12px;
        @include TypeCaption;
        &.addButton__6f12b{
            padding: 4px;
        }
    }

    // Remove double border on message box
    .messageInputContainer_a93946{
        border: 0;
    }

    // Spotify/games
    .assetsLargeImage__57902{
        border-radius: 4px;
    }
    .timeBarUserPopoutV2__5d401{
        .bar_e63719{
            height: 3px;
            background-color: $ControlStrokeColorDefault;
        }
        .barInner__0f713{
            height: 3px;
            background-color: $AccentBase;
        }

        // Timecode
        .text__6822d{
            @include TypeCaption;
            color: $TextFillColorTertiary;
        }
    }
    // Remove buttons we can't interact with
    .disabledButtonWrapper_b04230{
        display: none;
    }
}
