.theme-dark .userPopoutOuter-1OHwPL{
    @include Elevation32;

    // 'plebium' mode
    .userProfileInnerThemedNonPremium-2AJg-H{
        background: $AcrylicBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorDefault;
        border-radius: 8px;
        .overlayBackground-2aa7wt{
            background: $LayerOnAcrylicFillColorDefult;
            border-radius: 4px;
        }
    }

    .overlayBackground-2aa7wt{
        border-radius: 4px;
    }

    // Only display scroll bar when we need it
    .scroller-15bIdk{
        padding: 0 12px !important;
        overflow-y: auto !important;
    }

    // Remove nitro promotion
    .upsell-27kXsw{
        display: none;
    }

    // Section title
    .title-3CjiSS,
    .headerText-3g1XK9{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    // Roles
    .role-2TIOKu{
        padding: 4px 4px 4px 0px;
        background-color: transparent;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 12px;
        @include TypeCaption;
        &.addButton-1_dZYu{
            padding: 4px;
        }
    }

    // Remove double border on message box
    .messageInputContainer-24qqTx{
        border: 0;
    }

    // Spotify/games
    .assetsLargeImage-8U5dlz{
        border-radius: 4px;
    }
    .timeBarUserPopoutV2-32DL06{
        .bar-1GpknY{
            height: 3px;
            background-color: $ControlStrokeColorDefault;
        }
        .barInner-3dHef4{
            height: 3px;
            background-color: $AccentBase;
        }

        // Timecode
        .text-31kWmP{
            @include TypeCaption;
            color: $TextFillColorTertiary;
        }
    }
    // Remove buttons we can't interact with
    .disabledButtonWrapper-2Oz3aY{
        display: none;
    }
}
