// Remove background from RTC/account
.theme-dark .panels__58331{
    background-color: transparent;

    // Remove 1px margin from bottom of panel
    .container_debb33{
        background-color: transparent;
        height: 48px;
        margin-bottom: 0;
    }

    // Remove margin on avatar/username wrapper
    .avatarWrapper__500a6{
        margin-right: 0;
        &:hover{
            background-color: transparent;
        }
    }

    .button_ae40a4{
        margin-left: 4px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        .contents__322f4{ // Non-EN sizing fix
            .lottieIcon_c7076c{
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
        &:first-child{
            margin-left: 0;
        }

        // Make muted buttons red
        &[aria-checked=true]{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
        }
    }
}

