// Remove background from RTC/account
.theme-dark .panels-3wFtMD{
    background-color: transparent;

    // Remove 1px margin from bottom of panel
    .container-YkUktl{
        background-color: transparent;
        height: 56px;
        margin-bottom: 0;
    }

    // Remove margin on avatar/username wrapper
    .avatarWrapper-1B9FTW{
        margin-right: 0;
        &:hover{
            background-color: transparent;
        }
    }

    .button-12Fmur{
        margin-left: 4px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        .contents-3NembX{ // Non-EN sizing fix
            svg{
                position: absolute;
                top: 7px;
                left: 7px;
                width: 16px;
                height: 16px;
            }
        }
        &:first-child{
            margin-left: 0;
        }

        // Make muted buttons red
        &[aria-checked=true]{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
        }
    }
}

// Icon replacements
html[lang^="en-"].theme-dark .panels-3wFtMD{
    :not(.button-1EGGcP, .rtcConnectionStatusLabel-Nodt6L) > .contents-3NembX{
        display: none;
    }
    .button-12Fmur{
        &::before{
            @include FontIconFluent;
            font-size: 16px;
        }
    }
}
