// Remove background from RTC/account
.theme-dark ._5e434347c823b592-panels{
    background-color: $SolidBackgroundFillColorTertiary;
    border-radius: 4px;

    // Remove 1px margin from bottom of panel
    ._37e49614b9f110a9-container{
        background-color: transparent;
        height: 48px;
        margin-bottom: 0;
        border-radius: 8px;
    }

    // Remove margin on avatar/username wrapper
    ._37e49614b9f110a9-avatarWrapper{
        margin-right: 0;
        &:hover{
            background-color: transparent;
        }
    }

    ._37e49614b9f110a9-buttons{
        gap: 4px;
    }
    .buttonSpace__37e49{
        margin-right: 0;
    }
    ._67645e1530f1195d-button{
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        ._201d5e8a3c09670a-contents{ // Non-EN sizing fix
            ._5eb9b3cc7c2b1ce8-lottieIcon{
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
        &:first-child{
            margin-left: 0;
        }

        // Mic and speaker button with attached menu
        &._37e49614b9f110a9-micButtonWithMenu{
            border-radius: 4px 0 0 4px;
        }
        &._37e49614b9f110a9-buttonChevron{
            margin-inline-start: 0;
            border-width: 1px 1px 1px 0;
            border-radius: 0 4px 4px 0;
        }

        // Make muted buttons red
        &[aria-checked=true]{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            & ~ ._37e49614b9f110a9-buttonChevron{
                border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            }
        }
    }
}

