// Remove background from RTC/account
.theme-dark .panels__5e434{
    background-color: $SolidBackgroundFillColorTertiary;
    border-radius: 4px;

    // Remove 1px margin from bottom of panel
    .container__37e49{
        background-color: transparent;
        height: 48px;
        margin-bottom: 0;
        border-radius: 8px;
    }

    // Remove margin on avatar/username wrapper
    .avatarWrapper__37e49{
        margin-right: 0;
        &:hover{
            background-color: transparent;
        }
    }

    .buttons__37e49{
        gap: 4px;
    }
    .buttonSpace__37e49{
        margin-right: 0;
    }
    .button__67645{
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        .contents__201d5{ // Non-EN sizing fix
            .lottieIcon__5eb9b{
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
        &:first-child{
            margin-left: 0;
        }

        // Mic and speaker button with attached menu
        &.micButtonWithMenu__37e49{
            border-radius: 4px 0 0 4px;
        }
        &.buttonChevron__37e49{
            margin-inline-start: 0;
            border-width: 1px 1px 1px 0;
            border-radius: 0 4px 4px 0;
        }

        // Make muted buttons red
        &[aria-checked=true]{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            & ~ .buttonChevron__37e49{
                border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            }
        }
    }
}

