// Remove border radius from top-left
.theme-dark.platform-win .sidebar-1tnWFu{
    border-radius: 0;

    // Channel header
    .header-3OsQeK{
        background-color: transparent;
        box-shadow: none;
        cursor: default;
        .name-3Uvkvr{
            @include TypeBodyStrong;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        // Remove guild boost icon
        .guildIconV2Container-2H8IRS{
            display: none;
        }
        // Remove dropdown icon
        .headerChildren-2qV9P8{
            display: none;
        }
    }
    .clickable-vvKY2q .header-3OsQeK:hover,
    .selected-1GtAC5 .header-2V-4Sw{
        background-color: transparent;
    }
    // Remove server boost icon
    .guildIconContainer-3QvE6w{
        display: none;
    }

    // Remove 'Public'
    .communityInfoContainer-1dMVpU{
        display: none;
    }

    // Remove server banner
    .animatedContainer-2laTjx{
        display: none;
    }
    .animatedBannerHoverLayer-129r1v{
        display: none;
    }
    .content-yjf30S > div[style="height: 84px;"]{
        display: none;
    }

    // Remove boost goal meter
    .container-2giAcK{
        display: none;
    }
    .content-2a4AW9 > div[style="height: 16px;"]{
        display: none;
    }

    // Hide channel notice
    .channelNotice-7cg_jN{
        display: none;
    }


    // Category
    .containerDefault-3TQ5YN{
        .wrapper-1S43wv{
            margin: 0 0 0 8px;
            padding-left: 10px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: $TextFillColorPrimary;
            &:hover{
                .name-3BUDLf{
                    color: $TextFillColorSecondary;
                }
            }

            // Wrapper types
            // Muted
            &.muted-19J0ih{
                .name-3BUDLf{
                    color: $TextFillColorDisabled;
                }
            }

            // Colapse chevrons
            // Remove default chevron
            .arrow-2HswgU{
                display: none;
            }
            // Chevron replacement
            &::after{
                content: "\E70E"; // ChevronDown
                padding-left: 8px;
                @include FontIconFluent;
                font-size: 12px;
            }
            &.collapsed-2KOacR{
                &::after{
                    content: "\E70D"; // ChevronDown
                }
            }
        }

        // Category name
        .container-q97qHp{
            color: $TextFillColorPrimary;
            @include TypeBody;
            text-transform: none;
        }

        // Hide 'Create Channel' buttons when not hovered
        .children-3MeUvj{
            visibility: hidden;
        }
        &:hover{
            .children-3MeUvj{
                visibility: visible;
            }
        }
    }

    // Channels
    // Indent channels
    .containerDefault-3TQ5YN ~ .containerDefault-YUSmu3 .content-1gYQeQ{
        padding-left: 23px;
    }
    .containerDefault-YUSmu3{
        .wrapper-NhbLHG{
            // Channel name
            .name-28HaxV{
                color: $TextFillColorSecondary;
                @include TypeBody;
            }
            // Icon
            .icon-2W8DHg{
                width: 16px;
            }

            // Hide channel buttons when not hovered
            .children-1MGS9G .iconItem-1EjiK0{
                visibility: hidden;
            }

            &:hover{
                .content-1gYQeQ{
                    background-color: $SubtleFillColorSecondary;
                    box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
                }

                // Reveal channel buttons
                .children-1MGS9G .iconItem-1EjiK0{
                    visibility: visible;
                }
            }

            // Pill
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                top: 9px;
                left: 8px;
                background-color: $AccentFillColorDefault;
                border-radius: 999px;
                transform: scaleY(0%);
                opacity: .3;
                transition: transform 167ms Cubic-bezier(0,0,0,1),
                            opacity 167ms Cubic-bezier(0,0,0,1);
            }

            // Channel types
            // Selected channel
            &.modeSelected-3DmyhH{
                // Pill
                &::before{
                    transform: scaleY(100%);
                    opacity: 1;
                    transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                                opacity 250ms Cubic-bezier(0.55,0.55,0,1);
                }
                .content-1gYQeQ{
                    background-color: $SubtleFillColorSecondary;
                }
                // Channel icon
                .icon-2W8DHg{
                    color: $TextFillColorPrimary;
                }
                .name-28HaxV{
                    color: $TextFillColorPrimary;
                }
            }
            // Unread channel
            &.modeUnread-3Cxepe{
                // Channel icon
                .icon-2W8DHg{
                    color: $TextFillColorSecondary;
                }
                .name-28HaxV{
                    color: $TextFillColorSecondary;
                }
            }
            // Muted channel
            &.modeMuted-2T4MDZ{
                // Channel icon
                .icon-2W8DHg{
                    color: $TextFillColorDisabled;
                }
                .name-28HaxV{
                    color: $TextFillColorDisabled;
                }
            }
        }

        // Unread channel pill
        .unread-36eUEm{
            width: 3px;
            height: 16px;
            top: 1px;
            left: 8px;
            background-color: $TextFillColorSecondary;
            border-radius: 2px;
        }
        // Threads
        // Thread channel
        .typeThread-2Aqh6X .content-1gYQeQ{
            margin-left: 8px;
            padding-left: 47px;
        }
    }

    // Voice
    .listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42{
        background-color: $SubtleFillColorSecondary;
        box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
    }

    // Show all voice channels button
    .voiceChannelsButton-SRmgo8{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Threads
    // Active threads
    .wrapper-NhbLHG{
        &:hover{
            .content-1gYQeQ{
                background-color: $SubtleFillColorSecondary;
                box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
            }
        }
        .name-28HaxV{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
    // Channel tree spine
    .spine-29OFwR, .spineBorder-1-F4s1{
        left: 40px;
    }

    // Unread badge
    .numberBadge-37OJ3S{
        background-color: $SystemFillColorCritical !important; // For some reason this is in line
        @include TypeCaption;
        color: $TextOnAccentFillColorPrimary;
    }

    // Unread bars
    .unread-XRkyaQ{
        .bar-2eAyLE{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadBottom-3Ojk6R{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }

    .unreadTop-1DJtGv{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
