// Remove border radius from top-left
.theme-dark.platform-win .sidebar_e031be{
    border-radius: 0;

    // Channel header
    .header__77c95{
        background-color: transparent;
        box-shadow: none;
        cursor: default;
        .name_e8e549{
            @include TypeBodyStrong;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        // Remove guild boost icon
        .guildIconV2Container_ddc448{
            display: none;
        }
        // Remove dropdown icon
        .headerChildren_e6a96f{
            display: none;
        }
    }
    .clickable-vvKY2q .header-3OsQeK:hover,
    .selected-1GtAC5 .header-2V-4Sw{
        background-color: transparent;
    }
    // Remove server boost icon
    .guildIconContainer-3QvE6w{
        display: none;
    }

    // Remove 'Public'
    .communityInfoContainer-1dMVpU{
        display: none;
    }

    // Remove server banner
    .animatedContainer__0e828{
        display: none;
    }
    .animatedBannerHoverLayer__3cef6{
        display: none;
    }
    .content__690c5 > div[style="height: 84px;"]{
        display: none;
    }

    // Remove boost goal meter
    .container_bc43c1{
        display: none;
    }
    .content-2a4AW9 > div[style="height: 16px;"]{
        display: none;
    }

    // Hide channel notice
    .channelNotice-7cg_jN{
        display: none;
    }


    // Category
    .containerDefault_e3b32b{
        .wrapperCommon__2578a{
            margin: 0 0 0 8px;
            padding-left: 10px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: $TextFillColorPrimary;
            &:hover{
                .name__27f04{
                    color: $TextFillColorSecondary;
                }
            }

            // Wrapper types
            // Muted
            &.muted_de6e6e{
                .name__27f04{
                    color: $TextFillColorDisabled;
                }
            }

            // Colapse chevrons
            // Remove default chevron
            .icon__3aa8e{
                display: none;
            }
            // Chevron replacement
            &::after{
                content: "\E70E"; // ChevronDown
                padding-left: 8px;
                @include FontIconFluent;
                font-size: 12px;
            }
            &.collapsed_c227d2{
                &::after{
                    content: "\E70D"; // ChevronDown
                }
            }
        }

        // Category name
        .container__43554{
            color: $TextFillColorPrimary;
            @include TypeBody;
            text-transform: none;
        }

        // Hide 'Create Channel' buttons when not hovered
        .children_d18c7d{
            visibility: hidden;
        }
        &:hover{
            .children_d18c7d{
                visibility: visible;
            }
        }
    }

    // Channels
    // Indent channels
    .containerDefault_e3b32b ~ .containerDefault_ae2ea4 .link_ddbb36{
        padding-left: 23px;
    }
    .containerDefault_ae2ea4{
        // The channel
        &.wrapper__612a5, // Required for Server guide, events, and channels & roles channels
        .wrapper__612a5{
            // Channel name
            .name__4eb92{
                color: $TextFillColorSecondary;
                @include TypeBody;
            }
            // Icon
            .icon__67ab4{
                width: 16px;
            }

            // Hide channel buttons when not hovered
            .children__563f2 .iconItem__56989{
                visibility: hidden;
            }

            &:hover{
                .link_ddbb36{
                    background-color: $SubtleFillColorSecondary;
                    box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
                }

                // Reveal channel buttons
                .children__563f2 .iconItem__56989{
                    visibility: visible;
                }
            }

            // Pill
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                top: 9px;
                left: 0px;
                background-color: $AccentFillColorDefault;
                border-radius: 999px;
                transform: scaleY(0%);
                opacity: .3;
                transition: transform 167ms Cubic-bezier(0,0,0,1),
                            opacity 167ms Cubic-bezier(0,0,0,1);
            }

            // Channel types
            // Selected channel
            &.modeSelected__473f1{
                // Pill
                &::before{
                    transform: scaleY(100%);
                    opacity: 1;
                    transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                                opacity 250ms Cubic-bezier(0.55,0.55,0,1);
                }
                .link_ddbb36{
                    background-color: $SubtleFillColorSecondary;
                }
                // Channel icon
                .icon__67ab4{
                    color: $TextFillColorPrimary;
                }
                .name__4eb92{
                    color: $TextFillColorPrimary;
                }
            }
            // Unread channel
            &.modeUnread_f74c03{
                // Channel icon
                .icon__67ab4{
                    color: $TextFillColorSecondary;
                }
                .name__4eb92{
                    color: $TextFillColorSecondary;
                }
            }
            // Muted channel
            &.modeMuted_f0a72e{
                // Channel icon
                .icon__67ab4{
                    color: $TextFillColorDisabled;
                }
                .name__4eb92{
                    color: $TextFillColorDisabled;
                }
            }
        }

        // The voice channel user
        .list__02208{
            padding-left: 8px;
            .content__3b07e{
                padding-left: 32px;
            }
            // Change border to same green used on guild list
            .avatarSpeaking_f239de{
                box-shadow:  0 0 0 2px $SystemFillColorSuccess,inset 0 0 0 3px $FocusStrokeColorInner
            }
            // Change user speaking colour to green
            .usernameSpeaking__22f2f{
                color: $SystemFillColorSuccess;
            }
        }

        // Unread channel pill
        .unread__48cf4{
            width: 3px;
            height: 16px;
            top: 13px;
            left: 0px;
            background-color: $TextFillColorSecondary;
            border-radius: 2px;
        }
        // Threads
        // Thread channel
        .typeThread__5fb37{
            &.wrapper__612a5{
                margin-left: 8px;
            }
            .link_ddbb36{
                margin-left: 0;
                padding-left: 48px;
            }
        }
    }

    // Voice
    .listDefault__4e3fa .clickable_a2c5ad:hover .content__3b07e{
        background-color: $SubtleFillColorSecondary;
        box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
    }

    // Show all voice channels button
    .voiceChannelsButton_fd0b98{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Threads
    // Active threads
    .wrapper__612a5{
        &:hover{
            .link_ddbb36{
                background-color: $SubtleFillColorSecondary;
                box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
            }
        }
        .name__4eb92{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
    // Channel tree spine
    .spine__88e6d, .spineBorder__52981{
        left: 40px;
    }

    // Unread badge
    .numberBadge__40d6f{
        background-color: $SystemFillColorCritical !important; // For some reason this is in line
        @include TypeCaption;
        color: $TextOnAccentFillColorPrimary;
    }

    // Unread bars
    .unread__11823{
        .bar_edc096{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadBottom__6be9f{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }

    .unreadTop__6e8c4{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
