// Remove border radius from top-left
.theme-dark.platform-win .sidebar_ded4b5{
    border-radius: 0;

    // Channel header
    .header__104ca{
        background-color: transparent;
        box-shadow: none;
        cursor: default;
        .name_c08dbc{
            @include TypeBodyStrong;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        // Remove guild boost icon
        .guildIconV2Container__53cdb{
            display: none;
        }
        // Remove dropdown icon
        .headerChildren__7cd0b{
            display: none;
        }
    }
    .clickable-vvKY2q .header-3OsQeK:hover,
    .selected-1GtAC5 .header-2V-4Sw{
        background-color: transparent;
    }
    // Remove server boost icon
    .guildIconContainer-3QvE6w{
        display: none;
    }

    // Remove 'Public'
    .communityInfoContainer-1dMVpU{
        display: none;
    }

    // Remove server banner
    .animatedContainer__341f6{
        display: none;
    }
    .animatedBannerHoverLayer__4274d{
        display: none;
    }
    .content__23cab > div[style="height: 84px;"]{
        display: none;
    }

    // Remove boost goal meter
    .container__4f639{
        display: none;
    }
    .content-2a4AW9 > div[style="height: 16px;"]{
        display: none;
    }

    // Hide channel notice
    .channelNotice-7cg_jN{
        display: none;
    }


    // Category
    .containerDefault__23a29{
        .wrapperCommon_d71dee{
            margin: 0 0 0 8px;
            padding-left: 10px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: $TextFillColorPrimary;
            &:hover{
                .name__590d6{
                    color: $TextFillColorSecondary;
                }
            }

            // Wrapper types
            // Muted
            &.muted_de6e6e{
                .name__590d6{
                    color: $TextFillColorDisabled;
                }
            }

            // Colapse chevrons
            // Remove default chevron
            .icon_ef4486{
                display: none;
            }
            // Chevron replacement
            &::after{
                content: "\E70E"; // ChevronDown
                padding-left: 8px;
                @include FontIconFluent;
                font-size: 12px;
            }
            &.collapsed__8fe3c{
                &::after{
                    content: "\E70D"; // ChevronDown
                }
            }
        }

        // Category name
        .container_de798d{
            color: $TextFillColorPrimary;
            @include TypeBody;
            text-transform: none;
        }

        // Hide 'Create Channel' buttons when not hovered
        .children_d4d259{
            visibility: hidden;
        }
        &:hover{
            .children_d4d259{
                visibility: visible;
            }
        }
    }

    // Channels
    // Indent channels
    .containerDefault__23a29 ~ .containerDefault__3187b .link__95dc0{
        padding-left: 23px;
    }
    .containerDefault__3187b{
        // The channel
        &.wrapper__7bcde, // Required for Server guide, events, and channels & roles channels
        .wrapper__7bcde{
            // Channel name
            .name__8d1ec{
                color: $TextFillColorSecondary;
                @include TypeBody;
            }
            // Icon
            .icon_eff5d4{
                width: 16px;
            }

            // Hide channel buttons when not hovered
            .children_a486f8 .iconItem__8e3b8{
                visibility: hidden;
            }

            &:hover{
                .link__95dc0{
                    background-color: $SubtleFillColorSecondary;
                    box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
                }

                // Reveal channel buttons
                .children_a486f8 .iconItem__8e3b8{
                    visibility: visible;
                }
            }

            // Pill
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                top: 9px;
                left: 0px;
                background-color: $AccentFillColorDefault;
                border-radius: 999px;
                transform: scaleY(0%);
                opacity: .3;
                transition: transform 167ms Cubic-bezier(0,0,0,1),
                            opacity 167ms Cubic-bezier(0,0,0,1);
            }

            // Channel types
            // Selected channel
            &.modeSelected__487d6{
                // Pill
                &::before{
                    transform: scaleY(100%);
                    opacity: 1;
                    transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                                opacity 250ms Cubic-bezier(0.55,0.55,0,1);
                }
                .link__95dc0{
                    background-color: $SubtleFillColorSecondary;
                }
                // Channel icon
                .icon_eff5d4{
                    color: $TextFillColorPrimary;
                }
                .name__8d1ec{
                    color: $TextFillColorPrimary;
                }
            }
            // Unread channel
            &.modeUnread_f74c03{
                // Channel icon
                .icon_eff5d4{
                    color: $TextFillColorSecondary;
                }
                .name__8d1ec{
                    color: $TextFillColorSecondary;
                }
            }
            // Muted channel
            &.modeMuted__0aeea{
                // Channel icon
                .icon_eff5d4{
                    color: $TextFillColorDisabled;
                }
                .name__8d1ec{
                    color: $TextFillColorDisabled;
                }
            }
        }

        // The voice channel user
        .list__02208{
            padding-left: 8px;
            .content_b60865{
                padding-left: 32px;
            }
        }

        // Unread channel pill
        .unread__48cf4{
            width: 3px;
            height: 16px;
            top: 13px;
            left: 0px;
            background-color: $TextFillColorSecondary;
            border-radius: 2px;
        }
        // Threads
        // Thread channel
        .typeThread__2f91c{
            &.wrapper__7bcde{
                margin-left: 8px;
            }
            .link__95dc0{
                margin-left: 0;
                padding-left: 48px;
            }
        }
    }

    // Voice
    .listDefault__205d0 .clickable__137bc:hover .content_b60865{
        background-color: $SubtleFillColorSecondary;
        box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
    }

    // Show all voice channels button
    .voiceChannelsButton__46c37{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Threads
    // Active threads
    .wrapper__7bcde{
        &:hover{
            .link__95dc0{
                background-color: $SubtleFillColorSecondary;
                box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
            }
        }
        .name__8d1ec{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
    // Channel tree spine
    .spine__88e6d, .spineBorder_bdec8b{
        left: 40px;
    }

    // Unread badge
    .numberBadge__50328{
        background-color: $SystemFillColorCritical !important; // For some reason this is in line
        @include TypeCaption;
        color: $TextOnAccentFillColorPrimary;
    }

    // Unread bars
    .unread__11823{
        .bar_edc096{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadBottom__6be9f{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }

    .unreadTop__6e8c4{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
