.theme-dark .container_e131a9{
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 0;

    // Connection status/disconnect
    .connection_e131a9{
        height: 32px;
    }
    .rtcConnectionStatus_c0cb95{
        padding-bottom: 0;
        @include TypeBody;
        .button__201d5{
            line-height: 16px;
        }
    }
    .subtext__339d0{
        @include TypeCaption;
    }
    .voiceUsers__68617{
        padding-top: 4px;
    }

    // Video/screen share buttons
    .actionButtons_e131a9{
        grid-gap: 4px;
        // !importants to make these appear as 'default' button instead of accent
        button{
            min-width: unset;
            background-color: $ControlFillColorDefault !important;
            border: 1px solid $ControlStrokeColorDefault !important;
            border-radius: 4px;
            color: $TextFillColorPrimary !important;
            &:hover{
                background-color: $ControlFillColorSecondary !important;
            }
            &:active{
                background-color: $ControlFillColorTertiary !important;
            }

            .contents__201d5{
                // Display: flex required to fix alignment of soundboard icon when using non-English - see #249
                display: flex;
                font-size: 0;
                svg{
                    margin-right: 0;
                }
            }
        }
        // Hide buttons when you don't have permission. This also hides the soundboard when you are muted
        .disabledButtonWrapper__201d5{
            display: none;
        }
    }
}

// Streaming game/app
.theme-dark .activityPanel_c48ade{
    background-color: transparent;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
    .title_d1da5f{
        @include TypeBody;
    }
}

// Icons
html[lang^="en-"].theme-dark .panels_c48ade .button__201d5{
    &::before{
        @include FontIconFluent;
        font-size: 16px;
    }
    .contents__201d5{
        display: none;
    }
}

// Fix connection status text not appearing
.rtcConnectionStatus__06d62 .contents__201d5{
    display: block !important;
    .rtcConnectionStatusLabel__06d62{
        font-weight: 500;
    }
}
