.theme-dark .container-1zzFcN{
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 0;

    // Video/screen share buttons
    .actionButtons-2vEOUh{
        grid-gap: 4px;
        // !importants to make these appear as 'default' button instead of accent
        button{
            min-width: unset;
            background-color: $ControlFillColorDefault !important;
            border: 1px solid $ControlStrokeColorDefault !important;
            border-radius: 4px;
            color: $TextFillColorPrimary !important;
            &:hover{
                background-color: $ControlFillColorSecondary !important;
            }
            &:active{
                background-color: $ControlFillColorTertiary !important;
            }

            .contents-3ca1mk{
                font-size: 0;
                svg{
                    margin-right: 0;
                }
            }
        }
    }
    // NOTE: 2022-02-19 - Removing the stream buttons when you don't have permission. This may cause the channels jiggling bug to resurface. See #31.
    .disabledButtonWrapper-2Oz3aY{
        display: none;
    }
}

// Streaming game/app
.theme-dark .activityPanel-9icbyU{
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
    .title-338goq{
        @include TypeBody;
    }
    // NOTE: 2022-02-19 - Removing the stream buttons when you don't have permission. This may cause the channels jiggling bug to resurface. See #31.
    .actions-zk2vB_{
        .disabledButtonWrapper-2Oz3aY{
            display: none;
        }
    }
}

// Icons
html[lang^="en-"].theme-dark .panels-3wFtMD .button-1EGGcP{
    &::before{
        @include FontIconFluent;
        font-size: 16px;
    }
    .contents-3ca1mk{
        display: none;
    }
}
