// DEBUG: 2021-07-30 - Comic sans used as fall back font for debugging
@mixin FontNormal{
    font-family: var(--font-primary);
}

@mixin FontMonospace{
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}

@mixin FontIconFluent{
    font-family: "Segoe Fluent Icons", "Segoe MDL2 Assets";
}

@mixin FontIconHoloLens{
    font-family: "HoloLens MDL2 Assets";
}
