// DEBUG: 2021-07-30 - Comic sans used as fall back font for debugging
@mixin FontNormal{
    font-family: "Segoe UI Variable Text", "Segoe UI", "Comic Sans MS", Helvetica, Arial, sans-serif;
}

@mixin FontMonospace{
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}

@mixin FontIconFluent{
    font-family: "Segoe Fluent Icons", "Segoe MDL2 Assets";
}

@mixin FontIconHoloLens{
    font-family: "HoloLens MDL2 Assets";
}
