// Background in thread members list
.members-3WRCEx, .members-3WRCEx>div{
    background-color: transparent;
}

.theme-dark .container-2o3qEW{
    background-color: $LayerFillColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;

    .members-3WRCEx,
    .members-3WRCEx > div{
        background-color: transparent;
    }

    // Group header
    .membersGroup-2eiWxl{
        padding: 20px 8px 0 16px;
    }
    .container-q97qHp{
        color: $TextFillColorPrimary;
        @include TypeBodyStrong;
        text-transform: none;
    }


    // Member
    .container-1oeRFJ{
        color: $TextFillColorPrimary;
        // Greyscale offline avatars
        &.offline-22aM7E{
            .avatar-6qzftW{
                filter: grayscale(100%);
            }
            &:hover{
                .avatar-6qzftW{
                    filter: grayscale(0%);
                }
            }
        }
    }
    .layout-1qmrhw{
        border: 1px solid transparent;
        &:hover{
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            width: 3px;
            height: 16px;
            top: 16px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 999px;

            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
    }
    // Selected (user popout open)
    .selected-1-Z6gm .layout-1qmrhw{
        background-color: $SubtleFillColorSecondary;
        border-color: $SubtleFillColorSecondary;
        &::before{
            transform: scaleY(100%);
            opacity: 1;
            transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                        opacity 250ms Cubic-bezier(0.55,0.55,0,1);
        }
    }
    // Username
    .name-3Vmqxm{
        @include TypeBody;
    }
    // Bot tag
    .botTag-2mryIa{
        padding: 0;
        background-color: transparent;
        &::before{
            content: "\E99A"; // Robot
            @include FontIconFluent;
            font-size: 14px;
        }
        span{
            display: none;
        }
    }
    // Activity
    .activity-2EQDZv{
        @include TypeCaption;
        color: $TextFillColorSecondary;
        strong{
            @include TypeCaption;
        }
    }
}

// Empty state
.theme-dark .members-3WRCEx{
    &.emptyState-2DwxJe{
        .emptyStateHeader-3X-dcc{
            display: none;
        }
        .emptyStateIconContainer-1Jbvk4{
            background-color: transparent;
        }
        .emptyStateSubtext-hyd30M{
            background-color: transparent;
            color: $TextFillColorSecondary;
        }
    }
}
