.theme-dark .container_f79ab4{
    background: $LayerOnMicaBaseAltFillColor;
    border-left: 1px solid $CardStrokeColorDefault;

    .members__573eb{
        background-color: transparent;
    }

    // Group header
    .membersGroup_cad095{
        padding: 20px 8px 0 15px;
    }
    .container__43554{
        color: $TextFillColorPrimary;
        @include TypeBodyStrong;
        text-transform: none;
    }


    // Member
    .container_a48b21{
        margin-left: 7px;
        background: transparent;
        color: $TextFillColorPrimary;
        // Greyscale offline avatars
        &.offline__55fab{
            .avatar__6337f{
                filter: grayscale(100%);
            }
            &:hover{
                .avatar__6337f{
                    filter: grayscale(0%);
                }
            }
        }
    }
    .layout_bb8e67{
        border: 1px solid transparent;
        &:hover{
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            width: 3px;
            height: 16px;
            top: 16px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 999px;

            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
    }
    // Selected (user popout open)
    .selected__7f4cb .layout_bb8e67{
        background-color: $SubtleFillColorSecondary;
        border-color: $SubtleFillColorSecondary;
        &::before{
            transform: scaleY(100%);
            opacity: 1;
            transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                        opacity 250ms Cubic-bezier(0.55,0.55,0,1);
        }
    }
    // Username
    .name__7afe8{
        @include TypeBody;
    }
    // Activity
    .activity_bafb94{
        @include TypeCaption;
        color: $TextFillColorSecondary;
        strong{
            @include TypeCaption;
        }
    }
}
