.theme-dark .container_c8ffbb{
    background: $LayerOnMicaBaseAltFillColor;
    border-left: 1px solid $CardStrokeColorDefault;

    .members_c8ffbb{
        background-color: transparent;
    }

    // Group header
    .membersGroup_c8ffbb{
        padding: 20px 8px 0 15px;
    }
    .container_cc72c1{
        color: $TextFillColorPrimary;
        @include TypeBodyStrong;
        text-transform: none;
    }


    // Member
    .container__91a9d{
        margin-left: 7px;
        background: transparent;
        color: $TextFillColorPrimary;
        // Greyscale offline avatars
        &.offline__5d473{
            .avatar__91a9d{
                filter: grayscale(100%);
            }
            &:hover{
                .avatar__91a9d{
                    filter: grayscale(0%);
                }
            }
        }
    }
    .layout__91a9d{
        border: 1px solid transparent;
        &:hover{
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            width: 3px;
            height: 16px;
            top: 16px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 999px;

            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
    }
    // Selected (user popout open)
    .selected__91a9d .layout__91a9d{
        background-color: $SubtleFillColorSecondary;
        border-color: $SubtleFillColorSecondary;
        &::before{
            transform: scaleY(100%);
            opacity: 1;
            transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                        opacity 250ms Cubic-bezier(0.55,0.55,0,1);
        }
    }
    // Username
    .name__91a9d{
        @include TypeBody;
    }
    // Activity
    .activity__5d473{
        @include TypeCaption;
        color: $TextFillColorSecondary;
        strong{
            @include TypeCaption;
        }
    }

    // Activity
    .container__0f2e8{
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        &.selected__0f2e8{
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
    }
}

// Remove avatar borders/decorations
// This also removes them from user profile popouts and modals, but not cozy chat.
.avatarDecoration__44b0c{
    display: var(--fluent-show-avatar-decorations);
}
