/**
 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/

/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/

/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/

:root{
    /* DefaultBlue */
    --fluent-accent-hue-sat: 207, 100%;
    --fluent-accent-lightness: 42%;
    --fluent-text-on-accent-color: 0, 0, 0;
    --fluent-acrylic-background: url(https://cdn.discordapp.com/attachments/862716886067445820/887579752561508362/Captured_Motion_24.jpg);
    --fluent-acrylic-background-blur: 24px;
    --fluent-acrylic-background-saturation: 100%;
    --fluent-guilds-icon-size: 24px;
    --fluent-chatbox-gif-button-visibility: none;
    --fluent-chatbox-stickers-button-visibility: none;
}

/**
 * End user options
*/
