// Override Discord brand fronts
:root{
    --font-primary: "Segoe UI Variable Text", "Segoe UI Variable Static Text", "Segoe UI", Helvetica, Arial, sans-serif;
    --font-display: "Segoe UI Variable Display", "Segoe UI Variable Static Display", "Segoe UI", Helvetica, Arial, sans-serif;
    --font-code: Consolas, Menlo, Monaco, "Courier New", monospace;
}

*,
::before,
::after{
    letter-spacing: normal;
}
