.theme-dark .button-ejjZWC{
    border-radius: 4px;
    @include TypeBody;

    // Sizes
    &.sizeMin-3Yqxk5, // eg. Add server 'back' buttons
    &.sizeSmall-3R2P2p,
    &.sizeMedium-2oH5mg, // eg. Create new server
    &.sizeLarge-2xP3-w, // eg. Add a keybind
    &.sizeXlarge-2GQ4VO{ // eg. Untrusted link modal
        min-width: 120px;
        min-height: 32px;
        height: 32px;
    }

    // Filled buttons
    &.lookFilled-1H2Jvj{
        // Brand buttons
        &.colorBrand-2M3O3N,
        &.colorGreen-jIPCAS, // Join server terms modal
        &.colorBrandNew-abZT3v{ // eg. User Settings > Accessibility > TTS Rate
            background-color: $AccentFillColorDefault;
            border-width: 1px;
            border-style: inset;
            border-color: $AccentControlElevationBorder;
            color: $TextOnAccentFillColorPrimary;
            &:hover{
                background-color: $AccentFillColorSecondary;
            }
            &:active{
                background-color: $AccentFillColorTertiary;
            }
        }
        // Grey
        &.colorPrimary-2-Lusz,
        &.buttonColor-1u-3JF, // "Example Button" in User Settings>Profile
        &.buttonColor-28DXIe{ // Voice screen invite button
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }

        // Red
        &.colorRed-2VFhM4{
            background-color: $SystemFillColorCriticalBackground;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextOnAccentFillColorPrimary;
            }
        }

        // Disabled
        // eg. Add game popout
        &:disabled{
            background-color: $ControlFillColorDisabled;
            color: $TextFillColorDisabled;
            pointer-events: none;
        }
    }

    // Outlined
    &.lookOutlined-3RTC7c{
        &.colorBrand-2M3O3N{ // eg. Request Data
            border-color: $ControlStrokeColorDefault;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
        &.colorRed-2VFhM4{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextFillColorPrimary;
            }
        }
    }

    // Blank
    &.lookBlank-FgPMy6{ // eg. Add server 'back' buttons
        color: $TextFillColorPrimary;
        &.backButton-2Ps-B8{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }

    // Link button
    &.lookLink-13iF2K{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
            .contents-3NembX{
                background-image: none;
            }
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Button with loading ellipses (Server Settings > Save changes)
    &.submitting-3t0sbC{
        .spinner-Whw2qx{
            display: flex;
        }
    }

    // Animations
    .buttonShine-p5V5TB{
        display: none;
    }
}
