.theme-dark .button-f2h6uQ{
    border-radius: 4px;
    @include TypeBody;

    // Sizes
    &.sizeMin-DfpWCE, // eg. Add server 'back' buttons
    &.sizeSmall-wU2dO-,
    &.sizeMedium-2bFIHr, // eg. Create new server
    &.sizeLarge-3mScP9, // eg. Add a keybind
    &.sizeXlarge-2TyITf{ // eg. Untrusted link modal
        min-width: 120px;
        min-height: 32px;
        height: 32px;
    }

    // Filled buttons
    &.lookFilled-yCfaCM{
        // Brand buttons
        &.colorBrand-I6CyqQ,
        &.colorBrandNew-2-gGsS{ // eg. User Settings > Accessibility > TTS Rate
            background-color: $AccentFillColorDefault;
            border: 1px solid $ControlStrokeColorOnAccentDefault;
            color: $TextOnAccentFillColorPrimary;
            &:hover{
                background-color: $AccentFillColorSecondary;
            }
            &:active{
                background-color: $AccentFillColorTertiary;
            }
        }
        // Grey
        &.colorGrey-2iAG-B,
        &.colorPrimary-2AuQVo{
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }

        // Red
        &.colorRed-rQXKgM{
            background-color: $SystemFillColorCriticalBackground;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextOnAccentFillColorPrimary;
            }
        }

        // Disabled
        // eg. Add game popout
        &:disabled{
            background-color: $ControlFillColorDisabled;
            color: $TextFillColorDisabled;
            pointer-events: none;
        }
    }

    // Outlined
    &.lookOutlined-3yKVGo{
        &.colorBrand-I6CyqQ{ // eg. Request Data
            border-color: $ControlStrokeColorDefault;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
        &.colorRed-rQXKgM{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextFillColorPrimary;
            }
        }
    }

    // Blank
    &.lookBlank-21BCro{ // eg. Add server 'back' buttons
        &.backButton-2Ps-B8{
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }

    // Link button
    &.lookLink-15mFoz{
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
            .contents-3ca1mk{
                background-image: none;
            }
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Button with loading ellipses (Server Settings > Save changes)
    &.submitting-3uDn4C{
        .spinner-2RT7ZC{
            display: flex;
        }
    }
}

// Call/Voice channel control buttons
.theme-dark .controlButton-2PMNom{
    height: 32px;
    margin: 0 4px;
    &.button-f2h6uQ{
        min-width: 64px;
        height: 32px;
        padding: 8px 16px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    .contents-3ca1mk{
        svg{
            display: none;
        }
    }

    &.contextMenuContainer-1RO4DQ{
        margin: 0 4px;
        display: flex;
        svg{
            width: 64px !important;
        }
        foreignObject{
            width: 64px !important;
            mask: none;
        }
        .button-f2h6uQ{
            min-width: 64px;
            height: 32px;
            padding: 8px 16px;
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            border-radius: 4px;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }
    .contextMenuNub-NuTZ_U{
        max-height: 32px;
        position: relative;
        padding: 7px 8px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 0 4px 4px 0;
        color: $TextFillColorPrimary;
    }
}

