.theme-dark .button_afdfd9{
    border-radius: 4px;
    @include TypeBody;

    // Sizes
    &.sizeMin__94642, // eg. Add server 'back' buttons
    &.sizeSmall__71a98,
    &.sizeMedium_c6fa98, // eg. Create new server
    &.sizeLarge__9049d, // eg. Add a keybind
    &.sizeXlarge__53ea0{ // eg. Untrusted link modal
        min-width: 120px;
        min-height: 32px;
        height: 32px;
    }

    // Filled buttons
    &.lookFilled__19298{
        // Brand buttons
        &.colorBrand_b2253e,
        &.colorGreen__5f181, // Join server terms modal
        &.colorBrandNew_fd170a{ // eg. User Settings > Accessibility > TTS Rate
            background-color: $AccentFillColorDefault;
            border-width: 1px;
            border-style: inset;
            border-color: $AccentControlElevationBorder;
            color: $TextOnAccentFillColorPrimary;
            &:hover{
                background-color: $AccentFillColorSecondary;
            }
            &:active{
                background-color: $AccentFillColorTertiary;
            }
        }
        // Grey
        &.colorPrimary__6ed40,
        &.buttonColor__6f6b0, // "Example Button" in User Settings>Profile
        &.buttonColor-28DXIe{ // Voice screen invite button
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }

        // Red
        &.colorRed_d6b062{
            background-color: $SystemFillColorCriticalBackground;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextOnAccentFillColorPrimary;
            }
        }

        // Disabled
        // eg. Add game popout
        &:disabled{
            background-color: $ControlFillColorDisabled;
            color: $TextFillColorDisabled;
            pointer-events: none;
        }
    }

    // Outlined
    &.lookOutlined__46d54{
        &.colorBrand_b2253e{ // eg. Request Data
            border-color: $ControlStrokeColorDefault;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
        &.colorRed_d6b062{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextFillColorPrimary;
            }
        }
    }

    // Blank
    &.lookBlank__7ca0a{ // eg. Add server 'back' buttons
        color: $TextFillColorPrimary;
        &.backButton__576ea{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }

    // Link button
    &.lookLink__93965{ // eg. Reveal email button
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
            .contents_fb6220{
                background-image: none;
            }
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Button with loading ellipses (Server Settings > Save changes)
    &.submitting_df2bfa{
        .spinner__97e4c{
            display: flex;
        }
    }

    // Animations
    .buttonShine__0be03{
        display: none;
    }
}
