.theme-dark .button__581d0{
    border-radius: 4px;
    @include TypeBody;

    // Sizes
    &.sizeMin__508da, // eg. Add server 'back' buttons
    &.sizeSmall_da7d10,
    &.sizeMedium__60c12, // eg. Create new server
    &.sizeLarge_b395a7, // eg. Add a keybind
    &.sizeXlarge__6885c{ // eg. Untrusted link modal
        min-width: 120px;
        min-height: 32px;
        height: 32px;
    }

    // Filled buttons
    &.lookFilled__950dd{
        // Brand buttons
        &.colorBrand__27d57,
        &.colorGreen__75c93, // Join server terms modal
        &.colorBrandNew__8872c{ // eg. User Settings > Accessibility > TTS Rate
            background-color: $AccentFillColorDefault;
            border-width: 1px;
            border-style: inset;
            border-color: $AccentControlElevationBorder;
            color: $TextOnAccentFillColorPrimary;
            &:hover{
                background-color: $AccentFillColorSecondary;
            }
            &:active{
                background-color: $AccentFillColorTertiary;
            }
        }
        // Grey
        &.colorPrimary_ebe632,
        &.buttonColor__8c13f, // "Example Button" in User Settings>Profile
        &.buttonColor-28DXIe{ // Voice screen invite button
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }

        // Red
        &.colorRed__5a617{
            background-color: $SystemFillColorCriticalBackground;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextOnAccentFillColorPrimary;
            }
        }

        // Disabled
        // eg. Add game popout
        &:disabled{
            background-color: $ControlFillColorDisabled;
            color: $TextFillColorDisabled;
            pointer-events: none;
        }
    }

    // Outlined
    &.lookOutlined__014b5{
        &.colorBrand__27d57{ // eg. Request Data
            border-color: $ControlStrokeColorDefault;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
        &.colorRed__5a617{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextFillColorPrimary;
            }
        }
    }

    // Blank
    &.lookBlank_a5b4ca{ // eg. Add server 'back' buttons
        color: $TextFillColorPrimary;
        &.backButton__68a1c{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }

    // Link button
    &.lookLink_a2da25{ // eg. Reveal email button
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
            .contents__322f4{
                background-image: none;
            }
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Button with loading ellipses (Server Settings > Save changes)
    &.submitting__91002{
        .spinner__6ee08{
            display: flex;
        }
    }

    // Animations
    .buttonShine_fb742e{
        display: none;
    }
}
