.theme-dark .menu-2TXYjN{
    min-width: 280px;
    background: $AcrylicBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
    @include Elevation32;
    position: relative;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(8px);
        border-radius: 8px;
    }

    .scroller-nxCRu_{
        padding: 4px 8px;
        max-height: calc(100vh - 64px);
    }

    // Separators
    .separator-12G2Op{
        margin: 10px 4px;
        border-bottom-color: $DividerStrokeColorDefault;
    }

    // Item
    .item-5ApiZt{
        min-height: 34px;
        margin: 2px 0 2px -4px;
        padding: 4px 12px;
        border-radius: 4px;
        @include TypeBody;
        color: $TextFillColorPrimary;
        transition: background-color $AnimationFadeInOut;
        &.focused-3LIdPu{
            background-color: $SubtleFillColorSecondary;
            transition: background-color $AnimationFadeInOut;
        }
        &.colorDanger-3umuSx{
            color: $SystemFillColorCritical;
        }
        &.disabled--8Sav3{
            color: $TextFillColorDisabled;
            opacity: 1;
        }

        // Icons
        &::before{
            padding-right: 12px;
            @include FontIconFluent;
            font-size: 16px;
        }

        // Remove subtext on Spotify menu items
        &[id*="spotify"],
        &[id*="listen"]{
            .subtext-1mqKVB{
                display: none;
            }
        }

        // Remove left margin from 'Upload file' option
        .optionName-1ebPjH{
            margin: 0;
        }

        // Fix font size in upload menu
        .optionLabel-1o-h-l{
            @include TypeBody;
        }

        // Items with subtext
        .subtext-1mqKVB{
            margin-top: 0;
            @include TypeCaption;
            color: $TextFillColorSecondary;
            strong{
                font-weight: normal;
            }
        }

        // Remove Discord icons, unless it's a checkbox
        &:not([role="menuitemcheckbox"]):not([role="menuitemradio"]){
            .icon-3XHs8t{
                display: none;
            }
        }
        // Remove icons from upload/attach menu
        .optionIcon-1Ft8w0{
            display: none;
        }

        // Fix grabber position
        .grabber-3R-Rx9{
            margin-top: -0px;
        }
    }

    // Emoji items
    .button-1zW0-r{
        width: 24px;
        height: 24px;
        background-color: transparent;
        &.focused-H4w81f{
            background-color: $SubtleFillColorSecondary;
            box-shadow: none;
        }
        .icon-Yl4xbA{
            width: 18px;
            height: 18px;

        }
    }

    .submenu-1apzyU{
        min-width: 240px;
        background-color: $AcrylicBackgroundFillColorDefault;
        border: 1px solid $SurfaceStrokeColorDefault;
        position: relative;
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backdrop-filter: blur(8px);
        }
    }
}
