.theme-dark .menu-1QACrS{
    min-width: 240px;
    background-color: rgba($color: #2d2d2d, $alpha: .93);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 4px;
    position: relative;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);
        border-radius: 4px;
    }

    .scroller-1bVxF5{
        // padding: 0 8px;
        max-height: calc(100vh - 64px);
    }

    // Separators
    .separator-1So4YB{
        margin: 10px 4px;
        border-bottom-color: $DividerStrokeColorDefault;
    }

    // Item
    .item-1OdjEX{
        min-height: 34px;
        margin: 2px 0 2px -4px;
        padding: 0 12px;
        border-radius: 4px;
        @include TypeBody;
        color: $TextFillColorPrimary;
        &.focused-3qFvc8{
            background-color: $CardBackgroundFillColorSecondary;
        }
        &.colorDanger-3n-KnP{
            color: $SystemFillColorCritical;
        }
        &.disabled-oOAXat{
            color: $TextFillColorDisabled;
            opacity: 1;
        }

        // Icons
        &::before{
            padding-right: 12px;
            @include FontIconFluent;
            font-size: 16px;
        }

        // Remove subtext on Spotify menu items
        &[id*="spotify"],
        &[id*="listen"]{
            .subtext-2GlkbE{
                display: none;
            }
        }

        // Remove left margin from 'Upload file' option
        .optionName-1ebPjH{
            margin: 0;
        }

        // Items with subtext
        .subtext-2GlkbE{
            margin-top: 0;
            @include TypeCaption;
            color: $TextFillColorSecondary;
            strong{
                font-weight: normal;
            }
        }

        // Remove Discord icons
        .icon-E4cW1l{
            display: none;
        }
        // Remove icons from upload/attach menu
        .optionIcon-1Ft8w0{
            display: none;
        }
    }

    // Emoji items
    .button-1zW0-r{
        width: 24px;
        height: 24px;
        background-color: $CardBackgroundFillColorSecondary;
        &.focused-H4w81f{
            background-color: $CardBackgroundFillColorSecondary;
            box-shadow: none;
        }
        .icon-Yl4xbA{
            width: 18px;
            height: 18px;

        }
    }

    // Volume slider
    .sliderContainer-2nidiS{
        padding: 0;
    }
    .slider-1NC-Gf.mini-2qY9iv{
        .bar-1Bhnl9{
            height: 3px;
            background-color: $ControlStrongStrokeColorDefault;
            border-radius: 2px;
        }
        .barFill-2Bh7CX{
            height: 3px;
            position: absolute;
            background-color: $AccentBase;
            border-radius: 2px;
        }
        .grabber-2GQyvM{
            width: 12px;
            height: 12px;
            margin-top: -1px;
            background-color: $AccentBase;
            border: 4px solid #454545;
            &:hover{
                width: 14px;
                height: 14px;
                border: 3px solid #454545;
            }
            &:active{
                width: 10px;
                height: 10px;
                border: 5px solid #454545;
            }
        }
    }

    .submenu-1apzyU{
        min-width: 240px;
        background-color: rgba($color: #2d2d2d, $alpha: .95);
        border: 1px solid $SurfaceStrokeColorFlyout;
        position: relative;
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backdrop-filter: blur(10px);
        }
    }
}
