.theme-dark .c1e9c47c23f12ca3-menu{
    min-width: 280px;
    background: $AcrylicBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
    @include Elevation32;
    position: relative;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(8px);
        border-radius: 8px;
    }

    .c1e9c47c23f12ca3-scroller{
        padding: 4px 8px;
        max-height: calc(100vh - 64px);
    }

    // Separators
    .c1e9c47c23f12ca3-separator{
        margin: 10px 4px;
        border-bottom-color: $DividerStrokeColorDefault;
    }

    // Item
    .c1e9c47c23f12ca3-item{
        min-height: 34px;
        margin: 2px 0 2px -4px;
        padding: 4px 12px;
        border-radius: 4px;
        @include TypeBody;
        color: $TextFillColorPrimary;
        transition: background-color $AnimationFadeInOut;
        &.c1e9c47c23f12ca3-focused{
            background-color: $SubtleFillColorSecondary;
            transition: background-color $AnimationFadeInOut;
        }
        &.c1e9c47c23f12ca3-colorDanger{
            color: $SystemFillColorCritical;
        }
        &.c1e9c47c23f12ca3-disabled{
            color: $TextFillColorDisabled;
            opacity: 1;
        }

        // Icons
        &::before{
            padding-right: 12px;
            @include FontIconFluent;
            font-size: 16px;
        }

        // Remove subtext on Spotify menu items
        &[id*="spotify"],
        &[id*="listen"]{
            .c1e9c47c23f12ca3-subtext{
                display: none;
            }
        }

        // Remove left margin from 'Upload file' option
        ._778207026e0e04d5-optionName{
            margin: 0;
        }

        // Fix font size in upload menu
        ._778207026e0e04d5-optionLabel{
            @include TypeBody;
        }

        // Items with subtext
        .c1e9c47c23f12ca3-subtext{
            margin-top: 0;
            @include TypeCaption;
            color: $TextFillColorSecondary;
            strong{
                font-weight: normal;
            }
        }

        // Remove Discord icons, unless it's a checkbox
        &:not([role="menuitemcheckbox"]):not([role="menuitemradio"]):not([id^="message-add-reaction"]){
            .c1e9c47c23f12ca3-icon{
                display: none;
            }
        }
        // Remove icons from upload/attach menu
        ._778207026e0e04d5-optionIcon{
            display: none;
        }
    }

    // Emoji items
    .f563df886a7377be-button{
        width: 24px;
        height: 24px;
        background-color: transparent;
        &.f563df886a7377be-focused{
            background-color: $SubtleFillColorSecondary;
            box-shadow: none;
        }
        .f563df886a7377be-icon{
            width: 18px;
            height: 18px;

        }
    }
}
