// Radio groups
.theme-dark div[role=radiogroup]{
    background-color: $SystemFillColorAttentionBackground;
    border: 1px solid $CardStrokeColorDefault;
    border-radius: 4px;
    .item_b7fb7e{
        margin-bottom: 0;
        border: 1px solid transparent;
        border-radius: 4px;
        &.itemFilled__5a849{
            background-color: transparent;
        }
        &[aria-checked=true]{
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
        }

        // Privacy & Safety
        // Remove coloured bars on left side
        .radioBar__70669{
            border: 0;
        }

        .info__05cbd{
            grid-gap: 0;
            .text-md-medium_a84e09{
                @include TypeBody;
            }

            // Fixes for create channel modal
            .radioText-3Mv1MY{
                color: $TextFillColorPrimary;
                &.size16-rrJ6ag{
                    @include TypeBodyStrong;
                }
                &.size12-oc4dx4{
                    @include TypeBody;
                }
            }
            // Fixes for Privacy settings
            .text-md-medium_a84e09{
                @include TypeBodyStrong;
                color: $TextFillColorPrimary;
            }
            .text-sm-normal__95a78{
                @include TypeCaption;
                color: $TextFillColorSecondary;
            }
        }
    }
}

// Toggle switch
.theme-dark .control__6a084{
    .container__2ed72{
        background-color: transparent !important; // Override inline
        svg{
            display: none;
        }
    }
    .input__3e05b{
        width: 40px;
        height: 20px;
        margin: 0;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 10px;
        appearance: none;
        opacity: 1;
        &::before{
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            top: 3px;
            left: 3px;
            background-color: $TextFillColorSecondary;
            border-radius: 6px;
        }
        &:hover{
            background-color: $ControlAltFillColorTertiary;
            &::before{
                transform: scale(1.167);
                transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
            }
        }
        &:checked{
            background-color: $AccentTextFillColorPrimary;
            border-color: $AccentTextFillColorPrimary;
            &::before{
                left: 24px;
                background-color: $TextOnAccentFillColorPrimary;
                transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
            }
        }
    }
}

// Checkbox (in settings UI)
.theme-dark .checkboxWrapper_a2bcc8{
    .input__52838,
    .box-qwm0Q_{
        width: 18px;
        height: 18px;
        position: relative;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 4px;
        appearance: none;
        opacity: 1;
        &:hover{
            background-color: $ControlAltFillColorTertiary;
        }
        svg{
            display: none;
        }
    }
    &.checked__16f88{
        .input__52838,
        .box-qwm0Q_{
            background-color: $AccentTextFillColorPrimary !important;
            border-color: $AccentTextFillColorPrimary !important;
            &:hover{
                background-color: $AccentTextFillColorSecondary !important;
            }
            &::before{
                content: "\E001"; // CheckMark(Private)
                position: absolute;
                top: 3px;
                left: 3px;
                @include FontIconFluent;
                font-size: 16px;
            }
        }
    }
    .checkbox_fcf2ad{
        display: none;
    }
}
// Checkbox (in context menu)
.theme-dark .menu__088f7 .item__183e8[role="menuitemcheckbox"]{
    .iconContainer__5d61c{
        width: 18px;
        height: 18px;
        position: relative;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 4px;

        svg{
            display: none;
        }
    }
    &[aria-checked=true] .iconContainer__5d61c{
        background-color: $AccentTextFillColorPrimary;
        border-color: $AccentTextFillColorPrimary;
        color: $TextOnAccentFillColorPrimary;
        &::before{
            content: "\E001"; // CheckMark(Private)
            position: absolute;
            top: -1px;
            left: 1px;
            @include FontIconFluent;
            font-size: 16px;
        }
    }
    &:hover .iconContainer__5d61c{
        background-color: $ControlAltFillColorTertiary;
    }
    &[aria-checked=true]:hover .iconContainer__5d61c{
        background-color: $AccentTextFillColorSecondary;
    }
}

// Textbox with emoji button (set custom status modal)
.theme-dark .inputContainer__50c76{
    .emojiButtonContainer__58b36{
        right: 0;
        left: unset;
        ~ .inputWrapper_ecb776{
            .input_f27786{
                padding-right: 40px;
            }
        }
    }
}
