// Radio groups
.theme-dark div[role=radiogroup]{
    background-color: $SystemFillColorAttentionBackground;
    border: 1px solid $CardStrokeColorDefault;
    border-radius: 4px;
    .item-2idW98{
        margin-bottom: 0;
        border: 1px solid transparent;
        border-radius: 4px;
        &.itemFilled-1cPbtg{
            background-color: transparent;
        }
        &[aria-checked=true]{
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
        }

        // Privacy & Safety
        // Remove coloured bars on left side
        .radioBar-3w9XY-{
            border: 0;
        }

        .info-2FZci4{
            grid-gap: 0;
            .radioText-3Mv1MY{ // See create channel modal
                color: $TextFillColorPrimary;
                &.size16-rrJ6ag{
                    @include TypeBodyStrong;
                }
                &.size12-oc4dx4{
                    @include TypeBody;
                }
            }
            .title-1yyp9V{
                @include TypeBodyStrong;
                color: $TextFillColorPrimary;
            }
            .size14-3fJ-ot{
                @include TypeCaption;
                color: $TextFillColorSecondary;
            }
        }
    }
}
