// Radio groups
.theme-dark div[role=radiogroup]{
    background-color: $SystemFillColorAttentionBackground;
    border: 1px solid $CardStrokeColorDefault;
    border-radius: 4px;
    ._88a69141dd70013a-item{
        margin-bottom: 0;
        border: 1px solid transparent;
        border-radius: 4px;
        &._88a69141dd70013a-itemFilled{
            background-color: transparent;
        }
        &[aria-checked=true]{
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
        }

        // Privacy & Safety
        // Remove coloured bars on left side
        ._88a69141dd70013a-radioBar{
            border: 0;
        }

        ._88a69141dd70013a-info{
            grid-gap: 0;
            .text-md-medium_a84e09{
                @include TypeBody;
            }

            // Fixes for create channel modal
            .radioText-3Mv1MY{
                color: $TextFillColorPrimary;
                &.size16-rrJ6ag{
                    @include TypeBodyStrong;
                }
                &.size12-oc4dx4{
                    @include TypeBody;
                }
            }
            // Fixes for Privacy settings
            .text-md-medium_a84e09{
                @include TypeBodyStrong;
                color: $TextFillColorPrimary;
            }
            .text-sm-normal__95a78{
                @include TypeCaption;
                color: $TextFillColorSecondary;
            }
        }
    }
}

// Toggle switch
.theme-dark ._3f21e80f8677ec40-container{
    background-color: transparent !important; // Override inline
    border: 0;
    svg{
        display: none;
    }
}
._3f21e80f8677ec40-input{
    width: 40px;
    height: 20px;
    margin: 0;
    background-color: $ControlAltFillColorSecondary;
    border: 1px solid $ControlStrongFillColorDefault;
    border-radius: 10px;
    appearance: none;
    opacity: 1;
    &::before{
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: 3px;
        background-color: $TextFillColorSecondary;
        border-radius: 6px;
    }
    &:hover{
        background-color: $ControlAltFillColorTertiary;
        &::before{
            transform: scale(1.167);
            transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
        }
    }
    &:checked{
        background-color: $AccentTextFillColorPrimary;
        border-color: $AccentTextFillColorPrimary;
        &::before{
            left: 24px;
            background-color: $TextOnAccentFillColorPrimary;
            transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
        }
    }
}


// Checkbox (in settings UI)
.theme-dark .checkboxWrapper_f525d3{
    .input_f525d3,
    .box_f525d3{
        width: 18px;
        height: 18px;
        position: relative;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 4px;
        appearance: none;
        opacity: 1;
        &:hover{
            background-color: $ControlAltFillColorTertiary;
        }
        svg{
            display: none;
        }
    }
    &.checked_f525d3{
        .input_f525d3,
        .box_f525d3{
            background-color: $AccentTextFillColorPrimary !important;
            border-color: $AccentTextFillColorPrimary !important;
            &:hover{
                background-color: $AccentTextFillColorSecondary !important;
            }
            &::before{
                content: "\E001"; // CheckMark(Private)
                position: absolute;
                top: 3px;
                left: 3px;
                @include FontIconFluent;
                font-size: 16px;
            }
        }
    }
    .checkbox_f525d3{
        display: none;
    }
}
// Checkbox (in context menu)
.theme-dark .c1e9c47c23f12ca3-menu .c1e9c47c23f12ca3-item[role="menuitemcheckbox"]{
    .c1e9c47c23f12ca3-iconContainer{
        width: 18px;
        height: 18px;
        position: relative;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 4px;
        .checkbox_f525d3 {
            display: none;
        }
    }
    &[aria-checked=true] .c1e9c47c23f12ca3-iconContainer{
        background-color: $AccentTextFillColorPrimary;
        border-color: $AccentTextFillColorPrimary;
        color: $TextOnAccentFillColorPrimary;
        &::before{
            content: "\E001"; // CheckMark(Private)
            position: absolute;
            top: -1px;
            left: 1px;
            @include FontIconFluent;
            font-size: 16px;
        }
    }
    &:hover .c1e9c47c23f12ca3-iconContainer{
        background-color: $ControlAltFillColorTertiary;
    }
    &[aria-checked=true]:hover .c1e9c47c23f12ca3-iconContainer{
        background-color: $AccentTextFillColorSecondary;
    }
}

// Textbox with emoji button (set custom status modal)
.theme-dark .inputContainer__9b8f6{
    .emojiButtonContainer__9b8f6{
        right: 0;
        left: unset;
        ~ ._0ed4fc708cdbac0d-inputWrapper{
            ._0ed4fc708cdbac0d-input{
                padding-right: 40px;
            }
        }
    }
}
