// Radio groups
.theme-dark div[role=radiogroup]{
    background-color: $SystemFillColorAttentionBackground;
    border: 1px solid $CardStrokeColorDefault;
    border-radius: 4px;
    .item-1TA5qI{
        margin-bottom: 0;
        border: 1px solid transparent;
        border-radius: 4px;
        &.itemFilled-2Fo7lr{
            background-color: transparent;
        }
        &[aria-checked=true]{
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
        }

        // Privacy & Safety
        // Remove coloured bars on left side
        .radioBar-1XgZqD{
            border: 0;
        }

        .info-2FZci4{
            grid-gap: 0;
            .radioText-3Mv1MY{ // See create channel modal
                color: $TextFillColorPrimary;
                &.size16-rrJ6ag{
                    @include TypeBodyStrong;
                }
                &.size12-oc4dx4{
                    @include TypeBody;
                }
            }
            .title-1yyp9V{
                @include TypeBodyStrong;
                color: $TextFillColorPrimary;
            }
            .size14-3fJ-ot{
                @include TypeCaption;
                color: $TextFillColorSecondary;
            }
            .text-md-medium-2avxhQ{ // Used in Safe Direc Messaging
                @include TypeBody;
            }
        }
    }
}

// Toggle switch
.theme-dark .control-10qYax{
    .container-1QtPKm{
        background-color: transparent !important; // Override inline
        svg{
            display: none;
        }
    }
    .input-125oad{
        width: 40px;
        height: 20px;
        margin: 0;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 10px;
        appearance: none;
        opacity: 1;
        &::before{
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            top: 3px;
            left: 3px;
            background-color: $TextFillColorSecondary;
            border-radius: 6px;
        }
        &:hover{
            background-color: $ControlAltFillColorTertiary;
            &::before{
                transform: scale(1.167);
                transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
            }
        }
        &:checked{
            background-color: $AccentTextFillColorPrimary;
            border-color: $AccentTextFillColorPrimary;
            &::before{
                left: 24px;
                background-color: $TextOnAccentFillColorPrimary;
                transition: left 187ms cubic-bezier(0.55, 0.55, 0, 1);
            }
        }
    }
}

// Radio button
.theme-dark .item-1TA5qI{
    .radioBar-1XgZqD{
        padding: 12px 24px !important;
        // Label
        .info-3cKxwI{
            .text-md-medium-2n7Vn5{
                @include TypeBody;
                color: $TextFillColorPrimary;
            }
            .text-sm-normal-AEQz4v{
                @include TypeCaption;
                color: $TextFillColorSecondary;
            }
        }

        // Apply our own radio button
        > div:first-child{
            width: 18px;
            min-width: 18px;
            height: 18px;
            position: relative;
            background-color: $ControlAltFillColorSecondary;
            border: 1px solid $ControlStrongFillColorDefault;
            border-radius: 50%;
            &:hover{
                background-color: $ControlAltFillColorTertiary;
            }
            svg{
                display: none;
            }
        }
    }
    &[aria-checked=true] .radioBar-1XgZqD{
        > div:first-child{
            background-color: $AccentTextFillColorPrimary;
            border-color: $AccentTextFillColorPrimary;
            &:hover{
                background-color: $AccentTextFillColorSecondary;
                &::before{
                    transform: scale(1.167);
                }
            }
            &::before{
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                top: calc(50% - 5px);
                left: calc(50% - 5px);
                background-color: $TextOnAccentFillColorPrimary;
                border-radius: 50%;
            }
        }
    }

    &:hover{
        .radioBar-1XgZqD > div:first-child{
            background-color: $ControlAltFillColorTertiary;
        }
    }
    &[aria-checked=true]:hover{
        .radioBar-1XgZqD > div:first-child{
            background-color: $AccentTextFillColorSecondary;
            &::before{
                transform: scale(1.167);
            }
        }
    }
}

// Checkbox (in settings UI)
.theme-dark .checkboxWrapper-3zdYym{
    .input-1y_Uys{
        width: 18px;
        height: 18px;
        position: relative;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 4px;
        appearance: none;
        opacity: 1;
        &:hover{
            background-color: $ControlAltFillColorTertiary;
        }
    }
    &.checked-22NTbO{
        .input-1y_Uys{
            background-color: $AccentTextFillColorPrimary;
            border-color: $AccentTextFillColorPrimary;
            &:hover{
                background-color: $AccentTextFillColorSecondary;
            }
            &::before{
                content: "\E001"; // CheckMark(Private)
                position: absolute;
                top: 3px;
                left: 3px;
                @include FontIconFluent;
                font-size: 16px;
            }
        }
    }
    .checkbox-1LuCGM{
        display: none;
    }
}
// Checkbox (in context menu)
.theme-dark .menu-2TXYjN .item-5ApiZt[role="menuitemcheckbox"]{
    .iconContainer-Ksy8Oj{
        width: 18px;
        height: 18px;
        position: relative;
        background-color: $ControlAltFillColorSecondary;
        border: 1px solid $ControlStrongFillColorDefault;
        border-radius: 4px;

        svg{
            display: none;
        }
    }
    &[aria-checked=true] .iconContainer-Ksy8Oj{
        background-color: $AccentTextFillColorPrimary;
        border-color: $AccentTextFillColorPrimary;
        color: $TextOnAccentFillColorPrimary;
        &::before{
            content: "\E001"; // CheckMark(Private)
            position: absolute;
            top: -1px;
            left: 1px;
            @include FontIconFluent;
            font-size: 16px;
        }
    }
    &:hover .iconContainer-Ksy8Oj{
        background-color: $ControlAltFillColorTertiary;
    }
    &[aria-checked=true]:hover .iconContainer-Ksy8Oj{
        background-color: $AccentTextFillColorSecondary;
    }
}
// Checkbox (in partner programme (server settings))
.inputReadonly-2iSlw6{
    z-index: 1;
    width: 22px !important;
    height: 22px !important;
}

// Textbox with emoji button (set custom status modal)
.theme-dark .inputContainer-3envCr{
    .emojiButtonContainer-gCE6AT{
        right: 0;
        left: unset;
        ~ .inputWrapper-1YNMmM{
            .input-3AAlUz{
                padding-right: 40px;
            }
        }
    }
}
