.theme-dark .title-3hptVQ{
    color: $TextFillColorPrimary;
    @include TypeBody;
    text-transform: none;
}
.theme-dark .input-2g-os5{
    height: 32px;
    background-color: transparent;
    border: 1px solid;
    border-bottom-width: 2px;
    border-radius: 4px;
    @include TypeBody;
    background-color: $ControlFillColorDefault;
    color: $TextFillColorSecondary;
    border-color: $ControlElevationBorder;

    // Sizing
    &.inputDefault-3FGxgL{
        padding: 0 12px;
        // height: 32px;
    }

    &:hover{
        border-color: $ControlStrokeColorSecondary;
    }
    &:focus{
        background-color: $ControlFillColorInputActiveBrush;
        color: $TextFillColorPrimary;
        border-color: $ControlElevationBorder;
        border-bottom-color: $AccentBase;
    }
    &::placeholder{
        color: $TextFillColorSecondary;
    }

    &.textArea-3WXAeD,
    &.textarea-_59yqs{
        padding: 4px 12px;
    }
}
// Create channel prefix
.theme-dark .inputPrefix-1HHwWv{
    top: 8px;
    ~ .input-2g-os5{
        padding-left: 32px !important;
    }
}

// Select
.theme-dark{
    .select-1Ia3hD{
        padding: 3px 8px 3px 12px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlElevationBorder;
        @include TypeBody;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
    }

    // Options popout
    .popout-1KHNAq{
        background: $SolidbackgroundFillColorQuarternary;
        border: 1px solid $SurfaceStrokeColorFlyout;
        .option-2eIyOn{
            min-height: 32px;
            margin: 4px;
            padding: 8px;
            @include TypeBody;
            color: $TextFillColorPrimary;
            position: relative;
            &:hover{
                background-color: $SubtleFillColorSecondary;
                border-radius: 4px;
            }
            &[aria-selected=true]{
                background-color: transparent;

                &::before{
                    content: "";
                    width: 3px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    margin-top: -8px;
                    left: 0;
                    background-color: $AccentBase;
                    border-radius: 2px;
                }
                &:hover{
                    background-color: $SubtleFillColorSecondary;
                    border-radius: 4px;
                }
                .selectedIcon-19TbzU{
                    display: none;
                }
            }
        }
    }
}

// Keybind
.theme-dark .container-30qY7E{
    height: 32px;
    background-color: $ControlFillColorDefault;
    border: 1px solid $ControlElevationBorder;
    border-radius: 4px;
    .button-ZJ9ZzX{
        min-height: calc(32px - 6px);
        height: calc(32px - 6px);
        margin: 2px;
    }
}

// Slider
.slider-1NC-Gf{
    .bar-1Bhnl9{
        height: 3px;
        background-color: $ControlStrongStrokeColorDefault;
        border-radius: 2px;
    }
    .barFill-2Bh7CX{
        height: 3px;
        position: absolute;
        background-color: $AccentBase;
        border-radius: 2px;
    }
    .grabber-2GQyvM{
        width: 18px;
        height: 18px;
        margin-top: -11px;
        background-color: $AccentBase;
        border: 4px solid #454545;
        border-radius: 50%;
        &:hover{
            width: 18px;
            height: 18px;
            border: 3px solid #454545;
        }
        &:active{
            width: 18px;
            height: 18px;
            border: 5px solid #454545;
        }
    }
}
