.theme-dark .title-3hptVQ{
    color: $TextFillColorPrimary;
    @include TypeBody;
    text-transform: none;
}

// NOTE: 2022-03-26 - hiddenDiv-2qTqSF is used in the credit card field. See #99
.theme-dark .input-2g-os5:not(.hiddenDiv-2qTqSF){
    height: 32px;
    background-color: $ControlFillColorDefault;
    border: 1px solid;
    border-bottom-width: 2px;
    border-color: $ControlStrokeColorDefault;
    border-radius: 4px;
    @include TypeBody;
    color: $TextFillColorSecondary;

    // Sizing
    &.inputDefault-3FGxgL{
        padding: 0 12px;
        // height: 32px;
    }

    &:hover{
        border-color: $ControlStrokeColorSecondary;
    }
    &:focus{
        background-color: $ControlFillColorInputActiveBrush;
        color: $TextFillColorPrimary;
        border-color: $ControlStrokeColorDefault;
        border-bottom-color: $AccentBase;
    }
    &::placeholder{
        color: $TextFillColorSecondary;
    }

    &.textArea-3WXAeD,
    &.textarea-_59yqs{
        padding: 4px 12px;
    }
}
// Create channel prefix
.theme-dark .inputPrefix-1HHwWv{
    top: 8px;
    ~ .input-2g-os5{
        // TODO - 2022-06-08: Resolve this conflict
        padding-left: 32px !important; // Conflicts with .theme-dark .input-2g-os5:not(.hiddenDiv-2qTqSF)
    }
}

// Multi inline field
// Change username modal
.theme-dark .multiInput-1VARjC{
    &.input-2g-os5{
        background-color: transparent;
        border: none;
    }
    .multiInputLast-35zVz0{
        margin-left: 4px;
        &::before{
            display: none;
        }
    }
    .inputPrefix-1VU7MB{
        display: none;
    }
    // Remove Nitro promotion
    .questionMark-3V9mGJ{
        display: none;
    }
}

// Select
.theme-dark{
    .select-1Ia3hD{
        padding: 3px 8px 3px 12px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        @include TypeBody;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
    }

    // Options popout
    .popout-1KHNAq{
        background: $SolidbackgroundFillColorQuarternary;
        border: 1px solid $SurfaceStrokeColorFlyout;
        .option-2eIyOn{
            min-height: 32px;
            margin: 4px;
            padding: 8px;
            @include TypeBody;
            color: $TextFillColorPrimary;
            position: relative;
            &:hover{
                background-color: $SubtleFillColorSecondary;
                border-radius: 4px;
            }
            &[aria-selected=true]{
                background-color: transparent;

                &::before{
                    content: "";
                    width: 3px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    margin-top: -8px;
                    left: 0;
                    background-color: $AccentBase;
                    border-radius: 2px;
                }
                &:hover{
                    background-color: $SubtleFillColorSecondary;
                    border-radius: 4px;
                }
                .selectedIcon-19TbzU{
                    display: none;
                }
            }
        }
    }
}

// Keybind
.theme-dark .container-30qY7E{
    height: 32px;
    background-color: $ControlFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
    border-radius: 4px;
    .button-ZJ9ZzX{
        min-height: calc(32px - 6px);
        height: calc(32px - 6px);
        margin: 2px;
    }
}

// Slider
.slider-1NC-Gf{
    .bar-1Bhnl9{
        height: 3px;
        background-color: $ControlStrongStrokeColorDefault;
        border-radius: 2px;
    }
    .barFill-2Bh7CX{
        height: 3px;
        position: absolute;
        background-color: $AccentBase;
        border-radius: 2px;
    }
    .grabber-2GQyvM{
        width: 18px;
        height: 18px;
        margin-top: -11px;
        background-color: $AccentBase;
        border: 4px solid #454545;
        border-radius: 50%;
        &:hover{
            width: 18px;
            height: 18px;
            border: 3px solid #454545;
        }
        &:active{
            width: 18px;
            height: 18px;
            border: 5px solid #454545;
        }
    }
}

// Text toolbar
.theme-dark .toolbar-37BrJ5{
    padding: 4px;
    background: $AcrylicBackgroundFillColorDefault;
    backdrop-filter: blur(10px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    // Remove arrow
    &::before{
        display: none;
    }

    button{
        margin-right: 4px;
        &:hover{
            background-color: $SubtleFillColorSecondary;
            &.active-136ioF{
                background-color: $AccentTextFillColorSecondary;
            }
        }
        &:last-child{
            margin-right: 0;
        }
        &.active-136ioF{
            background-color: $AccentFillColorDefault;
            .icon-3g7qdA{
                color: $TextOnAccentFillColorPrimary;
            }
        }

        .buttonInner-1RE0NV,
        .icon-3g7qdA{
            width: 16px;
            height: 16px;
        }

    }
}

// Copy box
.copyInput-3AbKWB{
    height: 42px;
    margin-bottom: 8px;
    background-color: $ControlFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
    border-radius: 4px;
    .input-2QVoG3{
        @include TypeBody;
    }
}

// Search
// Found in Server settings: Roles, Bans, Members
.container-2oNtJn{
    background-color: transparent;
}
