// Channels, members, settings nav
.theme-dark .thin-31rlnD{
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Chat
.theme-dark .auto-2TJ1RH{
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Giphy/Tenor search popout
.theme-dark .scrollbarGhostHairline-2LpzZ9{
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}
