// Channels, members, settings nav
.theme-dark .thin_b1c063{
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Chat
.theme-dark .auto__020ac{
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Giphy/Tenor search popout
.theme-dark .scrollbarGhostHairline__00100{
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}
