// Channels, members, settings nav
.theme-dark .d125d22cdfd32cfe-thin, // Settings nav
.theme-dark ._99f8cc7ad4790ce9-thin{ // Channels
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Chat
.theme-dark .d125d22cdfd32cfe-auto{
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-track{
        margin-bottom: 8px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-clip: padding-box;
        border: 4px solid transparent;
        background-color: $ControlStrongFillColorDefault;
    }
}

// Giphy/Tenor search popout
.theme-dark ._506b39a96c2f8884-scrollbarGhostHairline{
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Chatbox
.theme-dark ._740174f3d6a2c8fe-scrollableContainer{
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb{
        border-width: 2px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}
