.theme-dark .bar_c38106{
    .title_c38106{
        justify-content: flex-start;
        left: 8px;
        &::before{
            content: "Discord";
            color: $TextFillColorSecondary;
        }
        .title_edbb22{
            display: none;
        }
    }



    // Remove help button
    .trailing_c38106{
        gap: 0;
        a.anchor_edefb8{
            display: none;
        }
    }
    // Inbox
    .clickable_c99c29{
        width: 46px;
        height: 32px;
        margin: 0;
        justify-content: center;
        &::before{
            content: "\E715"; // Mail
            @include FontIconFluent;
        }
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &[aria-expanded=true]{
            background-color: $ControlFillColorTertiary;
        }
        svg{
            display: none;
        }
    }

    // window controls
    .winButtons_c38106{
        gap: 0;
        &.winButtonsWithDivider_c38106::before{
            content: unset;
        }
    }
    .winButton_c38106{
        width: 46px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }

        // Close button
        &.winButtonClose_c38106{
            &:hover{
                background-color: #C42B1C;
            }
            &:active{
                background-color: rgba(#C42B1C, 90%);
            }

        }
    }
}


// Change titlebar name and controls colour when app is focused
html.theme-dark.app-focused{
    .title_c38106::before{
        color: $TextFillColorPrimary;
    }
    .winButton_c38106{
        color: $TextFillColorPrimary;
    }
    .clickable_c99c29::before{
        color: $TextFillColorPrimary;
    }
}

// Make titlebar height 32px
.visual-refresh{
    --custom-app-top-bar-height: calc(20px + var(--space-sm));
}
