.theme-dark .bar_c38106{
    .title_c38106{
        justify-content: flex-start;
        left: 16px;
        .guildIcon__85643{
            border-radius: 10px;
        }
        .defaultColor__4bd52{
            color: $TextFillColorSecondary;
        }
    }



    // Remove help button
    .trailing_c38106{
        gap: 0;
        a.anchor_edefb8{
            display: none;
        }
    }
    // Inbox
    .recentsIcon_c99c29{
        .button__85643{
            width: 46px;
            &::before{
                content: "\E715"; // Mail
                @include FontIconFluent;
            }
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            svg{
                display: none;
            }
        }
    }

    // window controls
    .winButtons_c38106{
        gap: 0;
    }
    .winButton_c38106{
        width: 46px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }

        // Close button
        &.winButtonClose_c38106{
            &:hover{
                background-color: #C42B1C;
            }
            &:active{
                background-color: rgba(#C42B1C, 90%);
            }

        }
    }
}


// Change titlebar name and controls colour when app is focused
html.theme-dark.app-focused{
    .title_c38106{
        .defaultColor__4bd52{
            color: $TextFillColorPrimary;
        }
    }
    .winButton_c38106{
        color: $TextFillColorPrimary;
    }

    // .defaultColor__4bd52,
    // .winButton__421ed{
    //     color: $TextFillColorPrimary;
    // }
}

// Make titlebar height 32px
.visual-refresh{
    --custom-app-top-bar-height: calc(20px + var(--space-sm));
}
