.theme-dark .titleBar-3AIemB{
    background-color: transparent;
    &.withFrame-1sEfxu{
        height: calc(32px - 4px);
    }
    .wordmarkWindows-1rsity{
        color: $TextFillColorDisabled;
        &::after{
            content: "Discord";
            top: 9px;
            left: 16px;
            display: block;
            position: absolute;
            @include TypeCaption;
        }
        svg{
            display: none;
        }
    }

    // Controls
    .winButton-3SigSb{
        width: 46px;
        height: 32px;
        background-color: transparent;
        color: $TextFillColorDisabled;
        transition: background-color $AnimationFadeInOut;

        &:hover{
            background-color: $ControlFillColorSecondary;
            color: $TextFillColorPrimary; // Always change button icon color to primary when hovering
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }

        &.winButtonClose-23zAIt{
            &:hover{
                background-color: #C42B1C;
            }
            &:active{
                background-color: rgba(#C42B1C, 90%);
            }
        }
    }
}

// Change titlebar name and controls colour when app is focused
html.theme-dark.app-focused{
    .wordmarkWindows-1rsity,
    .winButton-3SigSb{
        color: $TextFillColorPrimary;
    }
}
