// Order: Metadata, BD meta, User options, variables, reset
@import 'modules/core/metadata';
@import 'modules/betterdiscord/meta';
@import 'modules/core/options';
@import 'modules/core/variables';
@import 'modules/core/reset';

// Mixins
// Order: None, alpabetic
@import 'modules/mixins/font';
@import 'modules/mixins/type';

// Acrylic
// Order: None, alphabetic
@import 'modules/main/acrylic';

// UI
// Order: None, alphabetic
@import 'modules/ui/buttons';
@import 'modules/ui/context_menu';
@import 'modules/ui/form';
@import 'modules/ui/input';
@import 'modules/ui/scrollbar';
@import 'modules/ui/titlebar';
@import 'modules/ui/tooltip';

// Main UI
// Order: None, alphabetic
@import 'modules/main/call/call';
@import 'modules/main/channels/account';
@import 'modules/main/channels/channels';
@import 'modules/main/channels/rtc';
@import 'modules/main/chat/chat';
@import 'modules/main/chat/chatbox';
@import 'modules/main/chat/thread';
@import 'modules/main/chat/embeds/file';
@import 'modules/main/chat/embeds/invite';
@import 'modules/main/chat/embeds/mediaplayer';
@import 'modules/main/chat/embeds/spotify';
@import 'modules/main/chat/embeds/text';
@import 'modules/main/guilds/guilds';
@import 'modules/main/members/members';
@import 'modules/main/toolbar/search';
@import 'modules/main/toolbar/toolbar';
@import 'modules/home/activity';
@import 'modules/home/home';
@import 'modules/home/main';
@import 'modules/home/toolbar';

// Loadscreen
// Order: None, alphabetic
@import 'modules/loadscreen/loadscreen';

// Modals
// Order: None, alphabetic
@import 'modules/modals/add_server';
@import 'modules/modals/lightbox';
@import 'modules/modals/modal';

// Popouts
// Order: None, alphabetic
@import 'modules/popouts/inbox';
@import 'modules/popouts/noise_cancellation';
@import 'modules/popouts/pinned_messages';
@import 'modules/popouts/rtc';
@import 'modules/popouts/user';

// Settings
// Order: None, alphabetic
@import 'modules/settings/settings';
@import 'modules/settings/navigation';

// Icons
// Order: Language, then alphabetic
@import 'modules/translations/en-US';
@import 'modules/translations/en-GB';
@import 'modules/icons/main/account';
@import 'modules/icons/home/main';
@import 'modules/icons/main/toolbar';
@import 'modules/icons/settings/settings';

// Misc
// Order: None, alphabetic
@import 'modules/misc/loading';
@import 'modules/third_party/hljs';
