html[lang^="en-"].theme-dark .peopleList-2VBrVI{
    [aria-label="Message"]::before{
        content: "\e8bd"; // Message
    }
    [aria-label="More"]::before{
        content: "\e712"; // More
    }

    [aria-label="Unblock"]::before{
        content: "\e8f8"; // BlockContact
    }

    [aria-label="Accept"]::before{
        content: "\e8fb"; // Accept
    }
    [aria-label="Ignore"]::before{
        content: "\e711"; // Cancel
    }
    // Pending friend requests Cancel button
    [aria-label="Cancel"]::before{
        content: "\E711"; // Cancel
    }
}
