.theme-dark .nowPlayingColumn_f5023f{
    background: transparent;
    .container__0a6a9{
        background-color: $LayerFillColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .scroller__00e7e{
        border: 0;
    }

    // Header
    .header__123bf{
        @include TypeSubtitle;
    }

    // User data consent card
    .card_f887fe.outer_a41cf3{
        background-color: $LayerFillColorDefault;
        .header_f0a693,
        .defaultColor__77578 {
            text-align: left;
        }
    }

    // Card
    .wrapper__6e669{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        &:hover{
            background-color: $LayerFillColorAlt;
        }
    }
    .inset__0bfb3{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .section_efc22d{
            background-color: transparent;
        }
    }

    // Empty
    .emptyCard_f82dde{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        align-items: baseline;
        text-align: left;
    }
}
