.theme-dark .nowPlayingColumn__133bf{
    background: transparent;
    .container__7d20c{
        background-color: $LayerFillColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .scroller__7d20c{
        border: 0;
    }

    // Header
    .header__7d20c{
        @include TypeSubtitle;
    }

    // User data consent card
    .card__2eab1.outer_bf1984{
        background-color: $LayerFillColorDefault;
        .header__2eab1,
        .defaultColor__77578 {
            text-align: left;
        }
    }

    // Card
    .wrapper__00943{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        &:hover{
            background-color: $LayerFillColorAlt;
        }
    }
    .inset_bf1984{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .section__00943{
            background-color: transparent;
        }
    }

    // Empty
    .emptyCard__7e549{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        align-items: baseline;
        text-align: left;
    }
}
