.theme-dark .profilePanel__12596{
    .userProfileOuterUnthemed__48723{
        background-color: transparent;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .userPanelInnerThemed__1804b{
        background: $LayerFillColorDefault;
    }

    // Section title
    .title_ef4a6d,
    .headerText-3g1XK9{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    .overlayBackground__86b78{
        background-color: $LayerOnAcrylicFillColorDefult;
    }
}
