.theme-dark .profilePanel_e2cafe{
    .userProfileOuterUnthemed_e14365{
        background-color: transparent;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .userPanelInnerThemed_c2aed9{
        background: $LayerFillColorDefault;
    }

    // Section title
    .title__392bc,
    .headerText-3g1XK9{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    .overlayBackground__2666e{
        background-color: $LayerOnAcrylicFillColorDefult;
    }
}
