.theme-dark .profilePanel_b433b4{
    .userProfileOuterUnthemed_c69a7b{
        background-color: transparent;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .userPanelInnerThemed_c69a7b{
        background: $LayerFillColorDefault;
    }

    // Section title
    .title_c4a579,
    .headerText__2ef49{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    .overlayBackground_c69a7b{
        background-color: $LayerOnAcrylicFillColorDefult;
    }
}
