.theme-dark .profilePanel-2PWEok{
    .userProfileOuterUnthemed-2b2rsv{
        background-color: transparent;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .userPanelInnerThemed-2xZFjl{
        background: $LayerFillColorDefault;
    }

    // Section title
    .title-1r9MQ6,
    .headerText-3g1XK9{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    .overlayBackground-1KgwVi{
        background-color: $LayerOnAcrylicFillColorDefult;
    }
}