.theme-dark ._5e434347c823b592-sidebar{
    .e6b7699ce8339e1c-privateChannels{
        background-color: transparent;
    }

    .e6b7699ce8339e1c-searchBar{
        box-shadow: none;
        border-bottom: 0;
        button{
            background-color: transparent;
            @include TypeBody;
            color: $TextFillColorSecondary;
            text-align: center;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    ._99e7cad8d4c55236-scroller{
        background-color: transparent;
    }
}
