.theme-dark .sidebar__5e434{
    .privateChannels_e6b769{
        background-color: transparent;
    }

    .searchBar_e6b769{
        box-shadow: none;
        border-bottom: 0;
        button{
            background-color: transparent;
            @include TypeBody;
            color: $TextFillColorSecondary;
            text-align: center;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .scroller__99e7c{
        background-color: transparent;
    }
}
