.theme-dark .container_bd15da{
    // Body
    .tabBody_a90ea8{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
        &::before{
            display: none;
        }

        // Search bar
        .searchBar__310d8{
            margin: 18px 20px 8px 20px;
            background-color: transparent;
        }

        // Header
        .title_c42cad{
            @include TypeSubtitle;
            color: $TextFillColorPrimary;
            letter-spacing: normal;
            text-transform: none;
        }

        // Item
        .peopleListItem_dab480.active__6b8ff,
        .peopleListItem_dab480:hover{
            border-radius: 4px;
        }

        // Username
        .username__267df{
            @include TypeBodyStrong;
        }
        // User Status
        .text_bd79a3{
            @include TypeCaption;
        }

        // Buttons
        .actionButton__2b4bb{
            background-color: transparent;
            visibility: hidden;
        }

        // Show buttons when hovered
        .peopleListItem_dab480.active__6b8ff .actionButton__2b4bb,
        .peopleListItem_dab480:hover .actionButton__2b4bb{
            visibility: visible;
        }
    }

    // Empty
    .friendsEmpty__38a29{
        .image__08515{
            filter: brightness(200%)
        }
        .text__0e310{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }

    // Add friend
    .header__6ddae{
        padding: 20px;
    }
    .addFriendInputWrapper__2b30b{
        padding: 0;
        background-color: transparent;
        border: 0;
        .input_f27786{
            padding: 0 12px;
            letter-spacing: normal;
        }
    }
    // Remove hint text
    .addFriendHint__6eee6{
        display: none;
    }
}

// Icon replacements
html[lang^="en-"].theme-dark .container_bd15da{
    .actionButton__2b4bb{
        &::before{
            @include FontIconFluent;
            color: $TextFillColorSecondary;
        }
        svg{
            display: none;
        }
    }
}
