.theme-dark .container-2cd8Mz{
    // Body
    .tabBody-2dgbAs{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
        &::before{
            display: none;
        }

        // Search bar
        .searchBar-2aylmZ{
            background-color: transparent;
            .input-2m5SfJ{
                background-color: $ControlFillColorDefault;
                @include TypeBody;
                border: 1px solid;
                border-bottom-width: 2px;
                border-color: $ControlElevationBorder;
                border-radius: 4px;
                &:hover{
                    border-color: $ControlStrokeColorSecondary;
                }
                &:focus{
                    background-color: $ControlFillColorInputActiveBrush;
                    color: $TextFillColorPrimary;
                    border-color: $ControlElevationBorder;
                    border-bottom-color: $AccentBase;
                }
                &::placeholder{
                    color: $TextFillColorSecondary;
                }
            }
            .iconLayout-3Bjizv{
                position: absolute;
                right: 8px;
            }
        }

        // Header
        .title-x4dI75{
            @include TypeBodyLarge;
            letter-spacing: normal;
        }

        // Item
        .peopleListItem-u6dGxF.active-2UF8Zh,
        .peopleListItem-u6dGxF:hover{
            border-radius: 4px;
        }

        // Username
        .username-Qpc78p{
            @include TypeBodyStrong;
        }
        // User Status
        .text-MPIeXO{
            @include TypeCaption;
        }

        // Buttons
        .actionButton-3-B2x-{
            background-color: transparent;
            visibility: hidden;
        }

        // Show buttons when hovered
        .peopleListItem-u6dGxF.active-2UF8Zh .actionButton-3-B2x-,
        .peopleListItem-u6dGxF:hover .actionButton-3-B2x-{
            visibility: visible;
        }
    }

    // Empty
    .friendsEmpty-gs15T1{
        .image-20MDYu{
            filter: brightness(200%)
        }
        .text-27cdrj{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }

    // Add friend
    .addFriendInputWrapper-kkoSV9{
        padding: 0;
        background-color: transparent;
        border: 0;
    }
    // Remove hint text
    .addFriendHint-1EVQJY{
        display: none;
    }
}

// Icon replacements
html[lang^="en-"].theme-dark .container-2cd8Mz{
    .actionButton-3-B2x-{
        &::before{
            @include FontIconFluent;
            color: $TextFillColorSecondary;
        }
        svg{
            display: none;
        }
    }
}
