.theme-dark .container__5c7e7{
    // Body
    .tabBody_b3d268{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
        &::before{
            display: none;
        }

        // Search bar
        .searchBar_ff8800{
            margin: 18px 20px 8px 20px;
            background-color: transparent;
        }

        // Header
        .title_dc625c{
            @include TypeSubtitle;
            color: $TextFillColorPrimary;
            letter-spacing: normal;
            text-transform: none;
        }

        // Item
        .peopleListItem_d14722.active__6b8ff,
        .peopleListItem_d14722:hover{
            border-radius: 4px;
        }

        // Username
        .username__81ee6{
            @include TypeBodyStrong;
        }
        // User Status
        .text__1dddb{
            @include TypeCaption;
        }

        // Buttons
        .actionButton__23182{
            background-color: transparent;
            visibility: hidden;
        }

        // Show buttons when hovered
        .peopleListItem_d14722.active__6b8ff .actionButton__23182,
        .peopleListItem_d14722:hover .actionButton__23182{
            visibility: visible;
        }
    }

    // Empty
    .friendsEmpty__822fa{
        .image__98a59{
            filter: brightness(200%)
        }
        .text__1c14c{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }

    // Add friend
    .header__6113c{
        padding: 20px;
    }
    .addFriendInputWrapper__4bf8e{
        padding: 0;
        background-color: transparent;
        border: 0;
        .input_d266e7{
            padding: 0 12px;
            letter-spacing: normal;
        }
    }
    // Remove hint text
    .addFriendHint__6df3d{
        display: none;
    }
}

// Icon replacements
html[lang^="en-"].theme-dark .container__5c7e7{
    .actionButton__23182{
        &::before{
            @include FontIconFluent;
            color: $TextFillColorSecondary;
        }
        svg{
            display: none;
        }
    }
}
