.theme-dark .container__133bf{
    background-color: transparent;
    // Toolbar
    .container__9293f{
        background-color: transparent;

        // Remove icon
        .children__9293f > .iconWrapper__9293f{
            display: none;
        }

        // Remove additional padding from group DMs button
        .inviteToolbar__133bf{
            padding-right: 0;
        }

        // Tab bar
        .item__133bf{
            height: 36px;
            margin: 0 0 0 8px;
            border-radius: 0;
            color: $TextFillColorPrimary;
            @include TypeBody;
            &:hover{
                background-color: transparent;
                color: $TextFillColorSecondary;
            }
            &.selected_aa8da2{
                background-color: transparent;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $AccentLight1;
                    border-radius: 2px;
                    bottom: 2px;
                }
            }
            // Add friend button
            &.addFriend__133bf{
                background-color: transparent;
                &.selected_aa8da2{
                    color: $TextFillColorPrimary;
                }
            }

            // Badge
            .badge__133bf{
                background-color: $SystemFillColorCritical !important; // For some reason this is in line
                @include TypeCaption;
                color: $TextOnAccentFillColorPrimary;
            }
        }

        // Remove gradient on right-side of tab bar
        .children__9293f::after{
            display: none;
        }
        // Remove divider between Group DM and Inbox
        .divider__9293f{
            display: none;
        }
    }
}
