$translate: (
    // Metadata
    META_LANG: "Deutsch",
    META_LANG_CODE: "de",
    // Guilds
    HOME: "Home",
    // Channels
    CREATE_CHANNEL: "Kanal erstellen",
    GUILD_SIDEBAR_DEFAULT_CHANNEL_A11Y_LABEL: "(Textkanal)",
    GUILD_SIDEBAR_VOICE_CHANNEL_A11Y_LABEL: "(Sprachkanal)",
    // RTC controls
    USER_SETTINGS: "Benutzereinstellungen",
    DEAFEN: "Ein- und Ausgabe deaktivieren",
    UNDEAFEN: "Ein- und Ausgabe aktivieren",
    MUTE: "Stummschalten",
    UNMUTE: "Stummschaltung aufheben",
    CAMERA: "Kamera",
    CAMERA_ON: "Kamera anschalten",
    CAMERA_OFF: "Kamera ausschalten",
    CAMERA_UNAVAILABLE: "Kamera nicht verfügbar",
    SHARE_YOUR_SCREEN: "Bildschirm übertragen",
    SCREEN_SHARE_ON: "Bildschirmübertragung aktivieren",
    ACTIVITY_PANEL_GO_LIVE_STREAM_GAME: "streamen",
    STOP_STREAMING: "Streaming beenden",
    SERVICE_CONNECTIONS_DISCONNECT: "Verbindung trennen",
    AUDIENCE_DISCONNECT: "Leise gehen",
    NOISE_CANCELLATION_TOOLTIP: "Hintergrundgeräusch-Unterdrückung von Krisp",
    // Friends table
    SEND_DM: "Nachricht",
    MORE: "Mehr",
    FRIEND_REQUEST_ACCEPT: "Annehmen",
    FRIEND_REQUEST_IGNORE: "Ignorieren",
    UNBLOCK: "Blockierung aufheben",
    // Chat box
    PREMIUM_GIFT_BUTTON_LABEL: "Ein Geschenk senden",
    GIF_BUTTON_LABEL: "GIF-Auswahl öffnen",
    STICKER_BUTTON_LABEL: "Stickerauswahl öffnen",
    // Emoji categories
    EMOJI_CATEGORY_RECENT: "Häufig verwendet",
    EMOJI_CATEGORY_FAVORITES: "Favoriten",
    EMOJI_CATEGORY_CUSTOM: "Benutzerdefiniert",
    EMOJI_CATEGORY_ACTIVITY: "Aktivitäten",
    EMOJI_CATEGORY_FLAGS: "Flaggen",
    EMOJI_CATEGORY_FOOD: "Essen",
    EMOJI_CATEGORY_NATURE: "Natur",
    EMOJI_CATEGORY_OBJECTS: "Objekte",
    EMOJI_CATEGORY_PEOPLE: "Personen",
    EMOJI_CATEGORY_SYMBOLS: "Symbole",
    EMOJI_CATEGORY_TRAVEL: "Reisen",
    // Toolbar
    CHANNEL_MUTE_LABEL: "Kanal ",
    PINNED_MESSAGES: "Angepinnte Nachrichten",
    MEMBER_LIST: "Mitgliederliste",
    UPDATE_DOWNLOADED: "Update heruntergeladen!",
    INBOX: "Posteingang",
    HELP: "Hilfe",
    NEW_GROUP_DM: "Neuer Gruppenchat",
    START_VOICE_CALL: "Sprachanruf starten",
    START_VIDEO_CALL: "Videoanruf starten",
    GROUP_DM_ADD_FRIENDS: "Freunde zu Direktnachricht hinzufügen",
    VIDEO_CALL_AUTO_SELECT: "Zentriert"
);
