$translate: (
    // Metadata
    META_LANG: "English",
    META_LANG_CODE: "en-GB",
    // Guilds
    HOME: "Home",
    // Channels
    CREATE_CHANNEL: "Create Channel",
    GUILD_SIDEBAR_DEFAULT_CHANNEL_A11Y_LABEL: "(text channel)",
    GUILD_SIDEBAR_VOICE_CHANNEL_A11Y_LABEL: "(voice channel)",
    GUILD_SIDEBAR_ANNOUNCEMENT_CHANNEL_A11Y_LABEL: "(announcement channel)",
    STAGE_VOICE_CHANNEL: "Stage channel",
    // RTC controls
    USER_SETTINGS: "User settings",
    DEAFEN: "Deafen",
    UNDEAFEN: "Undeafen",
    MUTE: "Mute",
    UNMUTE: "Unmute",
    CAMERA: "Camera",
    CAMERA_ON: "Turn On Camera",
    CAMERA_OFF: "Turn Off Camera",
    CAMERA_UNAVAILABLE: "Camera Unavailable",
    SHARE_YOUR_SCREEN: "Share Your Screen",
    SCREEN_SHARE_ON: "Turn On Screen Share",
    ACTIVITY_PANEL_GO_LIVE_STREAM_GAME: "Stream",
    STOP_STREAMING: "Stop Streaming",
    SERVICE_CONNECTIONS_DISCONNECT: "Disconnect",
    AUDIENCE_DISCONNECT: "Exit Quietly",
    NOISE_CANCELLATION_TOOLTIP: "Noise Suppression powered by Krisp",
    // Friends table
    SEND_DM: "Message",
    MORE: "More",
    FRIEND_REQUEST_ACCEPT: "Accept",
    FRIEND_REQUEST_IGNORE: "Ignore",
    UNBLOCK: "Unblock",
    // Chat box
    PREMIUM_GIFT_BUTTON_LABEL: "Send a gift",
    GIF_BUTTON_LABEL: "Open GIF picker",
    STICKER_BUTTON_LABEL: "Open sticker picker",
    // Emoji categories
    EMOJI_CATEGORY_RECENT: "Frequently Used",
    EMOJI_CATEGORY_FAVORITES: "Favorites",
    EMOJI_CATEGORY_CUSTOM: "Custom",
    EMOJI_CATEGORY_ACTIVITY: "Activities",
    EMOJI_CATEGORY_FLAGS: "Flags",
    EMOJI_CATEGORY_FOOD: "Food",
    EMOJI_CATEGORY_NATURE: "Nature",
    EMOJI_CATEGORY_OBJECTS: "Objects",
    EMOJI_CATEGORY_PEOPLE: "People",
    EMOJI_CATEGORY_SYMBOLS: "Symbols",
    EMOJI_CATEGORY_TRAVEL: "Travel",
    // Toolbar
    THREADS: "Threads",
    CHANNEL_MUTE_LABEL: "Mute channel",
    PINNED_MESSAGES: "Pinned messages",
    MEMBER_LIST_SHOWN: "Hide Member List",
    MEMBER_LIST_HIDDEN: "Show Member List",
    UPDATE_DOWNLOADED: "Update Ready!",
    INBOX: "Inbox",
    HELP: "Help",
    NEW_GROUP_DM: "New group DM",
    START_VOICE_CALL: "Start voice call",
    START_VIDEO_CALL: "Start video call",
    GROUP_DM_ADD_FRIENDS: "Add friends to DM",
    VIDEO_CALL_AUTO_SELECT: "Focus",
    VIDEO_CALL_RETURN_TO_GRID: "Grid",
    NOTIFICATION_SETTINGS: "Notification settings",
    CLOSE: "Close",
    CREATE_AND_VIEW_EVENTS: "Create & View Events",
    STAGE_SETTINGS: "Stage Settings"
);
