$translate: (
    // Metadata
    META_LANG: "English",
    META_LANG_CODE: "en",
    // Guilds
    HOME: "Home",
    // Channels
    CREATE_CHANNEL: "",
    // RTC controls
    USER_SETTINGS: "",
    DEAFEN: "",
    UNDEAFEN: "",
    MUTE: "",
    UNMUTE: "",
    CAMERA: "",
    CAMERA_ON: "",
    CAMERA_OFF: "",
    CAMERA_UNAVAILABLE: "",
    SHARE_YOUR_SCREEN: "",
    SCREEN_SHARE_ON: "",
    ACTIVITY_PANEL_GO_LIVE_STREAM_GAME: "",
    STOP_STREAMING: "",
    SERVICE_CONNECTIONS_DISCONNECT: "",
    AUDIENCE_DISCONNECT: "",
    NOISE_CANCELLATION_TOOLTIP: "",
    // Friends table
    SEND_DM: "",
    MORE: "",
    FRIEND_REQUEST_ACCEPT: "",
    FRIEND_REQUEST_IGNORE: "",
    UNBLOCK: "",
    // Chat box
    PREMIUM_GIFT_BUTTON_LABEL: "",
    GIF_BUTTON_LABEL: "",
    STICKER_BUTTON_LABEL: "",
    // Emoji categories
    EMOJI_CATEGORY_RECENT: "",
    EMOJI_CATEGORY_FAVORITES: "",
    EMOJI_CATEGORY_CUSTOM: "",
    EMOJI_CATEGORY_ACTIVITY: "",
    EMOJI_CATEGORY_FLAGS: "",
    EMOJI_CATEGORY_FOOD: "",
    EMOJI_CATEGORY_NATURE: "",
    EMOJI_CATEGORY_OBJECTS: "",
    EMOJI_CATEGORY_PEOPLE: "",
    EMOJI_CATEGORY_SYMBOLS: "",
    EMOJI_CATEGORY_TRAVEL: "",
    // Toolbar
    CHANNEL_MUTE_LABEL: "",
    PINNED_MESSAGES: "",
    MEMBER_LIST_SHOWN: "",
    MEMBER_LIST_HIDDEN: "",
    UPDATE_DOWNLOADED: "",
    INBOX: "",
    NEW_GROUP_DM: "",
    START_VOICE_CALL: "",
    START_VIDEO_CALL: "",
    GROUP_DM_ADD_FRIENDS: "",
    VIDEO_CALL_AUTO_SELECT: "",
    VIDEO_CALL_RETURN_TO_GRID: "",
    NOTIFICATION_SETTINGS: "",
    CLOSE: ""
);
